Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

[SVLS-9302] validate cloud run ssi
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] use main container terminology
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] refine ssi config
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] pr feedback
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] define Cloud Run SSI configuration (#2423)
  packages/base/src/commands/cloud-run/constants.ts
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9307] pr feedback
  packages/base/src/commands/cloud-run/constants.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9307] manage native tracer environment
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9307] use main container terminology
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9307] fix getLanguageCompatibilityErrors reference
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] add Cloud Run SSI environment handlers (#2424)
  packages/base/src/commands/cloud-run/constants.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] extract cloud run service config
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-cloud-run/src/service-config.ts
Due: format, lint-readmes

[SVLS-9302] initial cleanup
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-cloud-run/src/service-config.ts
Due: format, lint-readmes

[SVLS-9302] cleanup and add more tests
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-cloud-run/src/service-config.ts
Due: format, lint-readmes

[SVLS-9302] separate Cloud Run configuration from command orchestration (#2425)
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-cloud-run/src/service-config.ts
Due: format, lint-readmes

Apply suggestion from @GabrielAnca
  packages/plugin-synthetics/README.md
Due: none

[SYNTH-28544] Fix bug when triggering a test suite (#2446)
  packages/base/src/helpers/request/datadog-route.ts
  packages/plugin-synthetics/README.md
  packages/plugin-synthetics/src/__tests__/batch.test.ts
  packages/plugin-synthetics/src/__tests__/fixtures.ts
  packages/plugin-synthetics/src/__tests__/reporters/__snapshots__/default.test.ts.snap
  packages/plugin-synthetics/src/__tests__/reporters/default.test.ts
  packages/plugin-synthetics/src/__tests__/test.test.ts
  packages/plugin-synthetics/src/api.ts
  packages/plugin-synthetics/src/batch.ts
  packages/plugin-synthetics/src/interfaces.ts
  packages/plugin-synthetics/src/reporters/default.ts
  packages/plugin-synthetics/src/test.ts
  packages/plugin-synthetics/src/utils/public.ts
Due: format, lint-readmes

fix(wasm-symbols): only upload files with embedded debug info, drop unused symbol_source
  packages/base/src/commands/wasm-symbols/README.md
  packages/base/src/commands/wasm-symbols/__tests__/upload.test.ts
  packages/base/src/commands/wasm-symbols/interfaces.ts
  packages/base/src/commands/wasm-symbols/upload.ts
Due: format, lint-readmes

Fix flaky check-*-changes CI jobs on dependency-bot PRs
  .github/workflows/ci.yml
Due: none

lint yaml
  .github/workflows/ci.yml
Due: none

fix typescript
  .vscode/settings.json
Due: lint-packages

[ci] Fix flaky `check-*-changes` CI jobs on ADMS PRs (#2448)
  .github/workflows/ci.yml
  .vscode/settings.json
Due: lint-packages

chore: stream e2e progress
  e2e/setup.ts
  jest.config-e2e.js
Due: format, lint-readmes

add test name
  e2e/setup.ts
Due: format, lint-readmes

chore: stream e2e progress (#2449)
  e2e/setup.ts
  jest.config-e2e.js
Due: format, lint-readmes

[dep] Bump `ip-address` to `10.5.0`
  yarn.lock
Due: none

[coverage] Add --ignored-source-paths to coverage upload
  packages/base/src/commands/coverage/upload.ts
  packages/base/src/helpers/__tests__/pattern-list.test.ts
  packages/base/src/helpers/pattern-list.ts
  packages/plugin-coverage/README.md
  packages/plugin-coverage/src/__tests__/api.test.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/interfaces.ts
Due: format, lint-readmes

v5.22.1
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

[coverage] Fix the --ignored-paths description on coverage upload
  packages/base/src/commands/coverage/upload.ts
  packages/plugin-coverage/README.md
Due: format, lint-readmes

[coverage] Document the character-class limit of --ignored-source-paths
  packages/base/src/helpers/__tests__/pattern-list.test.ts
  packages/base/src/helpers/pattern-list.ts
  packages/plugin-coverage/README.md
Due: format, lint-readmes

[coverage] Reject ignored source paths longer than 1000 characters
  packages/plugin-coverage/README.md
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/commands/upload.ts
Due: format, lint-readmes

[coverage] Assert report.ignored_source_paths is sent as an array
  packages/plugin-coverage/src/__tests__/api.test.ts
Due: format, lint-readmes

[coverage] Guard the array shape of report.ignored_source_paths
  packages/plugin-coverage/src/__tests__/api.test.ts
  packages/plugin-coverage/src/api.ts
Due: format, lint-readmes

[coverage] Spell out the cost of omitting report.ignored_source_paths
  packages/plugin-coverage/src/api.ts
Due: format, lint-readmes

[coverage] Correct the README on the reachable size limit
  packages/plugin-coverage/README.md
Due: none

[coverage] Qualify the OS argument limits per platform in the README
  packages/plugin-coverage/README.md
Due: none

[coverage] Quote each pattern in the ignored-source-paths debug line
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/commands/upload.ts
Due: format, lint-readmes

[coverage] Drop the macOS argument-size number from the README
  packages/plugin-coverage/README.md
Due: none

[coverage] Correct what the intake does with a wrong-typed tag
  packages/plugin-coverage/src/__tests__/api.test.ts
  packages/plugin-coverage/src/api.ts
Due: format, lint-readmes

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
