Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

[SVLS-8622] update tests
  packages/plugin-aas/src/__tests__/common.test.ts
Due: format, lint-readmes

[SVLS-8622] update tests
  packages/plugin-aas/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-aas/src/__tests__/instrument.test.ts
Due: format, lint-readmes

Use as const and yarn format
  packages/base/src/commands/terraform/upload.ts
  packages/plugin-terraform/src/utils.ts
Due: format, lint-readmes

Remove test
  packages/plugin-terraform/src/__tests__/upload.test.ts
Due: format, lint-readmes

Lint fix
  packages/plugin-terraform/src/commands/upload.ts
Due: format, lint-readmes

Fix tests
  packages/base/src/commands/plugin/__tests__/list.test.ts
Due: format, lint-readmes

Update packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/instrument.ts
Due: format, lint-readmes

[SVLS-8622] update wording
  README.md
  packages/datadog-ci/README.md
  packages/plugin-aas/README.md
  packages/plugin-aas/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/uninstrument.ts
  packages/plugin-aas/src/common.ts
Due: format, lint-readmes

[ADD] other serverless products to advanced-issue-labeler.yml
  .github/advanced-issue-labeler.yml
Due: none

[synthetics] Add batch ID to BatchTimeoutRunawayError
  packages/plugin-synthetics/src/__tests__/batch.test.ts
  packages/plugin-synthetics/src/batch.ts
  packages/plugin-synthetics/src/errors.ts
Due: format, lint-readmes

[synthetics] Add batch ID to BatchTimeoutRunawayError (#2136)
  packages/plugin-synthetics/src/__tests__/batch.test.ts
  packages/plugin-synthetics/src/batch.ts
  packages/plugin-synthetics/src/errors.ts
Due: format, lint-readmes

[ADD] other serverless products to advanced-issue-labeler.yml (#2135)
  .github/advanced-issue-labeler.yml
Due: none

[SVLS-8622] add web app slot support (#2130)
  README.md
  packages/base/src/commands/aas/common.ts
  packages/base/src/commands/aas/instrument.ts
  packages/base/src/commands/aas/uninstrument.ts
  packages/base/src/commands/container-app/common.ts
  packages/base/src/helpers/serverless/azure.ts
  packages/datadog-ci/README.md
  packages/plugin-aas/README.md
  packages/plugin-aas/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-aas/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-aas/src/__tests__/common.test.ts
  packages/plugin-aas/src/__tests__/common.ts
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/__tests__/uninstrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/uninstrument.ts
  packages/plugin-aas/src/common.ts
Due: format, lint-readmes

making the datadog-ci being able to read both canonical and legacy sbom component properties
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-both-legacy-canonical-properties.json
  packages/plugin-sbom/src/__tests__/payload.test.ts
  packages/plugin-sbom/src/constants.ts
  packages/plugin-sbom/src/payload.ts
Due: format, lint-packages, lint-readmes

removing support for the 'osv-scanner:package' property
  packages/plugin-sbom/src/__tests__/payload.test.ts
  packages/plugin-sbom/src/constants.ts
  packages/plugin-sbom/src/payload.ts
Due: format, lint-readmes

chore: auto-fix duplicate imports
  eslint.config.mjs
  packages/base/src/commands/cloud-run/constants.ts
Due: format, lint-readmes

chore: auto-fix duplicate imports (#2140)
  eslint.config.mjs
  packages/base/src/commands/cloud-run/constants.ts
Due: format, lint-readmes

add getDatadogSiteFromEnv helper
  packages/base/src/commands/dsyms/upload.ts
  packages/base/src/commands/elf-symbols/upload.ts
  packages/base/src/commands/flutter-symbols/upload.ts
  packages/base/src/commands/pe-symbols/upload.ts
  packages/base/src/commands/react-native/upload.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/commands/unity-symbols/upload.ts
  packages/base/src/helpers/api.ts
  packages/plugin-synthetics/src/commands/deploy-tests.ts
  packages/plugin-synthetics/src/commands/import-tests.ts
  packages/plugin-synthetics/src/commands/run-tests.ts
  packages/plugin-synthetics/src/commands/upload-application.ts
Due: format, lint-readmes

chore: consolidate api helpers
  packages/base/src/commands/dsyms/utils.ts
  packages/base/src/commands/git-metadata/api.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/helpers/api.ts
  packages/base/src/helpers/app.ts
  packages/base/src/helpers/base-intake-url.ts
  packages/base/src/helpers/metrics.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-deployment/src/commands/gate.ts
  packages/plugin-dora/src/api.ts
  packages/plugin-gate/src/utils.ts
  packages/plugin-junit/src/api.ts
  packages/plugin-sarif/src/utils.ts
  packages/plugin-terraform/src/api.ts
Due: format, lint-readmes

revert breaking changes
  packages/base/src/commands/git-metadata/api.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/helpers/api.ts
  packages/base/src/helpers/metrics.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-deployment/src/commands/gate.ts
Due: format, lint-readmes

quick fixes
  packages/base/src/commands/git-metadata/api.ts
  packages/base/src/helpers/api.ts
Due: format, lint-readmes

oops missed the serverless commands
  packages/base/src/helpers/serverless/common.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/instrument.ts
Due: format, lint-readmes

import
  packages/base/src/commands/measure/measure.ts
Due: format, lint-readmes

fix imports
  packages/base/src/commands/tag/tag.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
Due: format, lint-readmes

chore: fix shasum checks on windows
  .github/workflows/publish-release.yml
Due: none

chore: fix shasum checks on windows (#2142)
  .github/workflows/publish-release.yml
Due: none

Update to version 5.9.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

chore: consolidate api helpers (#2137)
  packages/base/src/commands/dsyms/upload.ts
  packages/base/src/commands/dsyms/utils.ts
  packages/base/src/commands/elf-symbols/upload.ts
  packages/base/src/commands/flutter-symbols/upload.ts
  packages/base/src/commands/git-metadata/api.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/pe-symbols/upload.ts
  packages/base/src/commands/react-native/upload.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/unity-symbols/upload.ts
  packages/base/src/helpers/api.ts
  packages/base/src/helpers/app.ts
  packages/base/src/helpers/base-intake-url.ts
  packages/base/src/helpers/metrics.ts
  packages/base/src/helpers/serverless/common.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-deployment/src/commands/gate.ts
  packages/plugin-dora/src/api.ts
  packages/plugin-gate/src/utils.ts
  packages/plugin-junit/src/api.ts
  packages/plugin-sarif/src/utils.ts
  packages/plugin-synthetics/src/commands/deploy-tests.ts
  packages/plugin-synthetics/src/commands/import-tests.ts
  packages/plugin-synthetics/src/commands/run-tests.ts
  packages/plugin-synthetics/src/commands/upload-application.ts
  packages/plugin-terraform/src/api.ts
Due: format, lint-readmes

chore: add api tests
  packages/base/src/helpers/__tests__/api.test.ts
Due: format, lint-readmes

chore: add api helper tests (#2143)
  packages/base/src/helpers/__tests__/api.test.ts
Due: format, lint-readmes

Remove obsolete `ref_protected` from STS trust policies
  .github/chainguard/self.issue-labeler.sts.yaml
Due: none

fix: only add safe.directory to git global config in CI and Docker contexts
  packages/base/package.json
  packages/base/src/commands/git-metadata/git.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

chore: add is-docker to LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Due: none

create new isCI() helper and use it
  packages/base/src/commands/git-metadata/git.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Only add `safe.directory` to git global config in CI and Docker contexts (#2152)
  LICENSE-3rdparty.csv
  packages/base/package.json
  packages/base/src/commands/git-metadata/git.ts
  packages/base/src/helpers/ci.ts
  yarn.lock
Due: format, lint-packages, lint-readmes
