Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

add sarif fixture files that were gitignored
  .gitignore
  e2e/fixtures/sarif-reports/sarif-report-2.sarif
  e2e/fixtures/sarif-reports/sarif-report.sarif
  e2e/sarif.test.ts
Due: format, lint-readmes

move Azure config from secrets to variables
  .github/workflows/ci.yml
  e2e/fixtures/container-app/README.md
Due: none

cleanup
  e2e/helpers/exec.ts
  e2e/helpers/junit-upload-checker.ts
Due: format, lint-readmes

chore: refactor e2e tests to jest (#2173)
  .github/workflows/ci.yml
  .github/workflows/e2e/container-app/verify-container-app.js
  .gitignore
  bin/check-junit-upload.js
  bin/lint-packages.ts
  e2e/container-app.test.ts
  e2e/fixtures/container-app/README.md
  e2e/fixtures/global.config.json
  e2e/fixtures/junit-reports/junit.xml
  e2e/fixtures/junit-reports/subfolder/junit-2.xml
  e2e/fixtures/sarif-reports/sarif-report-2.sarif
  e2e/fixtures/sarif-reports/sarif-report.sarif
  e2e/fixtures/sbom-reports/sbom.json
  e2e/fixtures/sourcemaps/main.js
  e2e/fixtures/sourcemaps/main.js.map
  e2e/fixtures/tests.synthetics.json
  e2e/helpers/container-app-verifier.ts
  e2e/helpers/exec.ts
  e2e/helpers/junit-upload-checker.ts
  e2e/junit.test.ts
  e2e/sarif.test.ts
  e2e/sbom.test.ts
  e2e/sourcemaps.test.ts
  e2e/synthetics.test.ts
  e2e/tsconfig.json
  e2e/version.test.ts
  jest.config-e2e.mjs
  package.json
  yarn.lock
Due: format, lint-packages, lint-readmes

chore: support local integration testing
  .gitignore
  e2e/helpers/exec.ts
  jest.config-e2e.mjs
Due: format, lint-readmes

chore: support local integration testing (#2174)
  .gitignore
  e2e/helpers/exec.ts
  jest.config-e2e.mjs
Due: format, lint-readmes

[SVLS-8731] add aas integration tests
  .github/workflows/ci.yml
  e2e/aas.test.ts
  e2e/fixtures/aas/README.md
  e2e/helpers/aas-verifier.ts
Due: format, lint-readmes

[SVLS-8731] add retry logic for transient Azure failures in aas e2e tests
  e2e/aas.test.ts
  e2e/helpers/exec.ts
Due: format, lint-readmes

[SVLS-8731] use random app names to avoid collisions on reruns, increase Windows test timeouts
  .github/workflows/ci.yml
  e2e/aas.test.ts
Due: format, lint-readmes

[SVLS-8731] fix empty plan removal
  e2e/aas.test.ts
Due: format, lint-readmes

[SVLS-8731] fix aas e2e: runtime quoting, keep-empty-plan, port type, empty API responses
  e2e/aas.test.ts
Due: format, lint-readmes

[SVLS-8731] lower retry delay to 5 seconds
  e2e/helpers/exec.ts
Due: format, lint-readmes

[SVLS-8731] use random names for container-app e2e tests to avoid collisions
  .github/workflows/ci.yml
  e2e/container-app.test.ts
Due: format, lint-readmes

[SVLS-8731] only retry on known transient Azure errors
  e2e/helpers/exec.ts
Due: format, lint-readmes

[SVLS-8731] split aas e2e tests into separate linux/windows files for parallel execution
  .github/workflows/ci.yml
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
  e2e/aas.test.ts
Due: format, lint-readmes

[SVLS-8731] add serverless e2e tests to CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: add cleanup function
  e2e/cleanup-function/.gitignore
  e2e/cleanup-function/host.json
  e2e/cleanup-function/package.json
  e2e/cleanup-function/src/functions/cleanupResources.ts
  e2e/cleanup-function/tsconfig.json
Due: format, lint-packages, lint-readmes

add stage and step levels support
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/__tests__/tag.test.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

ci-levels helper and readme update
  packages/base/src/commands/measure/README.md
  packages/base/src/commands/tag/README.md
  packages/base/src/helpers/ci-levels.ts
Due: format, lint-readmes

update mark test
  packages/plugin-deployment/src/__tests__/mark.test.ts
Due: format, lint-readmes

[chore] Enable `@typescript-eslint/consistent-type-imports` rule
  eslint.config.mjs
Due: none

fix(junit): disable entity processing during XML validation
  packages/plugin-junit/src/__tests__/upload.test.ts
  packages/plugin-junit/src/commands/upload.ts
Due: format, lint-readmes

[chore] Add `knip:strict` to `lint:packages` command
  bin/lint-packages.ts
  package.json
Due: format, lint-packages, lint-readmes

Fix issues reported by `knip:strict`
  packages/datadog-ci/package.json
  packages/plugin-coverage/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-terraform/package.json
  yarn.lock
Due: lint-packages

refactor(junit): inline parsed XML type assertion
  packages/plugin-junit/src/commands/upload.ts
Due: format, lint-readmes

test(junit): cover entity expansion regression
  packages/plugin-junit/src/__tests__/upload.test.ts
Due: format, lint-readmes

Add context
  bin/lint-packages.ts
Due: format, lint-readmes

style(junit): remove unnecessary XML parse cast
  packages/plugin-junit/src/commands/upload.ts
Due: format, lint-readmes

test(junit): drop non-regression large testcase check
  packages/plugin-junit/src/__tests__/upload.test.ts
Due: format, lint-readmes

fix(junit): align validator options with TypeScript types
  packages/plugin-junit/src/commands/upload.ts
Due: format, lint-readmes

style(junit): simplify validator options cast
  packages/plugin-junit/src/commands/upload.ts
Due: format, lint-readmes

feat: add `datadog-ci autotest` command for AI-powered PR review
  bin/lint-packages.ts
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/autotest/cli.ts
  packages/base/src/commands/autotest/diff-context.ts
  packages/base/src/commands/autotest/diff.ts
  packages/base/src/commands/autotest/review.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

v5.9.2
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

[dev] Fix unit test failing when no API/App keys set locally
  packages/base/src/helpers/__tests__/plugin.test.ts
Due: format, lint-readmes

[dev] Fail tests with clear message when objcopy is not installed
  packages/base/src/commands/elf-symbols/__tests__/elf.test.ts
  packages/base/src/commands/elf-symbols/__tests__/upload.test.ts
  packages/base/src/commands/unity-symbols/__tests__/upload.test.ts
Due: format, lint-readmes

feat: add execution-based PR validation, Datadog MCP, spinner, and raw logging
  packages/base/src/commands/autotest/diff-context.ts
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat(sourcemaps): support `--commit-sha` to bypass git
  packages/base/src/commands/sourcemaps/README.md
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/helpers/git/__tests__/format-git-sourcemaps-data.test.ts
  packages/base/src/helpers/git/format-git-sourcemaps-data.ts
Due: format, lint-readmes

fix: prevent agent from invoking live-debug-inputs as a Skill tool
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

chore: switch agent model to claude-opus-4-6
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes
