Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

Address PR comment
  bin/lint-packages.ts
  packages/base/src/commands/ci-env/__tests__/read.test.ts
  packages/base/src/commands/ci-env/cli.ts
  packages/base/src/commands/ci-env/read.ts
  packages/datadog-ci/src/__tests__/cli.test.ts
Due: format, lint-readmes

Enforce current behavior with tests
  packages/plugin-sarif/src/__tests__/fixtures/valid-results.invalid-time.sarif
  packages/plugin-sarif/src/__tests__/upload.test.ts
  packages/plugin-sbom/src/__tests__/fixtures/sbom.1.5.ok-invalid-time.json
  packages/plugin-sbom/src/__tests__/validation.test.ts
  packages/plugin-sbom/src/validation.ts
Due: format, lint-packages, lint-readmes

[ITR:NoSkip] Run `yarn up ajv-formats`
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  yarn.lock
Due: lint-packages

Align with sbom
  packages/plugin-sarif/src/validation.ts
Due: format, lint-readmes

Add file fixes generation for code coverage uploads
  packages/base/src/commands/coverage/upload.ts
  packages/plugin-coverage/src/__tests__/api.test.ts
  packages/plugin-coverage/src/__tests__/file-fixes.test.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/file-fixes.ts
  packages/plugin-coverage/src/interfaces.ts
Due: format, lint-readmes

Add improvements to file fixing logic
  packages/base/src/commands/coverage/upload.ts
  packages/plugin-coverage/src/__tests__/api.test.ts
  packages/plugin-coverage/src/__tests__/file-fixes.test.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/file-fixes.ts
  packages/plugin-coverage/src/interfaces.ts
Due: format, lint-readmes

Bump file-fixes limits and simplify size estimation
  packages/plugin-coverage/src/file-fixes.ts
Due: format, lint-readmes

[dep] Bump `ajv-formats` to `3.0.1` (#2124)
  packages/plugin-sarif/package.json
  packages/plugin-sarif/src/__tests__/fixtures/valid-results.invalid-time.sarif
  packages/plugin-sarif/src/__tests__/upload.test.ts
  packages/plugin-sarif/src/validation.ts
  packages/plugin-sbom/package.json
  packages/plugin-sbom/src/__tests__/fixtures/sbom.1.5.ok-invalid-time.json
  packages/plugin-sbom/src/__tests__/validation.test.ts
  packages/plugin-sbom/src/validation.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

[dep] Bump `@aws-sdk/credential-provider-ini`, `fast-xml-parser@5.3.6` (#2118)
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  yarn.lock
Due: lint-packages

Apply PR feedback and simplify block comment logic
  packages/plugin-coverage/src/__tests__/file-fixes.test.ts
  packages/plugin-coverage/src/file-fixes.ts
Due: format, lint-readmes

Fix formatting
  packages/plugin-coverage/src/__tests__/file-fixes.test.ts
Due: format, lint-readmes

chore: make plugin install message yellow instead of red
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

add actions runner paths to RUNNER_TEMP worker diag folder
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

send warns to stderr consistently
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

test(plugin-coverage): add false-positive regression cases for file fixes
  packages/plugin-coverage/src/__tests__/file-fixes.test.ts
Due: format, lint-readmes

fix(plugin-coverage): reduce file-fix false positives
  packages/plugin-coverage/src/file-fixes.ts
Due: format, lint-readmes

style(plugin-coverage): fix file-fixes lint formatting
  packages/plugin-coverage/src/file-fixes.ts
Due: format, lint-readmes

docs(plugin-coverage): add file-fixes flags to README
  packages/plugin-coverage/README.md
Due: none

[IACP-673] Add terraform upload command for IaC artifact ingestion
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/terraform/cli.ts
  packages/base/src/commands/terraform/upload.ts
  packages/plugin-terraform/README.md
  packages/plugin-terraform/package.json
  packages/plugin-terraform/src/api.ts
  packages/plugin-terraform/src/commands/upload.ts
  packages/plugin-terraform/src/interfaces.ts
  packages/plugin-terraform/src/renderer.ts
  packages/plugin-terraform/src/utils.ts
  packages/plugin-terraform/tsconfig.json
  tf_command_plan.md
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

Don't include implementation plan md
  tf_command_plan.md
Due: none

[IACP-673] Add comprehensive tests for terraform plugin
  packages/plugin-terraform/src/__tests__/api.test.ts
  packages/plugin-terraform/src/__tests__/fixtures/invalid.json
  packages/plugin-terraform/src/__tests__/fixtures/valid-plan.json
  packages/plugin-terraform/src/__tests__/fixtures/valid-state.json
  packages/plugin-terraform/src/__tests__/upload.test.ts
  packages/plugin-terraform/src/__tests__/utils.test.ts
Due: format, lint-packages, lint-readmes

Run yarn lint:packages
  .github/workflows/ci.yml
  container/Dockerfile
  packages/datadog-ci/shims/injected-plugin-submodules.js
  packages/plugin-terraform/package.json
  yarn.lock
Due: lint-packages

Re-apply suggestion
  packages/plugin-terraform/README.md
Due: none

[IACP-673] Fix ESLint errors in utils.test.ts
  packages/plugin-terraform/package.json
  packages/plugin-terraform/src/__tests__/utils.test.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

[IACP-673] Add FIPS support to terraform upload command
  packages/base/src/commands/terraform/upload.ts
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-terraform/src/commands/upload.ts
Due: format, lint-readmes

chore: make plugin install message yellow instead of red (#2126)
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

[SVLS-8622] update tests
  packages/base/src/commands/aas/common.ts
  packages/plugin-aas/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-aas/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-aas/src/__tests__/common.ts
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/__tests__/uninstrument.test.ts
Due: format, lint-readmes

[SVLS-8622] add validation tests
  packages/plugin-aas/src/__tests__/instrument.test.ts
Due: format, lint-readmes

[SVLS-8622] add web app slot support
  packages/base/src/commands/aas/common.ts
  packages/base/src/commands/aas/instrument.ts
  packages/base/src/commands/aas/uninstrument.ts
  packages/base/src/helpers/serverless/azure.ts
  packages/plugin-aas/README.md
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/uninstrument.ts
Due: format, lint-readmes

[SVLS-8622] fix resource parsing
  packages/base/src/commands/aas/common.ts
  packages/base/src/commands/container-app/common.ts
  packages/base/src/helpers/serverless/azure.ts
Due: format, lint-readmes

[SVLS-8622] update wording
  packages/plugin-aas/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-aas/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/__tests__/uninstrument.test.ts
Due: format, lint-readmes

Updates based on PR feedback
  packages/base/src/commands/terraform/upload.ts
  packages/plugin-terraform/README.md
  packages/plugin-terraform/src/__tests__/upload.test.ts
  packages/plugin-terraform/src/commands/upload.ts
  packages/plugin-terraform/src/renderer.ts
Due: format, lint-readmes

Update README, CODEOWNERS, and label yamls
  .github/CODEOWNERS
  .github/advanced-issue-labeler.yml
  .github/release.yml
  .github/workflows/pr-required-labels.yml
  README.md
Due: none

Lint fixes
  packages/plugin-terraform/src/renderer.ts
Due: format, lint-readmes

Run yarn format
  packages/plugin-terraform/src/renderer.ts
Due: format, lint-readmes

Update packages/plugin-terraform/README.md
  packages/plugin-terraform/README.md
Due: none

Remove redundant validation
  packages/plugin-terraform/src/commands/upload.ts
  packages/plugin-terraform/src/utils.ts
Due: format, lint-readmes

[SVLS-8622] fix windows detection
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/common.ts
Due: format, lint-readmes

Remove test
  packages/plugin-terraform/src/__tests__/utils.test.ts
Due: format, lint-readmes
