Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

test: remove upload.test.ts getHeadAndBase tests (not introduced by this PR)
  packages/plugin-coverage/src/__tests__/upload.test.ts
Due: format, lint-readmes

Add uk1.datadoghq.com as a supported Datadog site
  packages/base/src/constants.ts
  packages/base/src/helpers/__tests__/validation.test.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-container-app/README.md
  packages/plugin-lambda/README.md
  packages/plugin-lambda/src/__tests__/functions/instrument.part2.test.ts
  packages/plugin-lambda/src/functions/instrument.ts
Due: format, lint-readmes

feat(tag,measure): support additive comma-separated --level
  packages/base/src/commands/measure/README.md
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/README.md
  packages/base/src/commands/tag/__tests__/tag.test.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

fix(tag,measure): deterministically mock fs in fatal-level tests
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/tag/__tests__/tag.test.ts
Due: format, lint-readmes

fix(tag,measure): drop multi-level support from measure, polish tag README
  packages/base/src/commands/measure/README.md
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/README.md
Due: format, lint-readmes

Clean up and remove technical details
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/README.md
  packages/base/src/commands/tag/tag.ts
Due: format, lint-readmes

feat(sourcemaps): add --debug-id flag for web sourcemap uploads
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-debug-id/common.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-debug-id/common.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/interfaces.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

feat(sourcemaps): extract debug ID into own module and print it in upload output
  packages/base/src/commands/sourcemaps/__tests__/debugId.test.ts
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
  packages/base/src/commands/sourcemaps/interfaces.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

feat(tag): comma-separated `--level` (e.g. `--level pipeline,job`) (#2388)
  packages/base/src/commands/tag/README.md
  packages/base/src/commands/tag/__tests__/tag.test.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

refactor(sourcemaps): consolidate debug ID handling into debugId module
  packages/base/src/commands/sourcemaps/__tests__/debugId.test.ts
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-partial-debug-id/a.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-partial-debug-id/a.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-partial-debug-id/b.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-partial-debug-id/b.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
  packages/base/src/commands/sourcemaps/interfaces.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/commands/sourcemaps/validation.ts
Due: format, lint-readmes

docs(trace): surface the `trace span` subcommand
  packages/base/src/commands/trace/README.md
  packages/datadog-ci/README.md
Due: none

docs(span): make epoch timestamps explicit about UTC
  packages/base/src/commands/span/README.md
Due: none

feat(trace): add --span-id and --parent-id to `trace span`
  packages/base/src/commands/span/__tests__/span.test.ts
  packages/base/src/commands/span/span.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/interfaces.ts
Due: format, lint-readmes

feat(wasm-symbols): add wasm-symbols upload command
  .github/CODEOWNERS
  bin/lint-packages.ts
  packages/base/src/cli.ts
  packages/base/src/commands/wasm-symbols/README.md
  packages/base/src/commands/wasm-symbols/__tests__/upload.test.ts
  packages/base/src/commands/wasm-symbols/__tests__/wasm-test-helpers.ts
  packages/base/src/commands/wasm-symbols/__tests__/wasm.test.ts
  packages/base/src/commands/wasm-symbols/cli.ts
  packages/base/src/commands/wasm-symbols/helpers.ts
  packages/base/src/commands/wasm-symbols/interfaces.ts
  packages/base/src/commands/wasm-symbols/renderer.ts
  packages/base/src/commands/wasm-symbols/upload.ts
  packages/base/src/commands/wasm-symbols/wasm-constants.ts
  packages/base/src/commands/wasm-symbols/wasm.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/src/cli.ts
Due: format, lint-readmes

fix: add eslint-disable import-x/order to wasm-symbols cli.ts
  packages/base/src/commands/wasm-symbols/cli.ts
Due: format, lint-readmes

Make front readme less verbose
  packages/datadog-ci/README.md
Due: none

test: add wasm-symbols to cli.test.ts required-options fixture
  packages/datadog-ci/src/__tests__/cli.test.ts
Due: format, lint-readmes

docs(trace): surface the `trace span` subcommand (#2396)
  packages/base/src/commands/span/README.md
  packages/base/src/commands/trace/README.md
  packages/datadog-ci/README.md
Due: none

v5.21.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

strict regex
  packages/base/src/commands/sourcemaps/debugId.ts
Due: format, lint-readmes

Strict mode check
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

test(ci): verify RUNNER_TEMP-derived <root>/_diag job-name discovery
  packages/base/src/helpers/__tests__/ci.test.ts
Due: format, lint-readmes

fix(ci): find GitHub diagnostic logs at the runner home _diag
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

v5.21.1
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

fix(aas): honor HTTP_PROXY/HTTPS_PROXY during API key validation
  packages/base/src/helpers/__tests__/apikey.test.ts
  packages/base/src/helpers/apikey.ts
  packages/base/src/helpers/request.ts
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
Due: format, lint-readmes

Update packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/instrument.ts
Due: format, lint-readmes

fix(sourcemaps): allow --project-path with --debug-id, forbid --minified-path-prefix instead
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

fix(sourcemaps): don't report missing debug ID when no sourcemaps were found
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

v5.21.2
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

chore: require admin release approvals
  bin/check-npm-packages.sh
Due: none

test npm pre-approval check
  .github/workflows/test-npm-preapproval.yml
Due: none

fix pre-approval test SHA
  .github/workflows/test-npm-preapproval.yml
Due: none

remove pre-approval test workflow
  .github/workflows/test-npm-preapproval.yml
Due: none

fix: remove wasm-symbols from beta commands
  packages/base/src/commands/wasm-symbols/README.md
  packages/datadog-ci/README.md
  packages/datadog-ci/src/cli.ts
Due: format, lint-readmes

Improve git metadata API error messages
  packages/base/src/commands/git-metadata/__tests__/gitdb.test.ts
  packages/base/src/commands/git-metadata/gitdb.ts
Due: format, lint-readmes

Handle all git metadata request failures
  packages/base/src/commands/git-metadata/__tests__/gitdb.test.ts
  packages/base/src/commands/git-metadata/gitdb.ts
Due: format, lint-readmes

Onboard off public-images GitLab job-token trigger, use dd-pkg publish-image
  .gitlab-ci.yml
Due: none

Add ci.pipeline.display_name tag for Buildkite
  packages/base/src/helpers/__tests__/ci-env/buildkite.json
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
  packages/base/src/helpers/interfaces.ts
  packages/base/src/helpers/tags.ts
Due: format, lint-packages, lint-readmes
