Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

feat: coverage-config param support
  eslint.config.mjs
  packages/base/src/commands/coverage/upload.ts
  packages/plugin-coverage/README.md
  packages/plugin-coverage/package.json
  packages/plugin-coverage/src/__tests__/api.test.ts
  packages/plugin-coverage/src/__tests__/fixtures/code-coverage.datadog.yml
  packages/plugin-coverage/src/__tests__/fixtures/empty-coverage-config.yml
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/interfaces.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

gitlab-ci: add missing runner tag to dd-pkg publish job
  .gitlab-ci.yml
Due: none

Use dd-pkg v0.9.3 for public image publication
  .gitlab-ci.yml
Due: none

Improve git metadata API error messages (#2411)
  packages/base/src/commands/git-metadata/__tests__/gitdb.test.ts
  packages/base/src/commands/git-metadata/gitdb.ts
Due: format, lint-readmes

Comment out display_name in CI pipeline configuration
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Update interfaces.ts
  packages/base/src/helpers/interfaces.ts
Due: format, lint-readmes

Update ci.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

coverage: upload the coverage config and CODEOWNERS as attachments
  packages/base/src/commands/coverage/upload.ts
  packages/plugin-coverage/README.md
  packages/plugin-coverage/src/__tests__/api.test.ts
  packages/plugin-coverage/src/__tests__/repo-files.test.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/interfaces.ts
  packages/plugin-coverage/src/renderer.ts
  packages/plugin-coverage/src/repo-files.ts
Due: format, lint-readmes

coverage: fix the getSearchRoots test on Windows
  packages/plugin-coverage/src/__tests__/repo-files.test.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
Due: format, lint-readmes

coverage: chunk uploads by total size as well as attachment count
  packages/plugin-coverage/src/__tests__/api-multipart.test.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/renderer.ts
Due: format, lint-readmes

fix(wasm-symbols): fix type string and drop unused arch/source-url flags
  packages/base/src/commands/wasm-symbols/README.md
  packages/base/src/commands/wasm-symbols/__tests__/upload.test.ts
  packages/base/src/commands/wasm-symbols/__tests__/wasm.test.ts
  packages/base/src/commands/wasm-symbols/interfaces.ts
  packages/base/src/commands/wasm-symbols/renderer.ts
  packages/base/src/commands/wasm-symbols/upload.ts
  packages/base/src/commands/wasm-symbols/wasm-constants.ts
  packages/base/src/commands/wasm-symbols/wasm.ts
Due: format, lint-readmes

[docs] Improve docs around plugins
  MIGRATING.md
  packages/datadog-ci/README.md
Due: none

don't say "they"
  packages/datadog-ci/README.md
Due: none

[docs] Improve docs around plugins (#2431)
  MIGRATING.md
  packages/datadog-ci/README.md
Due: none

[docs] Improve formatting for plugin commands
  packages/datadog-ci/README.md
Due: none

[docs] Improve formatting for plugin commands (#2435)
  packages/datadog-ci/README.md
Due: none

v5.22.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

Set IMG_REGISTRIES on the public image publish job
  .gitlab-ci.yml
Due: none

chore: add mention of clipanion/typanion validators
  AGENTS.md
Due: none

chore: make skills and codeowners agent agnostic
  .claude/skills/create-plugin/SKILL.md
  .claude/skills/write-tests/SKILL.md
  .github/CODEOWNERS
Due: none

add agents skills
  .agents/skills
  .gitignore
Due: none

chore: add mention of clipanion/typanion validators (#2438)
  AGENTS.md
Due: none

chore: make skills and codeowners agent agnostic (#2439)
  .agents/skills
  .claude/skills/create-plugin/SKILL.md
  .claude/skills/write-tests/SKILL.md
  .github/CODEOWNERS
  .gitignore
Due: none

[SVLS-9307] simplify language metadata
  packages/base/src/helpers/serverless/__tests__/ssi/tracer.test.ts
  packages/base/src/helpers/serverless/ssi/tracer.ts
Due: format, lint-readmes

[SVLS-9307] tracer metadata foundation
  packages/base/src/helpers/serverless/__tests__/ssi/tracer.test.ts
  packages/base/src/helpers/serverless/ssi/tracer.ts
Due: format, lint-readmes

[SVLS-9307] environment fragment ownership
  packages/base/src/helpers/serverless/__tests__/ssi/env.test.ts
  packages/base/src/helpers/serverless/ssi/env.ts
Due: format, lint-readmes

[SVLS-9307] simplify
  packages/base/src/helpers/serverless/__tests__/ssi/env.test.ts
  packages/base/src/helpers/serverless/ssi/env.ts
Due: format, lint-readmes

[SVLS-9307] simplify environment fragments
  packages/base/src/helpers/serverless/ssi/env.ts
Due: format, lint-readmes

[SVLS-9306] simplify runtime copy
  packages/base/src/helpers/serverless/__tests__/ssi/runtime-copy.test.ts
  packages/base/src/helpers/serverless/ssi/runtime-copy.ts
Due: format, lint-readmes

[SVLS-9306] runtime copy foundation
  packages/base/src/helpers/serverless/__tests__/runtime-copy.test.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/base/src/helpers/serverless/runtime-copy.ts
Due: format, lint-readmes

[SVLS-9307] cleanup
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
Due: format, lint-readmes

[SVLS-9307] simplify
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
Due: format, lint-readmes

[SVLS-9306] organize shared runtime copy
  packages/base/src/helpers/serverless/__tests__/ssi/runtime-copy.test.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/base/src/helpers/serverless/ssi/runtime-copy.ts
Due: format, lint-readmes

[SVLS-9307] language injection specifications
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
Due: format, lint-readmes

[SVLS-9302] validate cloud run ssi
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] cleanup
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] feedback
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] refine ssi config
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] remove unused constants
  packages/base/src/commands/cloud-run/constants.ts
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
