Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

[dep] Bump `simple-git` to `3.33.0`
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-terraform/package.json
  yarn.lock
Due: lint-packages

[dep] Bump `simple-git` to `3.33.0` (#2155)
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-terraform/package.json
  yarn.lock
Due: lint-packages

[dep] Bump basic-ftp to 5.2.0 (dependabot alert #98)
  yarn.lock
Due: none

[dep] Bump minimatch 10.x to 10.2.4 (dependabot alerts #99, #102)
  packages/base/package.json
  yarn.lock
Due: lint-packages

[dep] Bump minimatch 9.x and 3.x to patched versions
  package.json
  yarn.lock
Due: lint-packages

[SVLS] implement SSI for cloud run
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS] update readme
  packages/plugin-cloud-run/README.md
Due: none

[SVLS] format and fix tests
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
Due: format, lint-readmes

[SVLS] implement SSI for container apps
  packages/base/src/commands/container-app/common.ts
  packages/base/src/commands/container-app/instrument.ts
  packages/base/src/helpers/serverless/ssi.ts
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-container-app/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/__tests__/uninstrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/uninstrument.ts
Due: format, lint-readmes

[SVLS] fix tests
  packages/plugin-container-app/src/__tests__/instrument.test.ts
Due: format, lint-readmes

[SVLS] update readme
  packages/plugin-container-app/README.md
Due: none

v5.9.1
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

feat(synthetics): add `synthetics run-local` POC command
  packages/base/src/commands/synthetics/cli.ts
  packages/base/src/commands/synthetics/run-local.ts
  packages/plugin-synthetics/src/__tests__/fixtures.ts
  packages/plugin-synthetics/src/api.ts
  packages/plugin-synthetics/src/commands/run-local.ts
  packages/plugin-synthetics/src/interfaces.ts
  packages/plugin-synthetics/src/run-local-lib.ts
Due: format, lint-readmes

Implemented ci.job.url feature
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/test-utils.ts
  packages/base/src/helpers/ci.ts
  packages/plugin-junit/src/commands/upload.ts
Due: format, lint-readmes

added functionality to extract job id when using github actions (#2156)
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/test-utils.ts
  packages/base/src/helpers/ci.ts
  packages/plugin-junit/src/commands/upload.ts
Due: format, lint-readmes

[SYNTH-24187] Add `planDryRun` public API and `--dry-run` flag to `run-tests`
  packages/base/src/commands/synthetics/run-tests.ts
  packages/plugin-synthetics/src/__tests__/fixtures.ts
  packages/plugin-synthetics/src/__tests__/reporters/__snapshots__/default.test.ts.snap
  packages/plugin-synthetics/src/__tests__/reporters/default.test.ts
  packages/plugin-synthetics/src/__tests__/run-tests-lib.test.ts
  packages/plugin-synthetics/src/__tests__/test.test.ts
  packages/plugin-synthetics/src/commands/run-tests.ts
  packages/plugin-synthetics/src/index.ts
  packages/plugin-synthetics/src/interfaces.ts
  packages/plugin-synthetics/src/reporters/default.ts
  packages/plugin-synthetics/src/run-tests-lib.ts
  packages/plugin-synthetics/src/test.ts
  packages/plugin-synthetics/src/utils/internal.ts
  packages/plugin-synthetics/src/utils/public.ts
Due: format, lint-readmes

[SVLS-7940] add container-app integration tests
  .github/workflows/ci.yml
  .github/workflows/e2e/container-app/README.md
  .github/workflows/e2e/container-app/main.bicep
  .github/workflows/e2e/container-app/verify-container-app.js
Due: none

[SVLS-7940] work across all versions
  .github/workflows/ci.yml
  .github/workflows/e2e/container-app/main.bicep
Due: none

[SVLS-7940] fix paralellization
  .github/workflows/ci.yml
Due: none

[SVLS-7940] narrow down changes
  .github/workflows/ci.yml
Due: none

[SVLS-7940] unique per run
  .github/workflows/ci.yml
  .github/workflows/e2e/container-app/README.md
  .github/workflows/e2e/container-app/main.bicep
Due: none

[SVLS-7940] cleanup
  .github/workflows/e2e/container-app/README.md
  .github/workflows/e2e/container-app/main.bicep
Due: none

Address comments
  packages/plugin-synthetics/src/utils/internal.ts
Due: format, lint-readmes

[chore] Update CODEOWNERS to reflect monorepo package structure
  .github/CODEOWNERS
Due: none

Improve sourcemaps upload output formatting
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

[SYNTH-20532] Centralize simple-git usage behind GitClient type and newSimpleGit factory
  eslint.config.mjs
  packages/base/src/commands/elf-symbols/upload.ts
  packages/base/src/commands/flutter-symbols/upload.ts
  packages/base/src/commands/git-metadata/__tests__/git.test.ts
  packages/base/src/commands/git-metadata/__tests__/library.test.ts
  packages/base/src/commands/git-metadata/git.ts
  packages/base/src/commands/git-metadata/gitdb.ts
  packages/base/src/commands/git-metadata/library.ts
  packages/base/src/commands/git-metadata/upload.ts
  packages/base/src/commands/pe-symbols/upload.ts
  packages/base/src/commands/react-native/upload.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/commands/unity-symbols/upload.ts
  packages/base/src/helpers/git/format-git-sourcemaps-data.ts
  packages/base/src/helpers/git/format-git-span-data.ts
  packages/base/src/helpers/git/get-git-data.ts
  packages/base/src/helpers/git/git-client.ts
  packages/base/src/helpers/serverless/source-code-integration.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/file-fixes.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-dora/src/commands/deployment.ts
  packages/plugin-junit/src/commands/upload.ts
  packages/plugin-terraform/src/commands/upload.ts
Due: format, lint-readmes

[SVLS-7940] add container-app integration tests (#2170)
  .github/workflows/ci.yml
  .github/workflows/e2e/container-app/README.md
  .github/workflows/e2e/container-app/verify-container-app.js
Due: none

[SYNTH-24187] Add `planDryRun` public API and `--dry-run` flag to `run-tests` (#2165)
  packages/base/src/commands/synthetics/run-tests.ts
  packages/plugin-synthetics/src/__tests__/fixtures.ts
  packages/plugin-synthetics/src/__tests__/reporters/__snapshots__/default.test.ts.snap
  packages/plugin-synthetics/src/__tests__/reporters/default.test.ts
  packages/plugin-synthetics/src/__tests__/run-tests-lib.test.ts
  packages/plugin-synthetics/src/__tests__/test.test.ts
  packages/plugin-synthetics/src/commands/run-tests.ts
  packages/plugin-synthetics/src/index.ts
  packages/plugin-synthetics/src/interfaces.ts
  packages/plugin-synthetics/src/reporters/default.ts
  packages/plugin-synthetics/src/run-tests-lib.ts
  packages/plugin-synthetics/src/test.ts
  packages/plugin-synthetics/src/utils/internal.ts
  packages/plugin-synthetics/src/utils/public.ts
Due: format, lint-readmes

Merge pull request #2172 from DataDog/corentin.girard/update-codeowners
  .github/CODEOWNERS
Due: none

Improve sourcemaps upload output formatting (#2171)
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

chore: refactor e2e tests to jest
  .github/workflows/ci.yml
  .github/workflows/e2e/container-app/verify-container-app.js
  .github/workflows/e2e/sarif-reports/sarif-report-2.sarif
  .github/workflows/e2e/sarif-reports/sarif-report.sarif
  bin/check-junit-upload.js
  bin/lint-packages.ts
  e2e/container-app.test.ts
  e2e/fixtures/container-app/README.md
  e2e/fixtures/global.config.json
  e2e/fixtures/junit-reports/junit.xml
  e2e/fixtures/junit-reports/subfolder/junit-2.xml
  e2e/fixtures/sbom-reports/sbom.json
  e2e/fixtures/sourcemaps/main.js
  e2e/fixtures/sourcemaps/main.js.map
  e2e/fixtures/tests.synthetics.json
  e2e/helpers/container-app-verifier.ts
  e2e/helpers/exec.ts
  e2e/helpers/junit-upload-checker.ts
  e2e/junit.test.ts
  e2e/sarif.test.ts
  e2e/sbom.test.ts
  e2e/sourcemaps.test.ts
  e2e/synthetics.test.ts
  e2e/tsconfig.json
  e2e/version.test.ts
  jest.config-e2e.mjs
  package.json
  yarn.lock
Due: format, lint-packages, lint-readmes

wip
  eslint.config.mjs
  packages/base/src/commands/elf-symbols/upload.ts
  packages/base/src/commands/flutter-symbols/upload.ts
  packages/base/src/commands/git-metadata/__tests__/git.test.ts
  packages/base/src/commands/git-metadata/__tests__/library.test.ts
  packages/base/src/commands/git-metadata/library.ts
  packages/base/src/commands/git-metadata/upload.ts
  packages/base/src/commands/pe-symbols/upload.ts
  packages/base/src/commands/react-native/upload.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/commands/unity-symbols/upload.ts
  packages/base/src/helpers/git/format-git-span-data.ts
  packages/base/src/helpers/git/git-client.ts
  packages/base/src/helpers/serverless/source-code-integration.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-dora/src/commands/deployment.ts
  packages/plugin-junit/src/commands/upload.ts
  packages/plugin-terraform/src/__tests__/upload.test.ts
  packages/plugin-terraform/src/commands/upload.ts
Due: format, lint-readmes

fix ci
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

fix e2e tests using wrong API key due to DATADOG_API_KEY leaking from process env
  e2e/junit.test.ts
  e2e/sarif.test.ts
  e2e/sbom.test.ts
Due: format, lint-readmes

add error logging to sarif test and fix sbom key mismatch
  e2e/sarif.test.ts
  e2e/sbom.test.ts
Due: format, lint-readmes

debug sarif test with absolute path and directory listing
  e2e/sarif.test.ts
Due: format, lint-readmes

try passing specific sarif file paths to bypass glob
  e2e/sarif.test.ts
Due: format, lint-readmes

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
