Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

Use `--ignore-scripts` when installing plugins with `npx`
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Add regex validation on version overrides
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Add synpack configuration to always pin exact versions
  .syncpackrc.json
  package.json
  yarn.lock
Due: lint-packages

Pin currently locked versions to exact versions
  package.json
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
  yarn.lock
Due: lint-packages

feat(elf-symbols): support separate debug info files via .gnu_debuglink
  packages/base/src/commands/elf-symbols/__tests__/elf.test.ts
  packages/base/src/commands/elf-symbols/__tests__/upload.test.ts
  packages/base/src/commands/elf-symbols/elf.ts
  packages/base/src/commands/elf-symbols/upload.ts
Due: format, lint-readmes

[security] Pin all direct dependencies to exact versions (#2195)
  .syncpackrc.json
  package.json
  packages/base/package.json
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
  yarn.lock
Due: format, lint-packages, lint-readmes

v5.11.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

[SVLS] format and fix tests
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
Due: format, lint-readmes

[SVLS] update readme
  packages/plugin-cloud-run/README.md
Due: none

[SVLS] implement SSI for cloud run
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS] update readme
  packages/plugin-container-app/README.md
Due: none

[SVLS] fix tests
  packages/plugin-container-app/src/__tests__/instrument.test.ts
Due: format, lint-readmes

[SVLS] implement SSI for container apps
  packages/base/src/commands/container-app/common.ts
  packages/base/src/commands/container-app/instrument.ts
  packages/base/src/helpers/serverless/ssi.ts
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-container-app/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/__tests__/uninstrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/uninstrument.ts
Due: format, lint-readmes

[SVLS] fix formatting
  packages/plugin-cloud-run/src/commands/instrument.ts
Due: format, lint-readmes

Add note about plugin installation in readme
  README.md
Due: none

Promote secure ways to install datadog-ci
  README.md
Due: none

Print datadog-ci version in all commands
  packages/datadog-ci/src/cli.ts
Due: format, lint-readmes

Warn when using `npx`
  packages/base/src/helpers/plugin.ts
  packages/datadog-ci/src/cli.ts
Due: format, lint-readmes

Print plugin version when plugin is used
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Unit tests
  packages/base/src/helpers/__tests__/plugin.test.ts
Due: format, lint-readmes

Reorganize and avoid importing `chalk` from `datadog-ci`
  e2e/version.test.ts
  packages/base/src/helpers/__tests__/npx.test.ts
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/npx.ts
  packages/base/src/helpers/plugin.ts
  packages/base/src/version.ts
  packages/datadog-ci/src/cli.ts
Due: format, lint-readmes

Improve wording
  packages/base/src/helpers/npx.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Address PR comments
  README.md
Due: none

[sbom] Add --source CLI flag to differentiate upload origins
  packages/base/src/commands/sbom/upload.ts
  packages/plugin-sbom/src/api.ts
  packages/plugin-sbom/src/commands/upload.ts
Due: format, lint-readmes

Fix lint: move CILevel to type-only imports
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/tag.ts
Due: format, lint-readmes

chore: bump azure/login v2→v3 and dorny/paths-filter v3→v4
  .github/workflows/ci.yml
Due: none

chore: bump azure/login v2→v3 and dorny/paths-filter v3→v4 (#2210)
  .github/workflows/ci.yml
Due: none

Revert "Fix lint: move CILevel to type-only imports"
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/tag.ts
Due: format, lint-readmes

Reapply "Fix lint: move CILevel to type-only imports"
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/tag.ts
Due: format, lint-readmes

[dep] Bump `basic-ftp` to `5.2.0` (#2157)
  yarn.lock
Due: none

[K9VULN-12981] Add `--source` CLI flag for upload origin (#2202)
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/sbom/upload.ts
  packages/base/src/commands/tag/tag.ts
  packages/plugin-sbom/src/api.ts
  packages/plugin-sbom/src/commands/upload.ts
Due: format, lint-readmes

[dep] Bump minimatch 10.x to 10.2.4 (dependabot alerts #99, #102)
  packages/base/package.json
  yarn.lock
Due: lint-packages

minimatch@3.x.x
  yarn.lock
Due: none

minimatch@9.x.x
  yarn.lock
Due: none

RUMS-5750: fix ios bundle lookup path for inject-debug-id command
  packages/base/src/commands/react-native/__tests__/inject-debug-id.test.ts
  packages/base/src/commands/react-native/injectDebugId.ts
Due: format, lint-readmes

RUMS-5750: added 'bundle' and 'sourcemap' flags to inject-debug-id
  packages/base/src/commands/react-native/__tests__/inject-debug-id.test.ts
  packages/base/src/commands/react-native/injectDebugId.ts
Due: format, lint-readmes

RUMS-5750: updated README.md for inject-debug-id command
  packages/base/src/commands/react-native/README.md
Due: none

RUMS-5750: fix lint issues
  packages/base/src/commands/react-native/__tests__/inject-debug-id.test.ts
Due: format, lint-readmes

RUMS-5750: inject-debug-id exit when provided sourcemap does not exist
  packages/base/src/commands/react-native/__tests__/inject-debug-id.test.ts
  packages/base/src/commands/react-native/injectDebugId.ts
Due: format, lint-readmes

[dep] Bump minimatch 3.x, 9.x and 10.x (#2158)
  packages/base/package.json
  yarn.lock
Due: lint-packages
