Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

v5.13.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

debug: log GitHub API responses to stderr to diagnose post_pr_comment failures
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: post PR comment programmatically after AI loop (MCP tool had Stream closed errors)
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: add pr_url tag to telemetry metrics
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: use pr number tag only, not url
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: move postPrComment into finally block so it runs even after abort timeout
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

debug: log prInfo/dryRun/resultLen before postPrComment
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

debug: use console.error for postPrComment debug
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

debug: write debug files from execute + finally + postPrComment
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: write debug/log files to HOME dir (nobody cant write to CI_PROJECT_DIR)
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: remove broken execute() debug, fix finally debug to use proper imports
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: post PR comment inside for-await loop (SDK calls process.exit after stream ends)
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

[chore] Fix race condition with split publish order
  package.json
Due: lint-packages

[chore] Fix double-write of plugin version
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Update tests
  packages/base/src/helpers/__tests__/plugin.test.ts
Due: format, lint-readmes

format
  packages/base/src/helpers/__tests__/plugin.test.ts
Due: format, lint-readmes

fix: use repoDir (git checkout) as agent cwd, not HOME (which is not a git repo)
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix(ci): use jobId to disambiguate Worker logs on multi-runners sharing same planId
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Parse datadog:opaque property from CycloneDX SBOM in datadog-ci
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-opaque.json
  packages/plugin-sbom/src/__tests__/payload.test.ts
  packages/plugin-sbom/src/__tests__/validation.test.ts
  packages/plugin-sbom/src/constants.ts
  packages/plugin-sbom/src/payload.ts
  packages/plugin-sbom/src/types.ts
Due: format, lint-packages, lint-readmes

fix: move timeoutHandle before try block to avoid ReferenceError in finally
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: only post PR comment on first main agent result (prevent subagent summary from overwriting full report)
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

[chore] Refine ci-app ownership
  .github/CODEOWNERS
Due: none

fix: capture report from assistant messages (result field can be empty)
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

[chore] Refine `ci-app-*` ownership (#2272)
  .github/CODEOWNERS
Due: none

fix(base): parse content-type media type exactly for JSON detection
  packages/base/src/helpers/__tests__/request.test.ts
  packages/base/src/helpers/request.ts
Due: format, lint-readmes

Add non-regression test
  e2e/git-metadata.test.ts
Due: format, lint-readmes

fix(request): Fix JSON response parsing for v2 endpoints (#2273)
  e2e/git-metadata.test.ts
  packages/base/src/helpers/__tests__/request.test.ts
  packages/base/src/helpers/request.ts
Due: format, lint-readmes

[chore] Fix race condition with split publish order (#2267)
  package.json
Due: lint-packages

[chore] Fix double-write of plugin version (#2266)
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

v5.13.1
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

[SYNTH-23450] Add JSON report for `synthetics run-tests`
  packages/base/src/commands/synthetics/run-tests.ts
  packages/plugin-synthetics/README.md
  packages/plugin-synthetics/src/__tests__/config-fixtures/config-with-all-keys.json
  packages/plugin-synthetics/src/__tests__/fixtures.ts
  packages/plugin-synthetics/src/__tests__/reporters/file.test.ts
  packages/plugin-synthetics/src/__tests__/reporters/json.test.ts
  packages/plugin-synthetics/src/__tests__/reporters/junit.test.ts
  packages/plugin-synthetics/src/__tests__/run-tests-lib.test.ts
  packages/plugin-synthetics/src/commands/__tests__/run-tests.test.ts
  packages/plugin-synthetics/src/commands/run-tests.ts
  packages/plugin-synthetics/src/examples/global-config-complete-example.json
  packages/plugin-synthetics/src/index.ts
  packages/plugin-synthetics/src/interfaces.ts
  packages/plugin-synthetics/src/reporters/default.ts
  packages/plugin-synthetics/src/reporters/file.ts
  packages/plugin-synthetics/src/reporters/json.ts
  packages/plugin-synthetics/src/reporters/junit.ts
  packages/plugin-synthetics/src/run-tests-lib.ts
Due: format, lint-packages, lint-readmes

Fix tests
  packages/base/src/helpers/__tests__/plugin.test.ts
Due: format, lint-readmes

Fix `publish:all` script
  package.json
Due: lint-packages

Restore scripts
  package.json
Due: lint-packages

[SVLS] implement SSI for cloud run
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS] update readme
  packages/plugin-cloud-run/README.md
Due: none

[SVLS] fix tests
  packages/plugin-container-app/src/__tests__/instrument.test.ts
Due: format, lint-readmes

[SVLS] fix formatting
  packages/plugin-cloud-run/src/commands/instrument.ts
Due: format, lint-readmes

[SVLS] format and fix tests
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
Due: format, lint-readmes
