Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

stabilize container app e2e
  e2e/serverless/container-app/container-app-ssi.test.ts
  e2e/serverless/helpers/telemetry-checker.ts
Due: format, lint-readmes

stabilize container app e2e (#2507)
  e2e/serverless/container-app/container-app-ssi.test.ts
  e2e/serverless/helpers/telemetry-checker.ts
Due: format, lint-readmes

preserve array order in serverless config diffs
  packages/base/src/helpers/serverless/__tests__/common.test.ts
  packages/base/src/helpers/serverless/common.ts
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/uninstrument.test.ts.snap
Due: format, lint-readmes

[SVLS-9317] initial implementation
  packages/base/src/commands/aas/common.ts
  packages/base/src/commands/aas/instrument.ts
  packages/base/src/helpers/request.ts
  packages/plugin-aas/README.md
  packages/plugin-aas/package.json
  packages/plugin-aas/src/__tests__/ssi.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/uninstrument.ts
  packages/plugin-aas/src/common.ts
  packages/plugin-aas/src/kudu.ts
  packages/plugin-aas/src/ssi-dependencies.d.ts
  packages/plugin-aas/src/ssi-env.ts
  packages/plugin-aas/src/ssi-stage.ts
  packages/plugin-aas/src/ssi.ts
  packages/plugin-synthetics/src/tunnel/tunnel.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

[SVLS-9317] harden Kudu staging
  e2e/serverless/aas/aas-linux.test.ts
  packages/plugin-aas/src/kudu.ts
Due: format, lint-readmes

[SVLS-9317] add AAS SSI E2E coverage
  e2e/serverless/aas/aas-linux.test.ts
  e2e/serverless/aas/aas-verifier.ts
Due: format, lint-readmes

[SVLS-9317] fix AAS SSI staging
  LICENSE-3rdparty.csv
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/__tests__/ssi.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/kudu.ts
  packages/plugin-aas/src/ssi-env.ts
  packages/plugin-aas/src/ssi-stage.ts
Due: format, lint-readmes

[SVLS-9317] fix design issues
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/plugin-aas/README.md
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/__tests__/uninstrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/uninstrument.ts
  packages/plugin-aas/src/ssi-env.ts
Due: format, lint-readmes

[SVLS-9317] fix Kudu command execution
  e2e/serverless/aas/aas-linux.test.ts
  packages/plugin-aas/src/kudu.ts
Due: format, lint-readmes

[SVLS-9317] stabilize SSI E2E fixture
  e2e/serverless/aas/aas-linux.test.ts
Due: format, lint-readmes

[SVLS-9317] fix SSI E2E Kudu URL
  e2e/serverless/aas/aas-linux.test.ts
Due: format, lint-readmes

[SVLS-9317] stabilize SSI E2E verification
  e2e/serverless/aas/aas-verifier.ts
  e2e/serverless/helpers/telemetry-checker.ts
Due: format, lint-readmes

[SVLS-9317] make SSI E2E deployment deterministic
  e2e/serverless/aas/aas-linux.test.ts
Due: format, lint-readmes

[SVLS-9317] show complete SSI E2E errors
  e2e/serverless/aas/aas-linux.test.ts
Due: format, lint-readmes

use unix socket transport by default + add install info
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

add datadog-log-router
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

yarn lint
  packages/base/src/commands/ecs-fargate/cli.ts
Due: format, lint-readmes

Add ecs-fargate instrument
  .github/CODEOWNERS
  .github/advanced-issue-labeler.yml
  .github/workflows/ci.yml
  LICENSE-3rdparty.csv
  container/Dockerfile
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/ecs-fargate/cli.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/plugin/__tests__/list.test.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-ecs-fargate/LICENSE
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
  packages/plugin-ecs-fargate/tsconfig.json
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/src/cli.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

add configuration flags for ecs-fargate instrument
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

drop tool info vars
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

dont block succesful apps, if some apps fail + instrument/deploy each app individually + parallelism
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
Due: format, lint-readmes

block log router on windows tasks
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

extend platform aware matching to api key filtering
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

Support windows platforms
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

uninstrument command
  packages/base/src/commands/ecs-fargate/cli.ts
  packages/base/src/commands/ecs-fargate/common.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/ecs-fargate/uninstrument.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/__tests__/uninstrument.test.ts
  packages/plugin-ecs-fargate/src/apps.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/commands/uninstrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/common.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/ecs-fargate/uninstrument.ts
  packages/datadog-ci/README.md
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-synthetics/src/tunnel/tunnel.ts
Due: format, lint-packages, lint-readmes

[SVLS-9317] retry Azure provisioning delays
  e2e/helpers/exec.ts
Due: format, lint-readmes

[SVLS-9317] wait for AAS provisioning
  e2e/serverless/aas/aas-linux.test.ts
Due: format, lint-readmes

v5.24.1
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

Use glob's unbundled entry point to pick up minimatch security fixes
  eslint.config.mjs
  packages/base/src/helpers/glob.ts
Due: format, lint-readmes

[SVLS-9317] harden E2E timing
  e2e/serverless/aas/aas-verifier.ts
  e2e/serverless/helpers/traffic.ts
Due: format, lint-readmes

improve synthetics e2e
  e2e/synthetics.test.ts
Due: format, lint-readmes

[SVLS-8827] fix npmMinimalAgeGate units
  .yarnrc.yml
  yarn.lock
Due: none

Update .yarnrc.yml
  .yarnrc.yml
Due: none

[SVLS-8827] fix npmMinimalAgeGate units (#2512)
  .yarnrc.yml
  yarn.lock
Due: none

chore: bump @aws-sdk/client-lambda for nodejs26.x
  packages/plugin-lambda/package.json
  yarn.lock
Due: lint-packages

[SVLS-9317] tolerate empty kudu deployment history
  packages/plugin-aas/src/kudu.ts
Due: format, lint-readmes

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
