Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

deploy windows app via AAD (CI principal now has Website Contributor); drop basic-auth toggle
  e2e/aas-windows.test.ts
Due: format, lint-readmes

enable basic-auth publishing on the windows app so zipdeploy works with the CI principal
  e2e/aas-windows.test.ts
Due: format, lint-readmes

instrument aas with the e2e telemetry-query org key so spans/logs land where the checker looks
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
Due: format, lint-readmes

chore: add telemetry checks to AAS web app e2e tests (#2365)
  .github/workflows/ci.yml
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
  e2e/helpers/aas-verifier.ts
  e2e/helpers/exec.ts
  e2e/helpers/telemetry-checker.ts
Due: format, lint-readmes

chore: refactor serverless e2e tests
  .github/CODEOWNERS
  .github/workflows/ci.yml
  e2e/helpers/cloud-run-telemetry-checker.ts
  e2e/serverless/aas-linux.test.ts
  e2e/serverless/aas-windows.test.ts
  e2e/serverless/cloud-run.test.ts
  e2e/serverless/container-app.test.ts
  e2e/serverless/helpers/aas-verifier.ts
  e2e/serverless/helpers/cloud-run-verifier.ts
  e2e/serverless/helpers/container-app-verifier.ts
  e2e/serverless/helpers/lambda-verifier.ts
  e2e/serverless/helpers/telemetry-checker.ts
  e2e/serverless/helpers/traffic.ts
  e2e/serverless/lambda.test.ts
Due: format, lint-readmes

collapse e2e helper filters to glob
  .github/workflows/ci.yml
Due: none

group serverless e2e tests by package
  .github/workflows/ci.yml
  e2e/serverless/aas/aas-linux.test.ts
  e2e/serverless/aas/aas-verifier.ts
  e2e/serverless/aas/aas-windows.test.ts
  e2e/serverless/cloud-run/cloud-run-verifier.ts
  e2e/serverless/cloud-run/cloud-run.test.ts
  e2e/serverless/container-app/container-app-verifier.ts
  e2e/serverless/container-app/container-app.test.ts
  e2e/serverless/lambda/lambda-verifier.ts
  e2e/serverless/lambda/lambda.test.ts
Due: format, lint-readmes

format
  e2e/serverless/lambda/lambda.test.ts
Due: format, lint-readmes

chore: refactor serverless e2e tests (#2371)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  e2e/helpers/cloud-run-telemetry-checker.ts
  e2e/serverless/aas/aas-linux.test.ts
  e2e/serverless/aas/aas-verifier.ts
  e2e/serverless/aas/aas-windows.test.ts
  e2e/serverless/cloud-run/cloud-run-verifier.ts
  e2e/serverless/cloud-run/cloud-run.test.ts
  e2e/serverless/container-app/container-app-verifier.ts
  e2e/serverless/container-app/container-app.test.ts
  e2e/serverless/helpers/telemetry-checker.ts
  e2e/serverless/helpers/traffic.ts
  e2e/serverless/lambda/lambda-verifier.ts
  e2e/serverless/lambda/lambda.test.ts
Due: format, lint-readmes

feat(logger): add global `--log-format json` option (#2372)
  .github/CODEOWNERS
  eslint.config.mjs
  packages/base/src/__tests__/index.test.ts
  packages/base/src/__tests__/version.test.ts
  packages/base/src/commands/git-metadata/upload.ts
  packages/base/src/commands/plugin/list.ts
  packages/base/src/constants.ts
  packages/base/src/helpers/__tests__/testing-tools.ts
  packages/base/src/helpers/logger.ts
  packages/base/src/index.ts
  packages/base/src/version.ts
  packages/datadog-ci/src/cli.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-deployment/src/commands/gate.ts
  packages/plugin-dora/src/commands/deployment.ts
  packages/plugin-gate/src/commands/evaluate.ts
  packages/plugin-junit/src/commands/upload.ts
  packages/plugin-synthetics/src/commands/upload-application.ts
  packages/plugin-terraform/src/commands/upload.ts
  plans/index.md
  plans/json-logging-migration.md
Due: format, lint-readmes

chore: fix Windows AAS e2e by shipping web.config so IIS serves the node app
  e2e/serverless/aas/aas-windows.test.ts
Due: format, lint-readmes

remove redundant node version app setting now that runtime is set at create time
  e2e/serverless/aas/aas-windows.test.ts
Due: format, lint-readmes

chore: fix flaky Windows AAS e2e with a self-contained test app (#2376)
  e2e/serverless/aas/aas-windows.test.ts
Due: format, lint-readmes

chore: fix e2e premature close and flaky ARM Alpine apk.static download
  .github/workflows/ci.yml
  e2e/helpers/api-client.ts
  e2e/helpers/junit-upload-checker.ts
  e2e/serverless/helpers/telemetry-checker.ts
Due: format, lint-readmes

chore: fix e2e premature close and flaky ARM Alpine apk.static download (#2378)
  .github/workflows/ci.yml
  e2e/helpers/api-client.ts
  e2e/helpers/junit-upload-checker.ts
  e2e/serverless/helpers/telemetry-checker.ts
Due: format, lint-readmes

[SVLS-9256] auto-mark dd env sticky on slot instrumentation
  packages/plugin-aas/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/common.ts
Due: format, lint-readmes

[SVLS-9256] auto-mark dd env sticky on slot instrumentation (#2340)
  packages/plugin-aas/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/common.ts
Due: format, lint-readmes

[SVLS-9186] add Windows .NET Function App support to aas instrument
  packages/plugin-aas/src/__tests__/common.test.ts
  packages/plugin-aas/src/__tests__/common.ts
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/__tests__/uninstrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/uninstrument.ts
  packages/plugin-aas/src/common.ts
Due: format, lint-readmes

feat(trace): add --no-capture flag to omit command arguments from reported spans
  packages/base/src/commands/trace/README.md
  packages/base/src/commands/trace/__tests__/trace.test.ts
  packages/base/src/commands/trace/trace.ts
Due: format, lint-readmes

[SVLS-9186] add Windows Function App support to aas instrument (#2357)
  packages/plugin-aas/src/__tests__/common.test.ts
  packages/plugin-aas/src/__tests__/common.ts
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/__tests__/uninstrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/uninstrument.ts
  packages/plugin-aas/src/common.ts
Due: format, lint-readmes

run yarn
  yarn.lock
Due: none

feat(trace): add `--no-capture` flag to omit command arguments from reported spans (#2380)
  packages/base/src/commands/trace/README.md
  packages/base/src/commands/trace/__tests__/trace.test.ts
  packages/base/src/commands/trace/trace.ts
Due: format, lint-readmes

ci: pre-fetch x86_64 apk.static to work around flaky gitlab mirror
  .github/workflows/ci.yml
Due: none

fix(trace): write diagnostics to stderr so they don't corrupt captured stdout
  packages/base/src/commands/span/__tests__/span.test.ts
  packages/base/src/commands/span/span.ts
  packages/base/src/commands/trace/__tests__/trace.test.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/test-utils.ts
  packages/base/src/commands/trace/trace.ts
Due: format, lint-readmes

fix(version): write banner to stderr and allow disabling it
  packages/base/src/__tests__/version.test.ts
  packages/base/src/constants.ts
  packages/base/src/version.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/src/__tests__/version-banner.test.ts
  packages/datadog-ci/src/cli.ts
  standalone-e2e/standalone-smoke.test.ts
Due: format, lint-readmes

Update comment for apk.static pre-fetch step
  .github/workflows/ci.yml
Due: none

fix(trace): write diagnostics to stderr so they don't corrupt captured stdout (#2375)
  packages/base/src/__tests__/version.test.ts
  packages/base/src/commands/span/__tests__/span.test.ts
  packages/base/src/commands/span/span.ts
  packages/base/src/commands/trace/__tests__/trace.test.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/test-utils.ts
  packages/base/src/commands/trace/trace.ts
  packages/base/src/constants.ts
  packages/base/src/version.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/src/__tests__/version-banner.test.ts
  packages/datadog-ci/src/cli.ts
  standalone-e2e/standalone-smoke.test.ts
Due: format, lint-readmes

5.20.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

[FIX] tag command
  RELEASING.md
Due: none

chore: fix tag command (#2390)
  RELEASING.md
Due: none

v5.20.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

v5.20.1
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

chore: bump dd-octo-sts-action to v1.0.4 for node24
  .github/workflows/issue-labeler.yml
  .github/workflows/publish-release.yml
Due: none

chore: bump dd-octo-sts-action to v1.0.4 for node24 (#2393)
  .github/workflows/issue-labeler.yml
  .github/workflows/publish-release.yml
Due: none

fix(coverage): fetch base branch before merge-base for envs with shallow clone
  packages/plugin-coverage/src/commands/upload.ts
Due: format, lint-readmes

fix(coverage): fetch base branch before merge-base for shallow-clone CIs
  packages/plugin-coverage/src/commands/upload.ts
Due: format, lint-readmes

test(coverage): add unit tests for getHeadAndBase branch fetch behaviour
  packages/plugin-coverage/src/__tests__/upload.test.ts
Due: format, lint-readmes

fix: correct TypeScript key type in getHeadAndBase tests
  packages/plugin-coverage/src/__tests__/upload.test.ts
Due: format, lint-readmes

fix(ci): map BITBUCKET_PR_DESTINATION_COMMIT to base branch SHA
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/commands/upload.ts
Due: format, lint-readmes

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
