Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

[SVLS-9308] pr feedback
  e2e/serverless/container-app/container-app-ssi.test.ts
Due: format, lint-readmes

[SVLS-9308] use Azure SSI fixture
  .github/workflows/ci.yml
  e2e/serverless/container-app/container-app-ssi.test.ts
Due: format, lint-readmes

[SVLS-9308] enable Container Apps tracer injection (#2473)
  packages/base/src/commands/container-app/common.ts
  packages/base/src/commands/container-app/instrument.ts
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/base/src/helpers/serverless/ssi/tracer.ts
  packages/base/src/helpers/serverless/ssi/tracing.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
  packages/plugin-container-app/README.md
  packages/plugin-container-app/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/__tests__/ssi.test.ts
  packages/plugin-container-app/src/__tests__/uninstrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/uninstrument.ts
  packages/plugin-container-app/src/common.ts
  packages/plugin-container-app/src/ssi.ts
Due: format, lint-readmes

[SVLS-9308] Container Apps SSI E2E tests (#2474)
  .github/workflows/ci.yml
  e2e/serverless/container-app/container-app-ssi.test.ts
  e2e/serverless/container-app/container-app-verifier.ts
Due: format, lint-readmes

RUM-18297: add maui-symbols upload command for .NET MAUI Portable PDBs
  bin/lint-packages.ts
  packages/base/src/cli.ts
  packages/base/src/commands/maui-symbols/__tests__/fixtures/invalidManifest.json
  packages/base/src/commands/maui-symbols/__tests__/fixtures/manifest.json
  packages/base/src/commands/maui-symbols/__tests__/fixtures/notJson.json
  packages/base/src/commands/maui-symbols/__tests__/fixtures/pdbs/MyApp.Core.pdb
  packages/base/src/commands/maui-symbols/__tests__/fixtures/pdbs/MyApp.pdb
  packages/base/src/commands/maui-symbols/__tests__/fixtures/pdbs/Untracked.pdb
  packages/base/src/commands/maui-symbols/__tests__/manifest.test.ts
  packages/base/src/commands/maui-symbols/__tests__/upload.test.ts
  packages/base/src/commands/maui-symbols/cli.ts
  packages/base/src/commands/maui-symbols/helpers.ts
  packages/base/src/commands/maui-symbols/interfaces.ts
  packages/base/src/commands/maui-symbols/manifest.ts
  packages/base/src/commands/maui-symbols/renderer.ts
  packages/base/src/commands/maui-symbols/upload.ts
Due: format, lint-packages, lint-readmes

RUM-18297: rename maui-symbols command scope to ppdb-symbols
  bin/lint-packages.ts
  packages/base/src/cli.ts
  packages/base/src/commands/maui-symbols/cli.ts
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/invalidManifest.json
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/manifest.json
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/notJson.json
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/pdbs/MyApp.Core.pdb
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/pdbs/MyApp.pdb
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/pdbs/Untracked.pdb
  packages/base/src/commands/ppdb-symbols/__tests__/manifest.test.ts
  packages/base/src/commands/ppdb-symbols/__tests__/upload.test.ts
  packages/base/src/commands/ppdb-symbols/cli.ts
  packages/base/src/commands/ppdb-symbols/helpers.ts
  packages/base/src/commands/ppdb-symbols/interfaces.ts
  packages/base/src/commands/ppdb-symbols/manifest.ts
  packages/base/src/commands/ppdb-symbols/renderer.ts
  packages/base/src/commands/ppdb-symbols/upload.ts
Due: format, lint-packages, lint-readmes

Use [] instead of [*] for the array-wildcard path segment
  packages/plugin-synthetics/src/__tests__/utils/paths.test.ts
  packages/plugin-synthetics/src/batch.ts
  packages/plugin-synthetics/src/reporters/json.ts
  packages/plugin-synthetics/src/utils/paths.ts
Due: format, lint-readmes

RUM-18297: fix case-sensitive manifest lookup and empty-string debug ID handling
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/arrayManifest.json
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/caseMismatchManifest.json
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/emptyDebugIdManifest.json
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/notapdb.txt
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/scalarManifest.json
  packages/base/src/commands/ppdb-symbols/__tests__/manifest.test.ts
  packages/base/src/commands/ppdb-symbols/__tests__/upload.test.ts
  packages/base/src/commands/ppdb-symbols/manifest.ts
  packages/base/src/commands/ppdb-symbols/upload.ts
Due: format, lint-packages, lint-readmes

RUM-18297: detect ambiguous case-insensitive manifest matches in ppdb-symbols
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/ambiguousCaseManifest.json
  packages/base/src/commands/ppdb-symbols/__tests__/manifest.test.ts
  packages/base/src/commands/ppdb-symbols/__tests__/upload.test.ts
  packages/base/src/commands/ppdb-symbols/manifest.ts
  packages/base/src/commands/ppdb-symbols/renderer.ts
  packages/base/src/commands/ppdb-symbols/upload.ts
Due: format, lint-packages, lint-readmes

add serverless package guidance
  AGENTS.md
  packages/base/src/helpers/serverless/AGENTS.md
Due: none

[SVLS-9308] full runtime e2e coverage
  e2e/serverless/container-app/container-app-ssi.test.ts
  e2e/serverless/container-app/container-app-verifier.ts
Due: format, lint-readmes

chore: migrate formatting to oxfmt
  .github/workflows/ci.yml
  .oxfmtrc.json
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  .zed/settings.json
  AGENTS.md
  LICENSE-3rdparty.csv
  eslint.config.mjs
  package.json
  packages/plugin-coverage/src/file-fixes.ts
  packages/plugin-synthetics/src/__tests__/build-and-test.test.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

keep the same format
  .github/workflows/ci.yml
  AGENTS.md
  package.json
Due: lint-packages

chore: align tsconfig with ts7
  tsconfig.base.json
Due: lint-packages

fix lint:ci shell redirection
  package.json
Due: lint-packages

align type-aware lint coverage
  .oxlintrc.json
Due: lint-packages

fix types
  e2e/tsconfig.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: lint-packages

[SVLS-9308] full language coverage for container app single-language ssi e2e (#2485)
  e2e/serverless/container-app/container-app-ssi.test.ts
  e2e/serverless/container-app/container-app-verifier.ts
Due: format, lint-readmes

[SVLS-9313] enable automatic tracer detection
  e2e/serverless/container-app/container-app-ssi.test.ts
  e2e/serverless/container-app/container-app-verifier.ts
  packages/base/src/commands/container-app/instrument.ts
  packages/base/src/helpers/serverless/ssi/composite.ts
  packages/base/src/helpers/serverless/ssi/tracer.ts
  packages/plugin-container-app/README.md
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/__tests__/ssi.test.ts
  packages/plugin-container-app/src/__tests__/uninstrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] activate cloud run single language ssi
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
Due: format, lint-readmes

[SVLS-9302] activate cloud run apm instrumentation
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/constants.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/service-config.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9313] move the warning for better visibility
  packages/plugin-container-app/src/commands/instrument.ts
Due: format, lint-readmes

[SVLS-9302] support all tracer images
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] use main container terminology
  packages/plugin-cloud-run/README.md
Due: none

[SVLS-9313] clean up rebase
  e2e/serverless/container-app/container-app-ssi.test.ts
Due: format, lint-readmes

[SVLS-9302] choose cloud run tracer registry
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/constants.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] align on datadog-tracer
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
Due: format, lint-readmes

[SVLS-9302] configure tracer readiness port
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
Due: format, lint-readmes

[SVLS-9302] fix cloud run tests
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
Due: format, lint-readmes

[SVLS-9302] fixup backcompat
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/constants.ts
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/service-config.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] format
  packages/plugin-cloud-run/src/commands/instrument.ts
Due: format, lint-readmes

[SVLS-9302] pr feedback
  packages/base/src/commands/cloud-run/instrument.ts
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/service-config.ts
Due: format, lint-readmes

[SVLS-9302] fix agent health port
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/service-config.ts
Due: format, lint-readmes

[SVLS-9302] add disk backed tracer volume
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/constants.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/service-config.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] update flag
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
Due: format, lint-readmes

[SVLS-9302] preserve Cloud Run ownership
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/service-config.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] preserve tracer cleanup
  packages/plugin-cloud-run/src/service-config.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

preserve array order in serverless config diffs
  packages/base/src/helpers/serverless/__tests__/common.test.ts
  packages/base/src/helpers/serverless/common.ts
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/uninstrument.test.ts.snap
Due: format, lint-readmes
