Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

[K9VULN-13636] Allowlist datadog:version-constraint SBOM component for sbom upload (#2295)
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-version-constraint.json
  packages/plugin-sbom/src/__tests__/payload.test.ts
  packages/plugin-sbom/src/__tests__/validation.test.ts
  packages/plugin-sbom/src/constants.ts
  packages/plugin-sbom/src/payload.ts
  packages/plugin-sbom/src/types.ts
Due: format, lint-packages, lint-readmes

Add us2.ddog-gov.com site
  packages/base/src/constants.ts
  packages/base/src/helpers/__tests__/validation.test.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-container-app/README.md
  packages/plugin-lambda/README.md
  packages/plugin-lambda/src/__tests__/functions/instrument.part2.test.ts
  packages/plugin-lambda/src/functions/instrument.ts
Due: format, lint-readmes

v5.15.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

v5.16.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

revert package.json
  package.json
Due: lint-packages

chore: fix dora deployment 401 non-retriable exit code
  packages/base/src/helpers/retry.ts
  packages/plugin-dora/src/__tests__/deployment.test.ts
  packages/plugin-dora/src/commands/deployment.ts
Due: format, lint-readmes

fix: convert jest.config-e2e from ESM to CJS to fix Node 24 Windows e2e
  .github/workflows/ci.yml
  jest.config-e2e.js
  package.json
Due: lint-packages

fix: force node-modules linker in e2e env to avoid PnP ESM loader on Windows Node 24
  .github/workflows/ci.yml
Due: none

fix: update dd-trace to 5.99.1 to fix Node 22 Windows worker crash
  package.json
  yarn.lock
Due: lint-packages

fix(ci-providers): use JOB_CHECK_RUN_ID for GitHub Actions ci.job.id
  packages/base/src/helpers/__tests__/ci-env/appveyor.json
  packages/base/src/helpers/__tests__/ci-env/azurepipelines.json
  packages/base/src/helpers/__tests__/ci-env/bitbucket.json
  packages/base/src/helpers/__tests__/ci-env/bitrise.json
  packages/base/src/helpers/__tests__/ci-env/buddy.json
  packages/base/src/helpers/__tests__/ci-env/buildkite.json
  packages/base/src/helpers/__tests__/ci-env/circleci.json
  packages/base/src/helpers/__tests__/ci-env/codefresh.json
  packages/base/src/helpers/__tests__/ci-env/drone.json
  packages/base/src/helpers/__tests__/ci-env/github.json
  packages/base/src/helpers/__tests__/ci-env/gitlab.json
  packages/base/src/helpers/__tests__/ci-env/jenkins.json
  packages/base/src/helpers/__tests__/ci-env/teamcity.json
  packages/base/src/helpers/__tests__/ci-env/travisci.json
  packages/base/src/helpers/ci.ts
Due: format, lint-packages, lint-readmes

test(ci-providers): compare ci.node.labels order-independently
  packages/base/src/helpers/__tests__/ci.test.ts
Due: format, lint-readmes

use yarn config over echo
  .github/workflows/ci.yml
Due: none

chore: loosen base package dependency version constraints
  .syncpackrc.json
  packages/base/package.json
  yarn.lock
Due: lint-packages

fix: TypeScript errors from stricter async-retry and deep-extend types
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/helpers/upload.ts
  packages/base/src/helpers/utils.ts
  packages/plugin-dora/src/commands/deployment.ts
Due: format, lint-readmes

fix: remaining e.message TS errors in plugin onRetry callbacks
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-gate/src/commands/evaluate.ts
  packages/plugin-junit/src/commands/upload.ts
  packages/plugin-sarif/src/commands/upload.ts
  packages/plugin-terraform/src/commands/upload.ts
Due: format, lint-readmes

fix: use ~ range for jest-diff to avoid Node 24 Windows EBADF crash
  .syncpackrc.json
  packages/base/package.json
  yarn.lock
Due: lint-packages

fix: use ~ range for simple-git to avoid Windows subprocess hang
  .syncpackrc.json
  packages/base/package.json
  yarn.lock
Due: lint-packages

revert: remove unnecessary ~ pins for simple-git and jest-diff
  .syncpackrc.json
  packages/base/package.json
  yarn.lock
Due: lint-packages

refactor: change UploadOptions.onRetry to unknown per reviewer suggestion
  packages/base/src/commands/dsyms/upload.ts
  packages/base/src/commands/elf-symbols/upload.ts
  packages/base/src/commands/flutter-symbols/upload.ts
  packages/base/src/commands/git-metadata/upload.ts
  packages/base/src/commands/pe-symbols/upload.ts
  packages/base/src/commands/react-native/upload.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/commands/unity-symbols/upload.ts
  packages/base/src/helpers/upload.ts
Due: format, lint-readmes

simplify: use (e as Error).message consistently in onRetry callbacks
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/commands/trace/helper.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-dora/src/commands/deployment.ts
  packages/plugin-gate/src/commands/evaluate.ts
  packages/plugin-junit/src/commands/upload.ts
  packages/plugin-sarif/src/commands/upload.ts
  packages/plugin-terraform/src/commands/upload.ts
Due: format, lint-readmes

[synthetics] Fix `import-tests` command
  packages/plugin-synthetics/src/commands/deploy-tests.ts
  packages/plugin-synthetics/src/commands/import-tests.ts
Due: format, lint-readmes

[MINORPATCH] format
  package.json
Due: lint-packages

Make a new helper type
  package.json
  packages/base/src/helpers/types.ts
  packages/plugin-gate/package.json
  packages/plugin-junit/src/api.ts
  packages/plugin-sarif/package.json
  packages/plugin-sarif/src/api.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Update licenses
  LICENSE-3rdparty.csv
Due: none

format
  packages/base/src/helpers/types.ts
Due: format, lint-readmes

fix tests
  packages/plugin-junit/src/__tests__/upload.test.ts
  packages/plugin-sarif/src/__tests__/upload.test.ts
Due: format, lint-readmes

[dep] Bump `simple-git` to `3.36.0`
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-terraform/package.json
  yarn.lock
Due: lint-packages

[dep] Bump `simple-git` to `3.36.0` (#2309)
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-terraform/package.json
  yarn.lock
Due: lint-packages

v5.16.1
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

[synthetics] Fix `import-tests` command (#2304)
  packages/plugin-synthetics/src/commands/deploy-tests.ts
  packages/plugin-synthetics/src/commands/import-tests.ts
Due: format, lint-readmes

[plugin-coverage] resolve config/codeowners blob sha at the reported commit
  packages/base/src/commands/git-metadata/git.ts
  packages/plugin-coverage/src/commands/upload.ts
Due: format, lint-readmes

[plugin-coverage] dedupe reported-commit SHA lookup
  packages/plugin-coverage/src/commands/upload.ts
Due: format, lint-readmes

[plugin-coverage] tests for ref-based blob sha resolution
  packages/base/src/commands/git-metadata/__tests__/git.test.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
Due: format, lint-readmes

fix invalid sourcemap CLI path
  README.md
Due: none

Run e2e tests against standalone
  .github/workflows/ci.yml
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
  e2e/container-app.test.ts
  e2e/synthetics.test.ts
Due: format, lint-readmes

Detect segfaults
  standalone-e2e/standalone-binary.test.ts
Due: format, lint-readmes

Rename to standalone smoke tests
  .github/workflows/ci.yml
  standalone-e2e/standalone-smoke.test.ts
Due: format, lint-readmes

[plugin-coverage] resolve config/codeowners blob sha at the reported commit (#2311)
  packages/base/src/commands/git-metadata/__tests__/git.test.ts
  packages/base/src/commands/git-metadata/git.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/commands/upload.ts
Due: format, lint-readmes

[chore] Run e2e tests against standalone and detect segfaults (#2314)
  .github/workflows/ci.yml
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
  e2e/container-app.test.ts
  e2e/synthetics.test.ts
  standalone-e2e/standalone-smoke.test.ts
Due: format, lint-readmes

[chore] Replace `@yao-pkg/pkg` with `node --build-sea`
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  .gitignore
  .yarn/patches/@yao-pkg-pkg-fetch-npm-3.5.24-3b96980136.patch
  .yarn/patches/@yao-pkg-pkg-npm-6.6.0-d4777368b9.patch
  LICENSE-3rdparty.csv
  bin/compare-binary-size.js
  package.json
  scripts/build-sea.mjs
  scripts/compare-binary-size.mjs
  scripts/node-download.mjs
  yarn.lock
Due: lint-packages

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
