Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

rename stale axiosError variable to requestError in deployment tests
  packages/plugin-deployment/src/__tests__/correlate-image.test.ts
  packages/plugin-deployment/src/__tests__/correlate.test.ts
Due: format, lint-readmes

remove axios from LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Due: none

replace axios mock with request module mock in cli test
  packages/datadog-ci/src/__tests__/cli.test.ts
Due: format, lint-readmes

chore: remove axios compat cruft from base package
  packages/base/src/helpers/interfaces.ts
  packages/base/src/helpers/request.ts
Due: format, lint-readmes

fix: use two-dot diff for --base-ref to work with shallow clones
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: get changed files list first, then diff only those files (avoids ENOBUFS on shallow clones)
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: deepen git history before three-dot diff to work with shallow clones
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: support AUTOTEST_DIFF_FILE env var to bypass git diff computation
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

debug: capture cli.js subprocess stderr to diagnose exit code 1
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: use acceptEdits permission mode instead of bypassPermissions (fails as root in CI)
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

address PR feedback
  packages/base/src/helpers/__tests__/testing-tools.ts
  packages/base/src/helpers/request.ts
Due: format, lint-readmes

fix build errors after getAxiosError type tightening
  packages/plugin-synthetics/src/api.ts
  packages/plugin-synthetics/src/test.ts
Due: format, lint-readmes

wip
  bin/create-plugin.sh
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
  scripts/bundle-dts.mjs
  scripts/tsdown-cli-npm.mjs
  scripts/tsdown-plugin.mjs
  scripts/tsdown-shared.mjs
Due: lint-packages

Update tsdown license metadata
  LICENSE-3rdparty.csv
Due: none

update tests
  packages/base/src/helpers/__tests__/utils.test.ts
Due: format, lint-readmes

chore: migrate base package from axios to fetch/undici (#2201)
  LICENSE-3rdparty.csv
  packages/base/package.json
  packages/base/src/commands/git-metadata/__tests__/gitdb.test.ts
  packages/base/src/commands/git-metadata/gitdb.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/commands/trace/api.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/interfaces.ts
  packages/base/src/helpers/__tests__/retry.test.ts
  packages/base/src/helpers/__tests__/testing-tools.ts
  packages/base/src/helpers/__tests__/upload.test.ts
  packages/base/src/helpers/__tests__/utils.test.ts
  packages/base/src/helpers/apikey.ts
  packages/base/src/helpers/interfaces.ts
  packages/base/src/helpers/request.ts
  packages/base/src/helpers/serverless/__tests__/flare.test.ts
  packages/base/src/helpers/serverless/flare.ts
  packages/base/src/helpers/utils.ts
  packages/plugin-cloud-run/src/__tests__/flare.test.ts
  packages/plugin-lambda/src/__tests__/flare.test.ts
  packages/plugin-synthetics/src/__tests__/api.test.ts
  packages/plugin-synthetics/src/__tests__/batch.test.ts
  packages/plugin-synthetics/src/__tests__/fixtures.ts
  packages/plugin-synthetics/src/__tests__/test.test.ts
  packages/plugin-synthetics/src/api.ts
  packages/plugin-synthetics/src/commands/__tests__/upload-application.test.ts
  packages/plugin-synthetics/src/test.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

chore: migrate plugins from axios to fetch undici types
  packages/base/src/helpers/interfaces.ts
  packages/base/src/helpers/request.ts
  packages/plugin-coverage/package.json
  packages/plugin-coverage/src/api.ts
  packages/plugin-coverage/src/interfaces.ts
  packages/plugin-deployment/package.json
  packages/plugin-deployment/src/__tests__/gate.test.ts
  packages/plugin-deployment/src/api.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-deployment/src/commands/gate.ts
  packages/plugin-deployment/src/interfaces.ts
  packages/plugin-dora/package.json
  packages/plugin-dora/src/api.ts
  packages/plugin-dora/src/commands/deployment.ts
  packages/plugin-dora/src/interfaces.ts
  packages/plugin-dora/src/renderer.ts
  packages/plugin-gate/package.json
  packages/plugin-gate/src/__tests__/evaluate.test.ts
  packages/plugin-gate/src/api.ts
  packages/plugin-gate/src/commands/evaluate.ts
  packages/plugin-gate/src/interfaces.ts
  packages/plugin-junit/package.json
  packages/plugin-junit/src/api.ts
  packages/plugin-junit/src/interfaces.ts
  packages/plugin-sarif/package.json
  packages/plugin-sarif/src/api.ts
  packages/plugin-sarif/src/interfaces.ts
  packages/plugin-sbom/package.json
  packages/plugin-sbom/src/api.ts
  packages/plugin-sbom/src/commands/upload.ts
  packages/plugin-terraform/package.json
  packages/plugin-terraform/src/api.ts
  packages/plugin-terraform/src/interfaces.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

remove unused based on comment
  packages/base/src/helpers/request.ts
Due: format, lint-readmes

fix stale axios reference in sbom api jsdoc
  packages/plugin-sbom/src/api.ts
Due: format, lint-readmes

move axios to devDependencies in plugin-synthetics
  packages/plugin-synthetics/package.json
Due: lint-packages

use isRequestError instead of isAxiosError in synthetics getErrorHttpStatus
  packages/plugin-synthetics/src/api.ts
Due: format, lint-readmes

replace AxiosError with RequestError in synthetics retry tests
  packages/plugin-synthetics/src/__tests__/api.test.ts
Due: format, lint-readmes

properly type any fields in RequestConfig
  packages/base/src/helpers/request.ts
Due: format, lint-readmes

finish non-synthetics migration cleanup (eslint, gitdb, base, coverage, junit)
  eslint.config.mjs
  packages/base/src/commands/git-metadata/__tests__/gitdb.test.ts
  packages/base/src/helpers/__tests__/testing-tools.ts
  packages/base/src/helpers/request.ts
  packages/base/src/helpers/retry.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-junit/src/commands/upload.ts
Due: format, lint-readmes

remove maxBodyLength and maxContentLength from RequestConfig and non-synthetics call sites
  packages/base/src/helpers/request.ts
  packages/base/src/helpers/upload.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-junit/src/api.ts
  packages/plugin-sarif/src/api.ts
  packages/plugin-sbom/src/api.ts
  packages/plugin-terraform/src/api.ts
Due: format, lint-readmes

update synthetics types to match base package changes
  packages/plugin-synthetics/package.json
  packages/plugin-synthetics/src/__tests__/api.test.ts
  packages/plugin-synthetics/src/__tests__/batch.test.ts
  packages/plugin-synthetics/src/__tests__/run-tests-lib.test.ts
  packages/plugin-synthetics/src/__tests__/test.test.ts
  packages/plugin-synthetics/src/__tests__/utils/public.test.ts
  packages/plugin-synthetics/src/api.ts
  packages/plugin-synthetics/src/commands/__tests__/run-tests.test.ts
  packages/plugin-synthetics/src/commands/__tests__/upload-application.test.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

chore: migrate plugin synthetics from axios to fetch undici
  packages/plugin-synthetics/src/__tests__/api.test.ts
  packages/plugin-synthetics/src/api.ts
Due: format, lint-readmes

[security] Vendor CLI and plugins as zero-dependency bundles
  .github/workflows/ci.yml
  .gitignore
  LICENSE-3rdparty.csv
  README.md
  bin/create-plugin.sh
  bin/lint-packages.ts
  datadog-ci.meta.json
  e2e/synthetics.test.ts
  eslint.config.mjs
  package.json
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
  packages/base/src/version.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/scripts/esbuild.mjs
  packages/datadog-ci/shims/injected-plugin-submodules.js
  packages/datadog-ci/shims/intl-collator.js
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/datadog-ci/src/cli.ts
  packages/datadog-ci/src/index.ts
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-synthetics/src/tunnel/index.ts
  packages/plugin-terraform/package.json
  scripts/tsdown-cli-npm.mjs
  scripts/tsdown-cli-sea.mjs
  scripts/tsdown-plugin.mjs
  scripts/tsdown-shared.mjs
  yarn.lock
Due: format, lint-packages, lint-readmes

fix: use bypassPermissions (reverted from acceptEdits which sandboxes Bash in CI)
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

Clean up outdated mentions of axios
  packages/plugin-sbom/src/api.ts
  packages/plugin-synthetics/src/commands/__tests__/upload-application.test.ts
Due: format, lint-readmes

Tighten the `files` list
  bin/create-plugin.sh
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

Fix `import * as synthetics from '@datadog/datadog-ci-plugin-synthetics'`
  packages/base/src/helpers/plugin.ts
  scripts/tsdown-plugin.mjs
Due: format, lint-readmes

Fix lint
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
  yarn.lock
Due: lint-packages

chore: update codeowners name for synthetics
  .github/CODEOWNERS
Due: none

chore: update codeowners name for synthetics (#2250)
  .github/CODEOWNERS
Due: none
