Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

chore: migrate plugin-lambda and plugin-cloud-run to @inquirer/prompts
  LICENSE-3rdparty.csv
  packages/plugin-cloud-run/package.json
  packages/plugin-cloud-run/src/prompt.ts
  packages/plugin-lambda/package.json
  packages/plugin-lambda/src/__tests__/prompt.test.ts
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/prompt.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

remove stale @inquirer/core entry from LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Due: none

deployment correlate-image: include ci_env in request payload
  packages/plugin-deployment/README.md
  packages/plugin-deployment/src/__tests__/correlate-image.test.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
Due: format, lint-readmes

[chore] Add Alpine x64 and arm64 standalone binaries (#2322)
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  RELEASING.md
  package.json
  packages/base/src/helpers/is-standalone-binary.ts
  packages/datadog-ci/README.md
Due: format, lint-packages, lint-readmes

Upload manifest metadata properties
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-manifest-metadata.json
  packages/plugin-sbom/src/__tests__/payload.test.ts
  packages/plugin-sbom/src/__tests__/validation.test.ts
  packages/plugin-sbom/src/constants.ts
  packages/plugin-sbom/src/payload.ts
  packages/plugin-sbom/src/types.ts
Due: format, lint-packages, lint-readmes

Remove legacy SBOM property prefixes
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-both-legacy-canonical-properties.json
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-exclusion.json
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-reachability.json
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-target-framework.json
  packages/plugin-sbom/src/__tests__/fixtures/sbom.1.5.ok-invalid-time.json
  packages/plugin-sbom/src/__tests__/fixtures/sbom.1.5.ok-with-tools-as-components.json
  packages/plugin-sbom/src/__tests__/fixtures/sbom.1.5.ok.json
  packages/plugin-sbom/src/__tests__/payload.test.ts
  packages/plugin-sbom/src/constants.ts
  packages/plugin-sbom/src/payload.ts
Due: format, lint-packages, lint-readmes

deployment correlate/correlate-image: resolve GitHub job ID from runner logs
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
Due: format, lint-readmes

unecessary UI
  packages/plugin-lambda/src/prompt.ts
Due: format, lint-readmes

make launch prefer local plugin sources
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

point launch dist at bundle
  CONTRIBUTING.md
  package.json
Due: lint-packages

unwrap cjs plugin command imports
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

fix lambda prompt test expectation
  packages/plugin-lambda/src/__tests__/prompt.test.ts
Due: format, lint-readmes

Revert correlate.ts changes (legacy command, per review)
  packages/plugin-deployment/src/commands/correlate.ts
Due: format, lint-readmes

Replace unstable with v2 in deployment gate command
  packages/base/src/helpers/request/datadog-route.ts
  packages/plugin-deployment/src/api.ts
Due: format, lint-readmes

[SVLS-7937] add cloud run e2e tests
  .github/CODEOWNERS
  .github/workflows/ci.yml
  bin/lint-packages.ts
  e2e/cloud-run.test.ts
  e2e/fixtures/cloud-run/README.md
  e2e/helpers/cloud-run-verifier.ts
  e2e/helpers/exec.ts
  jest.config-e2e.js
Due: format, lint-readmes

[SVLS-7937] remove cloud run e2e workflow formatter
  .github/CODEOWNERS
  .github/workflows/ci.yml
  bin/lint-packages.ts
  e2e/fixtures/cloud-run/README.md
Due: format, lint-readmes

Replace unstable with v2 in deployment gate command (#2331)
  packages/base/src/helpers/request/datadog-route.ts
  packages/plugin-deployment/src/api.ts
Due: format, lint-readmes

v5.18.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

chore: skip serverless e2e on version-bump-only release commits
  .github/workflows/ci.yml
Due: none

tags: support array-valued tag values
  packages/base/src/helpers/__tests__/tags-fixtures/tags-with-arrays.json
  packages/base/src/helpers/__tests__/tags.test.ts
  packages/base/src/helpers/tags.ts
Due: format, lint-packages, lint-readmes

[RUM-16533] Support version-less sourcemap uploads and --exclude
  packages/base/src/commands/sourcemaps/README.md
  packages/base/src/commands/sourcemaps/__tests__/fixtures/exclude/keep.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/exclude/keep.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/exclude/skip.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/exclude/skip.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

[RUM-16533] Fix --exclude in legacy sourcemap discovery path
  packages/base/src/commands/sourcemaps/__tests__/fixtures/exclude-legacy/keep.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/exclude-legacy/keep.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/exclude-legacy/skip.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/exclude-legacy/skip.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

Document DATADOG_API_KEY_SSM_ARN environment variable
  packages/plugin-lambda/README.md
Due: none

Add config file support to deployment gate command
  packages/base/src/commands/deployment/gate.ts
  packages/plugin-deployment/README.md
  packages/plugin-deployment/src/__tests__/fixtures/config-empty-rules.json
  packages/plugin-deployment/src/__tests__/fixtures/config-invalid-json.json
  packages/plugin-deployment/src/__tests__/fixtures/config-valid.json
  packages/plugin-deployment/src/__tests__/gate.test.ts
  packages/plugin-deployment/src/api.ts
  packages/plugin-deployment/src/commands/gate.ts
  packages/plugin-deployment/src/interfaces.ts
Due: format, lint-packages, lint-readmes

Fix prettier formatting in loadGateConfiguration
  packages/plugin-deployment/src/commands/gate.ts
Due: format, lint-readmes

Update copy
  packages/base/src/commands/deployment/gate.ts
  packages/plugin-deployment/README.md
Due: format, lint-readmes

Use camelCase for Configuration.dryRun and update README with example
  packages/plugin-deployment/README.md
  packages/plugin-deployment/src/__tests__/fixtures/config-valid.json
  packages/plugin-deployment/src/__tests__/gate.test.ts
  packages/plugin-deployment/src/interfaces.ts
Due: format, lint-packages, lint-readmes

Use camelCase in Configuration and Rule, convert to snake_case for API
  packages/plugin-deployment/src/__tests__/fixtures/config-valid.json
  packages/plugin-deployment/src/__tests__/gate.test.ts
  packages/plugin-deployment/src/api.ts
  packages/plugin-deployment/src/interfaces.ts
Due: format, lint-packages, lint-readmes

Update --config-file to --config in example
  packages/base/src/commands/deployment/gate.ts
Due: format, lint-readmes

Fix dry_run to dryRun in config-empty-rules fixture
  packages/plugin-deployment/src/__tests__/fixtures/config-empty-rules.json
Due: lint-packages

Rename gateConfiguration private field to configuration
  packages/plugin-deployment/src/__tests__/gate.test.ts
  packages/plugin-deployment/src/commands/gate.ts
Due: format, lint-readmes

Print API error details on 400 response
  packages/plugin-deployment/src/__tests__/__snapshots__/gate.test.ts.snap
  packages/plugin-deployment/src/__tests__/gate.test.ts
  packages/plugin-deployment/src/commands/gate.ts
Due: format, lint-readmes

warn: print deprecation warning when --env flag is passed to sbom upload
  packages/plugin-sbom/src/commands/upload.ts
  packages/plugin-sbom/src/renderer.ts
Due: format, lint-readmes

chore: cloud-run e2e telemetry flow validation
  .github/workflows/ci.yml
  e2e/cloud-run.test.ts
  e2e/helpers/cloud-run-telemetry-checker.ts
Due: format, lint-readmes

fix --tracing flag and gh variable digest
  e2e/cloud-run.test.ts
Due: format, lint-readmes

use DATADOG_API_KEY for instrument so sidecar ships to e2e org
  e2e/cloud-run.test.ts
Due: format, lint-readmes

Use Datadog registry for Cloud Run sidecar default
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
Due: format, lint-readmes

add script to catalog DD routes per scope
  .gitignore
  bin/catalog-endpoints.ts
  package.json
Due: format, lint-packages, lint-readmes

fix: write env deprecation warning to stdout and hardcode env to "ci"
  packages/plugin-sbom/src/commands/upload.ts
Due: format, lint-readmes

pr feedback
  bin/catalog-endpoints.ts
Due: format, lint-readmes
