Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

add datadog-log-router
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

add configuration flags for ecs-fargate instrument
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/src/cli.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

drop tool info vars
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

use unix socket transport by default + add install info
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

Add ecs-fargate instrument
  .github/CODEOWNERS
  .github/advanced-issue-labeler.yml
  .github/workflows/ci.yml
  LICENSE-3rdparty.csv
  container/Dockerfile
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/ecs-fargate/cli.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/plugin/__tests__/list.test.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-ecs-fargate/LICENSE
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
  packages/plugin-ecs-fargate/tsconfig.json
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

dont block succesful apps, if some apps fail + instrument/deploy each app individually + parallelism
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
Due: format, lint-readmes

Support windows platforms
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

[SVLS-9302] correct injection language help
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
Due: format, lint-readmes

[SVLS-9302] align on datadog-tracer
  e2e/serverless/cloud-run/cloud-run-verifier.ts
Due: format, lint-readmes

[SVLS-9302] cloud run ssi e2e tests
  .github/workflows/ci.yml
  e2e/serverless/cloud-run/cloud-run-ssi.test.ts
  e2e/serverless/cloud-run/cloud-run-verifier.ts
Due: format, lint-readmes

[SVLS-9302] use latest SSI images
  e2e/serverless/cloud-run/cloud-run-ssi.test.ts
Due: format, lint-readmes

[SVLS-9302] read Cloud Run service config
  e2e/serverless/cloud-run/cloud-run-verifier.ts
Due: format, lint-readmes

[SVLS-9302] use E2E telemetry credentials
  e2e/serverless/cloud-run/cloud-run-ssi.test.ts
Due: format, lint-readmes

[SVLS-9316] improve Cloud Run updates
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-cloud-run/src/service-config.ts
  packages/plugin-cloud-run/src/service-update.ts
  packages/plugin-cloud-run/src/ssi.ts
  packages/plugin-cloud-run/src/utils.ts
Due: format, lint-readmes

[SVLS-9316] cloud run multi language instrumentation
  e2e/serverless/cloud-run/cloud-run-ssi.test.ts
  e2e/serverless/cloud-run/cloud-run-verifier.ts
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/service-config.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9316] verify Cloud Run tracer dependencies
  e2e/serverless/cloud-run/cloud-run-ssi.test.ts
  e2e/serverless/cloud-run/cloud-run-verifier.ts
Due: format, lint-readmes

block log router on windows tasks
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

[SVLS-9316] handle Cloud Run response formats
  e2e/serverless/cloud-run/cloud-run-verifier.ts
Due: format, lint-readmes

Add plugin distribution and native dependency controls
  bin/lint-packages.ts
  packages/base/src/helpers/plugin.ts
  scripts/tsdown-plugin.mjs
Due: format, lint-readmes

Add lazy OAuth login plugin
  .github/CODEOWNERS
  .github/advanced-issue-labeler.yml
  .github/workflows/ci.yml
  container/Dockerfile
  datadog-ci.meta.json
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/auth/__tests__/login.test.ts
  packages/base/src/commands/auth/cli.ts
  packages/base/src/commands/auth/login.ts
  packages/base/src/helpers/__tests__/testing-tools.ts
  packages/base/src/helpers/interfaces.ts
  packages/base/src/helpers/request/datadog-route.ts
  packages/datadog-ci/README.md
  packages/plugin-auth/LICENSE
  packages/plugin-auth/README.md
  packages/plugin-auth/package.json
  packages/plugin-auth/src/__tests__/callback.test.ts
  packages/plugin-auth/src/__tests__/environment.test.ts
  packages/plugin-auth/src/__tests__/oauth-api.test.ts
  packages/plugin-auth/src/__tests__/oauth.test.ts
  packages/plugin-auth/src/__tests__/storage-keyring.test.ts
  packages/plugin-auth/src/__tests__/storage.test.ts
  packages/plugin-auth/src/callback.ts
  packages/plugin-auth/src/commands/__tests__/login.test.ts
  packages/plugin-auth/src/commands/login.ts
  packages/plugin-auth/src/environment.ts
  packages/plugin-auth/src/index.ts
  packages/plugin-auth/src/oauth.ts
  packages/plugin-auth/src/storage.ts
  packages/plugin-auth/tsconfig.json
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

RUM-18297: fix CI failures on ppdb-symbols upload command
  packages/base/src/commands/ppdb-symbols/cli.ts
  packages/datadog-ci/src/__tests__/cli.test.ts
Due: format, lint-readmes

RUM-18297: add CODEOWNERS entry and README for ppdb-symbols
  .github/CODEOWNERS
  packages/base/src/commands/ppdb-symbols/README.md
  packages/datadog-ci/README.md
Due: none

RUM-18297: fix manifest ambiguity bypass and uppercase .PDB extension
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/UppercaseExt.PDB
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/exactMatchAmbiguousManifest.json
  packages/base/src/commands/ppdb-symbols/__tests__/fixtures/uppercaseExtManifest.json
  packages/base/src/commands/ppdb-symbols/__tests__/manifest.test.ts
  packages/base/src/commands/ppdb-symbols/__tests__/upload.test.ts
  packages/base/src/commands/ppdb-symbols/manifest.ts
  packages/base/src/commands/ppdb-symbols/upload.ts
Due: format, lint-packages, lint-readmes

chore: add serverless package guidance (#2484)
  AGENTS.md
  packages/base/src/helpers/serverless/AGENTS.md
Due: none

disable requires check for tests
  e2e/synthetics.test.ts
  eslint.config.mjs
  packages/base/src/commands/dsyms/__tests__/upload.test.ts
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/datadog-ci/src/__tests__/cli.test.ts
Due: format, lint-readmes

remove whitespace-only changes
  packages/base/src/commands/dsyms/__tests__/upload.test.ts
  packages/datadog-ci/src/__tests__/cli.test.ts
Due: format, lint-readmes

chore: make eslint not ignore warnings (#2499)
  bin/lint-packages.ts
  eslint.config.mjs
  package.json
  packages/base/src/commands/aas/cli.ts
  packages/base/src/commands/ci-env/cli.ts
  packages/base/src/commands/cloud-run/cli.ts
  packages/base/src/commands/container-app/cli.ts
  packages/base/src/commands/coverage/cli.ts
  packages/base/src/commands/deployment/cli.ts
  packages/base/src/commands/dora/cli.ts
  packages/base/src/commands/dsyms/cli.ts
  packages/base/src/commands/elf-symbols/cli.ts
  packages/base/src/commands/flutter-symbols/cli.ts
  packages/base/src/commands/gate/cli.ts
  packages/base/src/commands/git-metadata/cli.ts
  packages/base/src/commands/junit/cli.ts
  packages/base/src/commands/lambda/cli.ts
  packages/base/src/commands/measure/cli.ts
  packages/base/src/commands/pe-symbols/cli.ts
  packages/base/src/commands/plugin/cli.ts
  packages/base/src/commands/react-native/cli.ts
  packages/base/src/commands/sarif/cli.ts
  packages/base/src/commands/sbom/cli.ts
  packages/base/src/commands/sourcemaps/cli.ts
  packages/base/src/commands/span/__tests__/span.test.ts
  packages/base/src/commands/span/cli.ts
  packages/base/src/commands/stepfunctions/cli.ts
  packages/base/src/commands/synthetics/cli.ts
  packages/base/src/commands/tag/cli.ts
  packages/base/src/commands/terraform/cli.ts
  packages/base/src/commands/trace/cli.ts
  packages/base/src/commands/unity-symbols/cli.ts
  packages/base/src/commands/version/cli.ts
  packages/base/src/commands/wasm-symbols/cli.ts
  packages/base/src/helpers/__tests__/logger.test.ts
  packages/plugin-synthetics/src/__tests__/api.test.ts
  packages/plugin-synthetics/src/__tests__/deploy-tests-lib.test.ts
  packages/plugin-synthetics/src/__tests__/import-tests-lib.test.ts
Due: format, lint-packages, lint-readmes

chore: minorly update serverless guidance
  packages/base/src/helpers/serverless/AGENTS.md
Due: none

add ecs fargate
  AGENTS.md
Due: none

[SVLS-9302] activate cloud run single language ssi
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
Due: format, lint-readmes

[SVLS-9302] support all tracer images
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] use main container terminology
  packages/plugin-cloud-run/README.md
Due: none

[SVLS-9302] activate cloud run apm instrumentation
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/constants.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/service-config.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] format
  packages/plugin-cloud-run/src/commands/instrument.ts
Due: format, lint-readmes

[SVLS-9302] configure tracer readiness port
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
Due: format, lint-readmes

[SVLS-9302] choose cloud run tracer registry
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/constants.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] fixup backcompat
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/constants.ts
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/service-config.ts
  packages/plugin-cloud-run/src/ssi.ts
Due: format, lint-readmes

[SVLS-9302] fix agent health port
  packages/base/src/commands/cloud-run/__tests__/instrument.test.ts
  packages/base/src/commands/cloud-run/instrument.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/service-config.ts
Due: format, lint-readmes
