Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

Add debug info
  bin/check-npm-packages.sh
Due: none

Update naming
  bin/lint-packages.ts
  bin/migrate.sh
Due: format, lint-readmes

Try skip build
  .github/workflows/publish-release.yml
Due: none

Clean up and ping PR author
  bin/check-npm-packages.sh
Due: none

Extract PR author and ping them
  .github/workflows/publish-release.yml
  bin/check-npm-packages.sh
Due: none

Remove temporary fail safe
  .github/workflows/publish-release.yml
Due: none

[chores] Add process for first-time package publishing (#2055)
  .github/workflows/publish-release.yml
  CONTRIBUTING.md
  bin/check-npm-packages.sh
  bin/create-plugin.sh
  bin/lint-packages.ts
  bin/migrate.sh
  package.json
Due: format, lint-packages, lint-readmes

[chores] Change job order in release process
  .github/workflows/publish-release.yml
Due: none

Add `--tolerate-republish` option
  .github/workflows/publish-release.yml
Due: none

Add comment about it
  .github/workflows/publish-release.yml
Due: none

Add label management
  bin/check-npm-packages.sh
Due: none

Also check "Do Not Merge" label
  bin/check-npm-packages.sh
Due: none

Make it clear in script
  bin/check-npm-packages.sh
Due: none

Check if `PR_LABELS` is not empty
  bin/check-npm-packages.sh
Due: none

Always "post echo" to avoid double new lines
  bin/check-npm-packages.sh
Due: none

[chores] Add label guardrails in release process (#2063)
  .github/workflows/publish-release.yml
  bin/check-npm-packages.sh
Due: none

v5.3.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

[chores] Avoid double CI on tagged commits
  .github/workflows/ci.yml
Due: none

Add dotnet10 support
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/commons.ts
Due: format, lint-readmes

[chores] Guard release process with approvals
  bin/check-npm-packages.sh
Due: none

Update release process
  RELEASING.md
Due: none

Make docker step stand out
  RELEASING.md
Due: none

Bump AWS SDK version
  packages/plugin-lambda/package.json
  packages/plugin-stepfunctions/package.json
  yarn.lock
Due: lint-packages

[chores] Require all files to be owned
  .datadog-ci.datadog.yml
Due: none

[chores] Avoid double CI on tagged commits (#2064)
  .github/workflows/ci.yml
Due: none

[chores] Require all files to be owned (#2067)
  .datadog-ci.datadog.yml
Due: none

feat: pass target-framework to sbom upload
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-target-framework.json
  packages/plugin-sbom/src/__tests__/payload.test.ts
  packages/plugin-sbom/src/constants.ts
  packages/plugin-sbom/src/payload.ts
  packages/plugin-sbom/src/types.ts
Due: format, lint-packages, lint-readmes

v5.4.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

fix: Dependency requires target_frameworks attributes
  packages/plugin-sbom/src/__tests__/validation.test.ts
Due: format, lint-readmes

[chores] Guard NPM publish with approvals on release PR (#2066)
  RELEASING.md
  bin/check-npm-packages.sh
Due: none

feat: Implement custom flags support for coverage reports
  packages/base/src/commands/coverage/upload.ts
  packages/plugin-coverage/README.md
  packages/plugin-coverage/src/__tests__/api.test.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/interfaces.ts
  packages/plugin-coverage/src/renderer.ts
Due: format, lint-readmes

Fix formatting
  packages/plugin-coverage/src/__tests__/upload.test.ts
Due: format, lint-readmes

Fix formatting
  packages/plugin-coverage/src/commands/upload.ts
Due: format, lint-readmes

A test commit
  test.txt
Due: none

Another test commit
  test.txt
Due: none

fix(flutter-symbols): add comprehensive version validation
  packages/datadog-ci/src/commands/flutter-symbols/__tests__/upload.test.ts
  packages/datadog-ci/src/commands/flutter-symbols/upload.ts
Due: format, lint-readmes

chore(flutter-symbols): Update README.MD, version required
  packages/datadog-ci/src/commands/flutter-symbols/README.md
Due: none

chore(flutter-symbols): Update README.MD. revert previous change
  packages/datadog-ci/src/commands/flutter-symbols/README.md
Due: none

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
