Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

chore: migrate base package from axios to fetch/undici
  packages/base/package.json
  packages/base/packages/base/src/helpers/__tests__/upload-fixtures/file.txt
  packages/base/src/commands/git-metadata/__tests__/gitdb.test.ts
  packages/base/src/commands/git-metadata/gitdb.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/commands/trace/api.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/interfaces.ts
  packages/base/src/helpers/__tests__/retry.test.ts
  packages/base/src/helpers/__tests__/testing-tools.ts
  packages/base/src/helpers/__tests__/upload.test.ts
  packages/base/src/helpers/__tests__/utils.test.ts
  packages/base/src/helpers/apikey.ts
  packages/base/src/helpers/interfaces.ts
  packages/base/src/helpers/request.ts
  packages/base/src/helpers/serverless/__tests__/flare.test.ts
  packages/base/src/helpers/serverless/flare.ts
  packages/base/src/helpers/utils.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

test fixes
  LICENSE-3rdparty.csv
  packages/base/src/helpers/request.ts
  packages/plugin-cloud-run/src/__tests__/flare.test.ts
  packages/plugin-lambda/src/__tests__/flare.test.ts
  packages/plugin-synthetics/src/__tests__/api.test.ts
  packages/plugin-synthetics/src/__tests__/batch.test.ts
  packages/plugin-synthetics/src/__tests__/test.test.ts
  packages/plugin-synthetics/src/commands/__tests__/upload-application.test.ts
Due: format, lint-readmes

fix: undici proxy/socket tests - CONNECT tunneling, EnvHttpProxyAgent caching, error propagation
  packages/base/src/helpers/request.ts
  packages/plugin-synthetics/src/__tests__/api.test.ts
  packages/plugin-synthetics/src/__tests__/fixtures.ts
Due: format, lint-readmes

fix: pipe form-data through PassThrough for undici compatibility
  packages/base/src/helpers/request.ts
Due: format, lint-readmes

chore: remove incorrectly nested upload-fixtures file
  packages/base/packages/base/src/helpers/__tests__/upload-fixtures/file.txt
Due: none

yarn install
  yarn.lock
Due: none

[security] Vendor CLI and plugins as zero-dependency bundles
  .github/workflows/ci.yml
  README.md
  bin/create-plugin.sh
  bin/lint-packages.ts
  e2e/synthetics.test.ts
  eslint.config.mjs
  package.json
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/shims/injected-builtin-plugins.js
  packages/datadog-ci/src/cli.ts
  packages/datadog-ci/src/index.ts
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
  scripts/esbuild-cli-npm.mjs
  scripts/esbuild-cli-sea.mjs
  scripts/esbuild-plugin.mjs
  scripts/esbuild-shared.mjs
  standalone-e2e/standalone-binary.test.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Print plugin version when plugin is used
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Print datadog-ci version in all commands
  e2e/version.test.ts
  packages/base/src/version.ts
  packages/datadog-ci/src/cli.ts
Due: format, lint-readmes

[Security] Add 2-day minimum release age cooldown (incident-51987)
  .yarnrc.yml
Due: none

bump version to 5.12.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
Due: lint-packages

bump to 5.12.0 remaining plugins
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

fix: use word boundary in FAIL regex to avoid matching 'failed'
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: add GitLab MR comment support to autotest
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

v5.12.1
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

add lint packages in pre approval checks
  .github/workflows/publish-release.yml
Due: none

docs: address review suggestions
  README.md
Due: none

Fix orphaned JSDoc comment
  scripts/esbuild-shared.mjs
Due: none

build: guard against plugin export collisions
  scripts/esbuild-plugin.mjs
Due: none

feat: add --base-ref flag to compute diff from git instead of GitHub API
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

wip
  .gitignore
  package.json
  packages/datadog-ci/package.json
  packages/datadog-ci/tsdown.prototype.config.ts
  packages/plugin-synthetics/package.json
  packages/plugin-synthetics/tsdown.prototype.config.ts
  scripts/bundle-dts.mjs
  tsconfig.bundle.json
  yarn.lock
Due: format, lint-packages, lint-readmes

[SVLS-8827] add npm minimal age gate
  .yarnrc.yml
Due: none

[SVLS-8827] add npm minimal age gate (#2246)
  .yarnrc.yml
Due: none

fix: make settingSources configurable via AUTOTEST_SETTING_SOURCES env var
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

tsdown
  .yarn/patches/@yao-pkg-pkg-npm-6.6.0-d4777368b9.patch
  bin/lint-packages.ts
  datadog-ci.meta.json
  package.json
  packages/base/src/helpers/plugin.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/shims/injected-builtin-plugins.js
  packages/datadog-ci/shims/injected-plugin-submodules.js
  packages/datadog-ci/shims/intl-collator.js
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/datadog-ci/src/cli.ts
  packages/datadog-ci/tsdown.prototype.config.ts
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-synthetics/tsdown.prototype.config.ts
  packages/plugin-terraform/package.json
  scripts/esbuild-cli-npm.mjs
  scripts/esbuild-cli-sea.mjs
  scripts/esbuild-plugin.mjs
  scripts/esbuild-shared.mjs
  scripts/tsdown-cli-npm.mjs
  scripts/tsdown-cli-sea.mjs
  scripts/tsdown-plugin.mjs
  scripts/tsdown-shared.mjs
  yarn.lock
Due: format, lint-packages, lint-readmes

simplify
  scripts/tsdown-cli-npm.mjs
  scripts/tsdown-cli-sea.mjs
  scripts/tsdown-shared.mjs
Due: none

chore: migrate plugins from axios to fetch undici types
  packages/base/src/helpers/interfaces.ts
  packages/base/src/helpers/request.ts
  packages/plugin-coverage/package.json
  packages/plugin-coverage/src/api.ts
  packages/plugin-coverage/src/interfaces.ts
  packages/plugin-deployment/package.json
  packages/plugin-deployment/src/__tests__/gate.test.ts
  packages/plugin-deployment/src/api.ts
  packages/plugin-deployment/src/commands/correlate-image.ts
  packages/plugin-deployment/src/commands/correlate.ts
  packages/plugin-deployment/src/commands/gate.ts
  packages/plugin-deployment/src/interfaces.ts
  packages/plugin-dora/package.json
  packages/plugin-dora/src/api.ts
  packages/plugin-dora/src/commands/deployment.ts
  packages/plugin-dora/src/interfaces.ts
  packages/plugin-dora/src/renderer.ts
  packages/plugin-gate/package.json
  packages/plugin-gate/src/__tests__/evaluate.test.ts
  packages/plugin-gate/src/api.ts
  packages/plugin-gate/src/commands/evaluate.ts
  packages/plugin-gate/src/interfaces.ts
  packages/plugin-junit/package.json
  packages/plugin-junit/src/api.ts
  packages/plugin-junit/src/interfaces.ts
  packages/plugin-sarif/package.json
  packages/plugin-sarif/src/api.ts
  packages/plugin-sarif/src/interfaces.ts
  packages/plugin-sbom/package.json
  packages/plugin-sbom/src/api.ts
  packages/plugin-sbom/src/commands/upload.ts
  packages/plugin-terraform/package.json
  packages/plugin-terraform/src/api.ts
  packages/plugin-terraform/src/interfaces.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

fix stale axios reference in sbom api jsdoc
  packages/plugin-sbom/src/api.ts
Due: format, lint-readmes

chore: migrate plugin synthetics from axios to fetch undici
  packages/base/src/helpers/__tests__/testing-tools.ts
  packages/base/src/helpers/request.ts
  packages/plugin-deployment/src/__tests__/correlate-image.test.ts
  packages/plugin-deployment/src/__tests__/correlate.test.ts
  packages/plugin-synthetics/package.json
  packages/plugin-synthetics/src/__tests__/api.test.ts
  packages/plugin-synthetics/src/__tests__/batch.test.ts
  packages/plugin-synthetics/src/__tests__/run-tests-lib.test.ts
  packages/plugin-synthetics/src/__tests__/test.test.ts
  packages/plugin-synthetics/src/__tests__/utils/public.test.ts
  packages/plugin-synthetics/src/api.ts
  packages/plugin-synthetics/src/commands/__tests__/run-tests.test.ts
  packages/plugin-synthetics/src/commands/__tests__/upload-application.test.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
