Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

replace `rm -rf .git` in windows
  .github/workflows/ci.yml
Due: none

Remove `DEBUG=plugins`
  .github/workflows/ci.yml
Due: none

Add comment
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

use powershell syntax
  .github/workflows/ci.yml
Due: none

fail sarif
  .github/workflows/ci.yml
Due: none

really fail sarif
  .github/workflows/ci.yml
Due: none

Revert "Undo `--experimental-vm-modules`"
  package.json
  packages/base/src/helpers/plugin.ts
Due: format, lint-packages, lint-readmes

Prefer keeping `await import()` and `pathToFileURL`
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Update lint script
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Github issue 1997
  packages/datadog-ci/src/commands/sourcemaps/__tests__/fixtures/with-sourcemap-url/bundle.min.js
  packages/datadog-ci/src/commands/sourcemaps/__tests__/fixtures/with-sourcemap-url/some-random-hash.js.map
  packages/datadog-ci/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/datadog-ci/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

url-percent encoding fixed
  packages/datadog-ci/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

[chore] Enable dependabot for github actions
  .github/dependabot.yml
Due: none

[SYNTH-23730] Fix plugin import on Windows (#2033)
  .github/workflows/ci.yml
  bin/lint-packages.ts
  package.json
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/__tests__/testing-tools.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-packages, lint-readmes

[chore] Enable dependabot for github actions (#2036)
  .github/dependabot.yml
Due: none

pr comments
  packages/datadog-ci/src/commands/sourcemaps/__tests__/utils.test.ts
  packages/datadog-ci/src/commands/sourcemaps/upload.ts
  packages/datadog-ci/src/commands/sourcemaps/utils.ts
Due: format, lint-readmes

[CHORE] migrate to serverless onboarding managed team
  .github/CODEOWNERS
Due: none

[CHORE] migrate to serverless onboarding managed team (#2046)
  .github/CODEOWNERS
Due: none

[SVLS-8267] fix error on unspecified runtime
  packages/plugin-lambda/src/functions/instrument.ts
Due: format, lint-readmes

[SVLS-8267] add test
  packages/plugin-lambda/src/__tests__/instrument.test.ts
Due: format, lint-readmes

[SVLS-8267] add negative test as well
  packages/plugin-lambda/src/__tests__/instrument.test.ts
Due: format, lint-readmes

[SVLS-8267] fix error on unspecified runtime (#2047)
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/functions/instrument.ts
Due: format, lint-readmes

pr comments
  packages/datadog-ci/src/commands/sourcemaps/__tests__/fixtures/with-encoded-sourcemap-url/[some-bundler]_runtime.js.map
  packages/datadog-ci/src/commands/sourcemaps/__tests__/fixtures/with-encoded-sourcemap-url/runtime.min.js
  packages/datadog-ci/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/datadog-ci/src/commands/sourcemaps/__tests__/utils.test.ts
  packages/datadog-ci/src/commands/sourcemaps/upload.ts
  packages/datadog-ci/src/commands/sourcemaps/utils.ts
Due: format, lint-readmes

windows fix
  packages/datadog-ci/src/commands/sourcemaps/utils.ts
Due: format, lint-readmes

[chore] Add warning about github actions in `lint:packages` script
  bin/lint-packages.ts
Due: format, lint-readmes

Fix detection
  bin/lint-packages.ts
Due: format, lint-readmes

Improve message
  bin/lint-packages.ts
Due: format, lint-readmes

[chore] Add warning about github actions in `lint:packages` script (#1909)
  bin/lint-packages.ts
Due: format, lint-readmes

v5.2.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

v5.2.1
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

Use a custom format to extract committer and author information
  packages/base/src/helpers/__tests__/tags.test.ts
  packages/base/src/helpers/git/__tests__/format-git-span-data.test.ts
  packages/base/src/helpers/git/format-git-span-data.ts
  packages/base/src/helpers/git/get-git-data.ts
Due: format, lint-readmes

[coverage] Fix packages
  .github/workflows/ci.yml
  packages/datadog-ci/package.json
  packages/datadog-ci/tsconfig.json
  packages/plugin-coverage/package.json
  yarn.lock
Due: lint-packages
