Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

[SVLS-8091] improve lambda help messages (#2003)
  .pre-commit-config.yaml
  bin/lint-readme-usage.ts
  packages/base/src/commands/lambda/flare.ts
  packages/base/src/commands/lambda/instrument.ts
  packages/base/src/commands/lambda/uninstrument.ts
  packages/plugin-lambda/README.md
  packages/plugin-stepfunctions/README.md
Due: format, lint-readmes

[SVLS-8092] use layer versions from a cached file
  packages/plugin-lambda/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-lambda/src/__tests__/functions/commons.test.ts
  packages/plugin-lambda/src/__tests__/functions/instrument.part1.test.ts
  packages/plugin-lambda/src/__tests__/functions/instrument.part2.test.ts
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/commands/instrument.ts
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/functions/instrument.ts
  packages/plugin-lambda/src/interfaces.ts
  packages/plugin-lambda/src/layer-versions.json
  packages/plugin-lambda/tsconfig.json
Due: format, lint-packages, lint-readmes

[SVLS-8092] remove unused
  packages/plugin-lambda/src/__tests__/functions/commons.test.ts
  packages/plugin-lambda/src/__tests__/functions/instrument.part2.test.ts
  packages/plugin-lambda/src/functions/commons.ts
Due: format, lint-readmes

[SVLS-8092] use typescript instead of json for simplicity
  packages/base/src/commands/lambda/instrument.ts
  packages/base/src/helpers/serverless/lambda-layer-versions.ts
  packages/plugin-lambda/README.md
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/layer-versions.json
  packages/plugin-lambda/tsconfig.json
Due: format, lint-packages, lint-readmes

[SVLS-8092] improve script
  bin/lint-readme-usage.ts
  packages/plugin-aas/README.md
  packages/plugin-cloud-run/README.md
  packages/plugin-container-app/README.md
  packages/plugin-lambda/README.md
Due: format, lint-readmes

[SVLS-8092] improve script pt 2
  bin/lint-readme-usage.ts
  packages/plugin-aas/README.md
  packages/plugin-cloud-run/README.md
  packages/plugin-container-app/README.md
Due: format, lint-readmes

Support Ruby 3.4
  packages/plugin-lambda/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/commons.ts
Due: format, lint-readmes

[SVLS-8092] dont warn
  bin/lint-readme-usage.ts
Due: format, lint-readmes

[SVLS-8092] update wording
  packages/base/src/commands/lambda/instrument.ts
  packages/plugin-lambda/README.md
Due: format, lint-readmes

v4.4.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

[SVLS-8092] use layer versions from a cached file (#2004)
  bin/lint-readme-usage.ts
  packages/base/src/commands/lambda/instrument.ts
  packages/base/src/helpers/serverless/lambda-layer-versions.ts
  packages/plugin-aas/README.md
  packages/plugin-cloud-run/README.md
  packages/plugin-lambda/README.md
  packages/plugin-lambda/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-lambda/src/__tests__/functions/commons.test.ts
  packages/plugin-lambda/src/__tests__/functions/instrument.part1.test.ts
  packages/plugin-lambda/src/__tests__/functions/instrument.part2.test.ts
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/commands/instrument.ts
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/functions/instrument.ts
  packages/plugin-lambda/src/interfaces.ts
Due: format, lint-readmes

[SYNTH-21705] Move `dsyms` to base package
  packages/base/src/cli.ts
  packages/base/src/commands/dsyms/README.md
  packages/base/src/commands/dsyms/__tests__/fixtures/all.zip
  packages/base/src/commands/dsyms/__tests__/fixtures/datadog-ci.json
  packages/base/src/commands/dsyms/__tests__/fixtures/multiple-archs/DDTest.framework.dSYM/Contents/Info.plist
  packages/base/src/commands/dsyms/__tests__/fixtures/multiple-archs/DDTest.framework.dSYM/Contents/Resources/DWARF/DDTest
  packages/base/src/commands/dsyms/__tests__/fixtures/multiple-archs/DDTest.framework.dSYM/Contents/Resources/DWARF/DDTest.debug.dylib
  packages/base/src/commands/dsyms/__tests__/fixtures/single-arch/DDTest.framework.dSYM/Contents/Info.plist
  packages/base/src/commands/dsyms/__tests__/fixtures/single-arch/DDTest.framework.dSYM/Contents/Resources/DWARF/DDTest
  packages/base/src/commands/dsyms/__tests__/upload.test.ts
  packages/base/src/commands/dsyms/__tests__/utils.test.ts
  packages/base/src/commands/dsyms/cli.ts
  packages/base/src/commands/dsyms/interfaces.ts
  packages/base/src/commands/dsyms/renderer.ts
  packages/base/src/commands/dsyms/upload.ts
  packages/base/src/commands/dsyms/utils.ts
  packages/datadog-ci/src/commands/cli.ts
  packages/datadog-ci/src/commands/elf-symbols/__tests__/elf.test.ts
  packages/datadog-ci/src/commands/elf-symbols/upload.ts
  packages/datadog-ci/src/commands/flutter-symbols/__tests__/upload.test.ts
  packages/datadog-ci/src/commands/flutter-symbols/upload.ts
  packages/datadog-ci/src/commands/unity-symbols/__tests__/upload.test.ts
  packages/datadog-ci/src/commands/unity-symbols/upload.ts
Due: format, lint-packages, lint-readmes

Use lint script
  bin/lint-packages.ts
  packages/base/src/commands/dsyms/cli.ts
Due: format, lint-readmes

Run `yarn format`
  packages/base/src/commands/dsyms/__tests__/upload.test.ts
  packages/base/src/commands/dsyms/renderer.ts
  packages/base/src/commands/dsyms/upload.ts
  packages/base/src/commands/dsyms/utils.ts
Due: format, lint-readmes

[chores] Remove `git-metadata` exports entry
  packages/base/package.json
  packages/base/src/commands/git-metadata/index.ts
  packages/datadog-ci/src/index.ts
Due: format, lint-packages, lint-readmes

[chores] Drop support for Node 18
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  packages/datadog-ci/README.md
  packages/datadog-ci/package.json
Due: lint-packages

Change "NodeJS" into "Node.js"
  CONTRIBUTING.md
  packages/datadog-ci/README.md
Due: none

Add `types` property
  .syncpackrc.json
  packages/base/package.json
  packages/datadog-ci/package.json
Due: lint-packages

[SYNTH-22415] Temporary auto-install with NPX
  .github/workflows/ci.yml
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Update module paths
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

[SVLS-8092] use latest layer as default instead of none
  packages/base/src/commands/lambda/instrument.ts
  packages/plugin-lambda/README.md
  packages/plugin-lambda/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/commands/instrument.ts
Due: format, lint-readmes

Fix tests
  jest.config.mjs
  packages/base/src/helpers/__tests__/plugin.test.ts
Due: format, lint-readmes

[chores] Drop built-in `synthetics` plugin
  container/Dockerfile
  packages/datadog-ci/package.json
  packages/datadog-ci/tsconfig.json
  yarn.lock
Due: lint-packages

[chores] Add `--all` to `plugin list` command
  packages/base/src/commands/plugin/list.ts
Due: format, lint-readmes

Exit early when package is built-in
  packages/base/src/commands/plugin/check.ts
  packages/base/src/commands/plugin/install.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Update tests
  packages/base/src/commands/plugin/__tests__/list.test.ts
  standalone-e2e/standalone-binary.test.ts
Due: format, lint-readmes

[docs] Update MIGRATING.md
  MIGRATING.md
Due: none

Add more info
  MIGRATING.md
Due: none

Remove `any` in tests
  packages/base/src/helpers/__tests__/plugin.test.ts
Due: format, lint-readmes

Reuse variable
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

[BREAKING CHANGE][lambda instrument] use latest layer as default instead of none (#2012)
  packages/base/src/commands/lambda/instrument.ts
  packages/plugin-lambda/README.md
  packages/plugin-lambda/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/commands/instrument.ts
Due: format, lint-readmes

Add e2e test with NPM
  .github/workflows/ci.yml
Due: none

Update link
  MIGRATING.md
Due: none

[CHORE] remove unnecessary env var
  packages/plugin-aas/src/__tests__/common.test.ts
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/commands/uninstrument.ts
  packages/plugin-aas/src/common.ts
Due: format, lint-readmes

Fix e2e test after removing `synthetics` plugin
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

debug e2e
  .github/workflows/ci.yml
Due: none

Update error message in standalone binary tests
  standalone-e2e/standalone-binary.test.ts
Due: format, lint-readmes

debug other e2e test
  .github/workflows/ci.yml
Due: none

Add base package in deps
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Use `overrides` to also override during `datadog plugin install`
  .github/workflows/ci.yml
Due: none
