Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

feat(sourcemaps): use magic-string + remapping for debug ID sourcemap injection
  packages/base/package.json
  packages/base/src/commands/sourcemaps/__tests__/debugId.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
  packages/base/tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

[coverage] Add --ignored-source-paths to coverage upload (#2452)
  packages/base/src/commands/coverage/upload.ts
  packages/base/src/helpers/__tests__/pattern-list.test.ts
  packages/base/src/helpers/pattern-list.ts
  packages/plugin-coverage/README.md
  packages/plugin-coverage/src/__tests__/api.test.ts
  packages/plugin-coverage/src/__tests__/upload.test.ts
  packages/plugin-coverage/src/api.ts
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/interfaces.ts
Due: format, lint-readmes

chore(sourcemaps): add LICENSE-3rdparty.csv entries for magic-string, remapping, trace-mapping
  LICENSE-3rdparty.csv
Due: none

perf(sourcemaps): drop redundant JSON round-trips in debug-ID injection
  packages/base/src/commands/sourcemaps/debugId.ts
Due: format, lint-readmes

fix(sourcemaps): isolate per-payload injection failures and preserve full directive prologue
  packages/base/src/commands/sourcemaps/__tests__/debugId.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
Due: format, lint-readmes

v5.23.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

Fix admin approval check in check-npm-packages script
  bin/check-npm-packages.sh
Due: none

Remove explanatory comment from admin role check
  bin/check-npm-packages.sh
Due: none

Use permissions.maintain boolean instead of role_name
  bin/check-npm-packages.sh
Due: none

Also accept literal admin permission explicitly
  bin/check-npm-packages.sh
Due: none

initialize ecs
  .github/workflows/ci.yml
  container/Dockerfile
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/ecs/cli.ts
  packages/base/src/commands/ecs/instrument.ts
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/plugin-ecs/LICENSE
  packages/plugin-ecs/README.md
  packages/plugin-ecs/package.json
  packages/plugin-ecs/src/commands/instrument.ts
  packages/plugin-ecs/tsconfig.json
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

rename to ecs-fargate
  .github/workflows/ci.yml
  container/Dockerfile
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/ecs-fargate/cli.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/ecs/cli.ts
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/plugin-ecs-fargate/LICENSE
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/tsconfig.json
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

core instrument command
  .github/CODEOWNERS
  .github/advanced-issue-labeler.yml
  LICENSE-3rdparty.csv
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/plugin/__tests__/list.test.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

add flags for parity
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/helpers/serverless/__tests__/common.test.ts
  packages/base/src/helpers/serverless/common.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

support windows and enable deploying task revisions
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

derive cluster from service arn
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

update package version and sdk version
  packages/plugin-ecs-fargate/package.json
  yarn.lock
Due: lint-packages

prepare Lambda layer catalog
  packages/base/src/helpers/serverless/lambda-layer-catalog.ts
  packages/base/src/helpers/serverless/lambda-layer-versions.ts
  packages/plugin-lambda/src/constants.ts
Due: format, lint-readmes

remove version reexport
  packages/base/src/commands/lambda/instrument.ts
  packages/base/src/helpers/serverless/lambda-layer-versions.ts
  packages/plugin-lambda/src/functions/commons.ts
Due: format, lint-readmes

feat(sourcemaps): add debug ID injection command
  LICENSE-3rdparty.csv
  packages/base/package.json
  packages/base/src/commands/sourcemaps/README.md
  packages/base/src/commands/sourcemaps/__tests__/debugId.test.ts
  packages/base/src/commands/sourcemaps/__tests__/inject.test.ts
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/cli.ts
  packages/base/src/commands/sourcemaps/debugId.ts
  packages/base/src/commands/sourcemaps/discovery.ts
  packages/base/src/commands/sourcemaps/inject.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/datadog-ci/src/__tests__/cli.test.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

fix(sourcemaps): make debug ID injection transactional
  packages/base/src/commands/sourcemaps/README.md
  packages/base/src/commands/sourcemaps/__tests__/debugId.test.ts
  packages/base/src/commands/sourcemaps/__tests__/inject.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
  packages/base/src/commands/sourcemaps/inject.ts
  packages/base/tsconfig.json
Due: format, lint-packages, lint-readmes

fix(sourcemaps): harden debug ID artifact handling
  packages/base/src/commands/sourcemaps/README.md
  packages/base/src/commands/sourcemaps/__tests__/debugId.test.ts
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-debug-id/common.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-partial-debug-id/a.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/inject.test.ts
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
  packages/base/src/commands/sourcemaps/discovery.ts
  packages/base/src/commands/sourcemaps/inject.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/commands/sourcemaps/validation.ts
Due: format, lint-readmes

fix(sourcemaps): align debug ID injection with build plugins
  packages/base/src/commands/sourcemaps/README.md
  packages/base/src/commands/sourcemaps/__tests__/debugId.test.ts
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-debug-id/common.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/bundle-with-partial-debug-id/a.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/inject.test.ts
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
  packages/base/src/commands/sourcemaps/findSourcemaps.ts
  packages/base/src/commands/sourcemaps/inject.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/commands/sourcemaps/validation.ts
Due: format, lint-readmes

fix(sourcemaps): skip empty maps during debug ID injection
  packages/base/src/commands/sourcemaps/README.md
  packages/base/src/commands/sourcemaps/__tests__/inject.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
  packages/base/src/commands/sourcemaps/renderer.ts
Due: format, lint-readmes

fix(sourcemaps): validate maps before debug ID injection
  packages/base/src/commands/sourcemaps/__tests__/inject.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
Due: format, lint-readmes

chore(sourcemaps): prefix injection source name
  packages/base/src/commands/sourcemaps/debugId.ts
Due: format, lint-readmes

separate Lambda artifacts
  packages/base/src/commands/lambda/instrument.ts
  packages/base/src/helpers/serverless/lambda-layer-catalog.ts
  packages/base/src/helpers/serverless/lambda-layer-versions.ts
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/lambda-layer-runtimes.ts
Due: format, lint-readmes

fix(sourcemaps): preserve directives during injection
  LICENSE-3rdparty.csv
  packages/base/package.json
  packages/base/src/commands/sourcemaps/__tests__/debugId.test.ts
  packages/base/src/commands/sourcemaps/__tests__/inject.test.ts
  packages/base/src/commands/sourcemaps/debugId.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

keep generated runtimes private
  packages/plugin-lambda/src/__tests__/functions/commons.test.ts
  packages/plugin-lambda/src/__tests__/functions/versionChecker.test.ts
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/cloudwatch.ts
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/functions/instrument.ts
  packages/plugin-lambda/src/functions/uninstrument.ts
  packages/plugin-lambda/src/functions/versionChecker.ts
  packages/plugin-lambda/src/lambda-layer-runtimes.ts
Due: format, lint-readmes

decouple catalog updates
  packages/base/src/commands/lambda/instrument.ts
  packages/plugin-lambda/README.md
  packages/plugin-lambda/src/__tests__/instrument.test.ts
Due: format, lint-readmes

Revert "decouple catalog updates"
  packages/base/src/commands/lambda/instrument.ts
  packages/plugin-lambda/README.md
  packages/plugin-lambda/src/__tests__/instrument.test.ts
Due: format, lint-readmes

prepare Lambda layer artifacts (#2461)
  packages/plugin-lambda/src/__tests__/functions/commons.test.ts
  packages/plugin-lambda/src/__tests__/functions/versionChecker.test.ts
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/cloudwatch.ts
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/functions/instrument.ts
  packages/plugin-lambda/src/functions/uninstrument.ts
  packages/plugin-lambda/src/functions/versionChecker.ts
  packages/plugin-lambda/src/lambda-layer-runtimes.ts
Due: format, lint-readmes

chore: reconcile lambda runtime support
  packages/plugin-lambda/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-lambda/src/__tests__/functions/commons.test.ts
  packages/plugin-lambda/src/__tests__/functions/instrument.part1.test.ts
  packages/plugin-lambda/src/__tests__/functions/instrument.part2.test.ts
  packages/plugin-lambda/src/__tests__/functions/uninstrument.test.ts
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/__tests__/uninstrument.test.ts
Due: format, lint-readmes

remove legacy runtime check
  packages/plugin-lambda/src/functions/commons.ts
Due: format, lint-readmes

restore handler runtime fixture
  packages/plugin-lambda/src/__tests__/functions/instrument.part1.test.ts
Due: format, lint-readmes

narrow runtime reconciliation
  packages/plugin-lambda/src/__tests__/functions/uninstrument.test.ts
  packages/plugin-lambda/src/lambda-layer-runtimes.ts
Due: format, lint-readmes

support exact Java 8 runtime
  packages/plugin-lambda/src/__tests__/functions/commons.test.ts
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/lambda-layer-runtimes.ts
Due: format, lint-readmes

retain supported legacy runtimes
  packages/plugin-lambda/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-lambda/src/__tests__/functions/instrument.part1.test.ts
  packages/plugin-lambda/src/__tests__/functions/instrument.part2.test.ts
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/__tests__/uninstrument.test.ts
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/lambda-layer-runtimes.ts
Due: format, lint-readmes

revert test
  packages/plugin-lambda/src/__tests__/functions/commons.test.ts
Due: format, lint-readmes

chore: reconcile lambda runtime support (#2467)
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/lambda-layer-runtimes.ts
Due: format, lint-readmes
