Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

Add repository payload to dsyms cmd
  packages/base/src/commands/dsyms/__tests__/upload.test.ts
  packages/base/src/commands/dsyms/interfaces.ts
  packages/base/src/commands/dsyms/upload.ts
Due: format, lint-readmes

Update upload.test.ts
  packages/base/src/commands/dsyms/__tests__/upload.test.ts
Due: format, lint-readmes

Fix dsyms lint errors: unused GitData import, type-only imports
  packages/base/src/commands/dsyms/__tests__/upload.test.ts
  packages/base/src/commands/dsyms/upload.ts
Due: format, lint-readmes

fix: wait for npm plugin availability before publishing CLI
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  RELEASING.md
  bin/tests/wait-for-npm-packages.sh
  bin/wait-for-npm-packages.sh
Due: none

Remove 'publish:all' script from package.json
  package.json
Due: lint-packages

Move NPM publication check
  .github/workflows/ci.yml
Due: none

[ci] Wait for npm plugin availability before publishing CLI (#2525)
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  RELEASING.md
  bin/tests/wait-for-npm-packages.sh
  bin/wait-for-npm-packages.sh
  package.json
Due: lint-packages

feat(pe-symbols): upload PE companion for CFI generation
  packages/base/src/commands/pe-symbols/README.md
  packages/base/src/commands/pe-symbols/__tests__/upload.test.ts
  packages/base/src/commands/pe-symbols/interfaces.ts
  packages/base/src/commands/pe-symbols/upload.ts
Due: format, lint-readmes

feat(pe-symbols): upload PE companions by default
  packages/base/src/commands/pe-symbols/README.md
  packages/base/src/commands/pe-symbols/__tests__/upload.test.ts
  packages/base/src/commands/pe-symbols/interfaces.ts
  packages/base/src/commands/pe-symbols/upload.ts
Due: format, lint-readmes

preserve array order in serverless config diffs
  packages/base/src/helpers/serverless/__tests__/common.test.ts
  packages/base/src/helpers/serverless/common.ts
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/uninstrument.test.ts.snap
Due: format, lint-readmes

use unix socket transport by default + add install info
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

dont block succesful apps, if some apps fail + instrument/deploy each app individually + parallelism
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
Due: format, lint-readmes

Add ecs-fargate instrument
  .github/CODEOWNERS
  .github/advanced-issue-labeler.yml
  .github/workflows/ci.yml
  LICENSE-3rdparty.csv
  container/Dockerfile
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/ecs-fargate/cli.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/plugin/__tests__/list.test.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-ecs-fargate/LICENSE
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
  packages/plugin-ecs-fargate/tsconfig.json
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/src/cli.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

yarn lint
  packages/base/src/commands/ecs-fargate/cli.ts
Due: format, lint-readmes

update package version
  packages/plugin-ecs-fargate/package.json
Due: lint-packages

drop tool info vars
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

Support windows platforms
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

add configuration flags for ecs-fargate instrument
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

add datadog-log-router
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/common.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/ecs-fargate/uninstrument.ts
  packages/datadog-ci/README.md
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
Due: format, lint-readmes

extend platform aware matching to api key filtering
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

uninstrument command
  packages/base/src/commands/ecs-fargate/cli.ts
  packages/base/src/commands/ecs-fargate/common.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/ecs-fargate/uninstrument.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/__tests__/uninstrument.test.ts
  packages/plugin-ecs-fargate/src/apps.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/commands/uninstrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

block log router on windows tasks
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

pr feedback
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/apps.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

ssi
  packages/base/src/commands/ecs-fargate/common.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/ssi.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/ssi.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

ai feedback
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/__tests__/ssi.test.ts
  packages/plugin-container-app/src/__tests__/uninstrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/uninstrument.ts
  packages/plugin-container-app/src/ssi.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/ssi.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/ssi.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

lint readme
  packages/plugin-container-app/README.md
Due: none

shared tracer-input resolution, shared env merge
  packages/base/src/commands/container-app/instrument.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/helpers/serverless/__tests__/ssi/env-merge.test.ts
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/__tests__/ssi/recognition.test.ts
  packages/base/src/helpers/serverless/ssi/config.ts
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/base/src/helpers/serverless/ssi/env-merge.ts
  packages/base/src/helpers/serverless/ssi/env.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/base/src/helpers/serverless/ssi/recognition.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
  packages/plugin-container-app/README.md
  packages/plugin-container-app/src/__tests__/ssi.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/ssi.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/ssi.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/ssi.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

run tracer sidecar as root user
  packages/plugin-ecs-fargate/src/__tests__/ssi.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/ssi.ts
Due: format, lint-readmes

feat(pe-symbols): make unwind uploads opt-in
  packages/base/src/commands/pe-symbols/README.md
  packages/base/src/commands/pe-symbols/__tests__/upload.test.ts
  packages/base/src/commands/pe-symbols/upload.ts
Due: format, lint-readmes

feat(elf-symbols): make unwind information opt-in
  packages/base/src/commands/elf-symbols/README.md
  packages/base/src/commands/elf-symbols/__tests__/elf.test.ts
  packages/base/src/commands/elf-symbols/__tests__/upload.test.ts
  packages/base/src/commands/elf-symbols/elf.ts
  packages/base/src/commands/elf-symbols/upload.ts
Due: format, lint-readmes

omit tags when empty
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/__tests__/uninstrument.test.ts
  packages/plugin-ecs-fargate/src/commands/uninstrument.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

[elf-symbols] Preserve dynamic symbol headers on older binutils
  packages/base/src/commands/elf-symbols/__tests__/elf.test.ts
  packages/base/src/commands/elf-symbols/__tests__/upload.test.ts
  packages/base/src/commands/elf-symbols/elf-constants.ts
  packages/base/src/commands/elf-symbols/elf.ts
Due: format, lint-readmes

[elf-symbols] Preserve dynamic symbol headers on older binutils (#2527)
  packages/base/src/commands/elf-symbols/__tests__/elf.test.ts
  packages/base/src/commands/elf-symbols/__tests__/upload.test.ts
  packages/base/src/commands/elf-symbols/elf-constants.ts
  packages/base/src/commands/elf-symbols/elf.ts
Due: format, lint-readmes

fix(elf-symbols): preserve original unwind section flags
  packages/base/src/commands/elf-symbols/__tests__/elf.test.ts
  packages/base/src/commands/elf-symbols/elf.ts
Due: format, lint-readmes

[sourcemaps] Skip upload when debug ID already exists in Datadog
  packages/base/src/commands/sourcemaps/__tests__/checkExists.test.ts
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/checkExists.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/helpers/request/datadog-route.ts
Due: format, lint-readmes

[DOP-40] check_exists: send JSON:API request body
  packages/base/src/commands/sourcemaps/__tests__/checkExists.test.ts
  packages/base/src/commands/sourcemaps/checkExists.ts
Due: format, lint-readmes
