Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

chore: cloud-run e2e telemetry flow validation (#2341)
  .github/workflows/ci.yml
  e2e/cloud-run.test.ts
  e2e/helpers/cloud-run-telemetry-checker.ts
Due: format, lint-readmes

feat(logger): support JSON log output
  packages/base/src/helpers/__tests__/logger.test.ts
  packages/base/src/helpers/logger.ts
Due: format, lint-readmes

feat(logger): add `jsonOutput` to internal logger (#2347)
  packages/base/src/helpers/__tests__/logger.test.ts
  packages/base/src/helpers/logger.ts
Due: format, lint-readmes

Add package bugs metadata
  packages/datadog-ci/package.json
Due: lint-packages

e2e no plaintext secrets
  e2e/helpers/exec.ts
  jest.config-e2e.js
Due: format, lint-readmes

Add bugs metadata to all package manifests
  .syncpackrc.json
  package.json
  packages/base/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

fix e2e guard to use globalSetup not module-level exit
  e2e/helpers/global-setup.js
  jest.config-e2e.js
Due: none

inline jest argv guard, remove separate globalSetup file
  e2e/helpers/global-setup.js
  jest.config-e2e.js
Due: none

Add CI job to upload endpoint catalog CSV to S3
  .gitlab-ci.yml
Due: none

Fix Bitbucket PR head SHA detection
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
  packages/base/src/helpers/git/get-git-data.ts
Due: format, lint-readmes

Add CI job to upload endpoint catalog CSV to S3 (#2346)
  .gitlab-ci.yml
Due: none

Split catalog-endpoints into generate and upload jobs
  .gitlab-ci.yml
Due: none

Bump aws-cli image to 2.33.12
  .gitlab-ci.yml
Due: none

Split catalog-endpoints CI job into generate and upload (#2351)
  .gitlab-ci.yml
Due: none

Use internal Node.js mirror image for catalog-endpoints-generate
  .gitlab-ci.yml
Due: none

Allow manual trigger of catalog-endpoints-generate on feature branches
  .gitlab-ci.yml
Due: none

Allow manual trigger of catalog-endpoints-upload on feature branches
  .gitlab-ci.yml
Due: none

Revert manual trigger changes
  .gitlab-ci.yml
Due: none

Use internal Node.js mirror image for catalog-endpoints-generate (#2352)
  .gitlab-ci.yml
Due: none

remove monorepo url
  package.json
Due: lint-packages

Download CI Identities client to project dir instead of /usr/local/bin
  .gitlab-ci.yml
Due: none

Call CI Identities client via full path instead of modifying PATH
  .gitlab-ci.yml
Due: none

Add package bugs metadata (#2348)
  .syncpackrc.json
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

Download CI Identities client to project dir (#2353)
  .gitlab-ci.yml
Due: none

Fix YAML syntax error in ci-identities-gitlab-job-client invocation
  .gitlab-ci.yml
Due: none

Allow manual trigger of catalog jobs on feature branches, fix YAML syntax
  .gitlab-ci.yml
Due: none

fix: add missing metadata fields to package.json
  package.json
Due: lint-packages

Allow manual trigger of catalog jobs on feature branches, fix YAML syntax (#2354)
  .gitlab-ci.yml
Due: none

Add YAML linting to CI
  .datadog-ci.datadog.yml
  .github/workflows/ci.yml
  LICENSE-3rdparty.csv
  eslint.config.mjs
  package.json
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/buildPubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/missingVersionPubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/prereleasePubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/validPubspec.yaml
  yarn.lock
Due: lint-packages

Extract tsFiles and yamlFiles to named consts in eslint.config.mjs
  eslint.config.mjs
Due: none

Use disableTypeChecked to exclude YAML files from typed linting
  eslint.config.mjs
Due: none

Pass recommendedTypeChecked as array to defineConfig without spread
  eslint.config.mjs
Due: none

chore: unified e2e resource naming and tagging
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
  e2e/cloud-run.test.ts
  e2e/container-app.test.ts
Due: format, lint-readmes

move serverless fixtures
  e2e/fixtures/aas/README.md
  e2e/fixtures/container-app/README.md
Due: none

align with spec: one-e2e prefix and one_e2e_created tag
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
  e2e/cloud-run.test.ts
  e2e/container-app.test.ts
Due: format, lint-readmes

chore: unified e2e resource naming and tagging (#2358)
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
  e2e/cloud-run.test.ts
  e2e/container-app.test.ts
  e2e/fixtures/aas/README.md
  e2e/fixtures/container-app/README.md
Due: format, lint-readmes

e2e no plaintext secrets (#2349)
  e2e/helpers/exec.ts
  jest.config-e2e.js
Due: format, lint-readmes

Add YAML linting to CI (#2355)
  .datadog-ci.datadog.yml
  .github/workflows/ci.yml
  LICENSE-3rdparty.csv
  eslint.config.mjs
  package.json
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/buildPubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/missingVersionPubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/prereleasePubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/validPubspec.yaml
  yarn.lock
Due: lint-packages

Update docs url
  packages/plugin-deployment/README.md
Due: none
