Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

Update README to specify version requirement
  packages/datadog-ci/src/commands/flutter-symbols/README.md
Due: none

Merge pull request #2072 from DataDog/hugo.silva/flutter-symbols-version-required
  packages/datadog-ci/src/commands/flutter-symbols/__tests__/upload.test.ts
  packages/datadog-ci/src/commands/flutter-symbols/upload.ts
Due: format, lint-readmes

Add test123.prod.dog datacenter support
  packages/base/src/constants.ts
  packages/base/src/helpers/__tests__/validation.test.ts
  packages/plugin-cloud-run/README.md
  packages/plugin-container-app/README.md
  packages/plugin-lambda/README.md
  packages/plugin-lambda/src/__tests__/functions/instrument.part2.test.ts
  packages/plugin-lambda/src/functions/instrument.ts
Due: format, lint-readmes

Bump datadog-static-analyzer-github-action to v3.0.0
  .github/workflows/ci.yml
Due: none

v5.5.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

prep prtest07 for synthetics datadog-ci
  packages/base/src/constants.ts
  packages/base/src/helpers/__tests__/app.test.ts
  packages/base/src/helpers/__tests__/utils.test.ts
  packages/base/src/helpers/__tests__/validation.test.ts
  packages/base/src/helpers/serverless/__tests__/__snapshots__/flare.test.ts.snap
  packages/datadog-ci/src/commands/react-native/README.md
  packages/plugin-cloud-run/README.md
  packages/plugin-lambda/README.md
Due: format, lint-readmes

Run `yarn set resolution node-gyp@npm:latest npm:12.2.0`
  yarn.lock
Due: none

Run `yarn set resolution tar@npm:^7.4.3 npm:7.5.7`
  yarn.lock
Due: none

Run `yarn upgrade ssh2`
  packages/plugin-synthetics/package.json
  yarn.lock
Due: lint-packages

Run `yarn set resolution jsonwebtoken@npm:^9.0.0 npm:9.0.3`
  yarn.lock
Due: none

Run `yarn set resolution jws@npm:^4.0.0 npm:4.0.1`
  yarn.lock
Due: none

[dep] Bump `inquirer` to `8.2.6`
  packages/base/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-lambda/package.json
  yarn.lock
Due: lint-packages

[dep] Bump `diff` dev dep to `5.2.3`
  yarn.lock
Due: none

Run `yarn set resolution lodash@npm:^4.17.21 npm:4.17.23`
  yarn.lock
Due: none

Run `yarn set resolution lodash@npm:^4.17.5 npm:4.17.23`
  yarn.lock
Due: none

Run `yarn set resolution lodash@npm:^4.17.14 npm:4.17.23`
  yarn.lock
Due: none

[dep] Bump direct `fast-xml-parser` to `5.3.4`
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-junit/package.json
  yarn.lock
Due: lint-packages

[SVLS-8477] ensure consistency for WEBSITES_ENABLE_APP_SERVICE_STORAGE
  packages/plugin-aas/src/common.ts
Due: format, lint-readmes

[SVLS-8477] update tests
  packages/plugin-aas/src/__tests__/common.test.ts
  packages/plugin-aas/src/__tests__/instrument.test.ts
Due: format, lint-readmes

Merge pull request #2078 from DataDog/corentin.girard/bump-node-tar
  packages/plugin-synthetics/package.json
  yarn.lock
Due: lint-packages

[dep] Bump `jws` to fix vulnerability (#2079)
  yarn.lock
Due: none

[dep] Bump `inquirer` to `8.2.6` (#2080)
  packages/base/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-lambda/package.json
  yarn.lock
Due: lint-packages

[dep] Bump `diff` dev dep to `5.2.3` (#2081)
  yarn.lock
Due: none

[dep] Bump direct `fast-xml-parser` to `5.3.4` (#2083)
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-junit/package.json
  yarn.lock
Due: lint-packages

[dep] Bump `lodash` to `4.17.23` (#2082)
  yarn.lock
Due: none

[dep] Bump AWS SDK versions
  packages/plugin-lambda/package.json
  packages/plugin-stepfunctions/package.json
  yarn.lock
Due: lint-packages

[dep] Bump AWS SDK versions (#2085)
  packages/plugin-lambda/package.json
  packages/plugin-stepfunctions/package.json
  yarn.lock
Due: lint-packages

v5.6.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

feat: add optional build_id parameter for Android mapping uploads
  packages/datadog-ci/src/commands/flutter-symbols/README.md
  packages/datadog-ci/src/commands/flutter-symbols/__tests__/upload.test.ts
  packages/datadog-ci/src/commands/flutter-symbols/interfaces.ts
  packages/datadog-ci/src/commands/flutter-symbols/upload.ts
Due: format, lint-readmes

[chores] Fail `pre-approval-checks` job if no PR
  RELEASING.md
  bin/check-npm-packages.sh
Due: none

[chores] Fail `pre-approval-checks` job if no PR (#2091)
  RELEASING.md
  bin/check-npm-packages.sh
Due: none

Fix job display name extraction for escaped quotes and non-ephemeral runners
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

fix linting
  packages/base/src/helpers/__tests__/ci.test.ts
Due: format, lint-readmes

fix suggestions
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

[sourcemaps] Skip absolute URLs in sourceMappingURL parsing
  packages/datadog-ci/src/commands/sourcemaps/__tests__/fixtures/with-absolute-sourcemap-url/chunk.min.js
  packages/datadog-ci/src/commands/sourcemaps/__tests__/fixtures/with-absolute-sourcemap-url/chunk.min.js.map
  packages/datadog-ci/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/datadog-ci/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

Fix lint formatting in upload test
  packages/datadog-ci/src/commands/sourcemaps/__tests__/upload.test.ts
Due: format, lint-readmes

Update release workflow to publish checksums of released binaries
  .github/workflows/publish-release.yml
Due: none
