Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

[SVLS-9317] fix some last edge cases
  e2e/serverless/aas/aas-linux-ssi.test.ts
  packages/plugin-aas/package.json
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/kudu.ts
  packages/plugin-aas/src/ssi-dependencies.d.ts
  packages/plugin-aas/src/ssi-env.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

[SVLS-9317] pr feedback and review fixes
  LICENSE-3rdparty.csv
Due: none

[SVLS-9317] automatic instrumentation linux code web apps (#2504)
  LICENSE-3rdparty.csv
  e2e/serverless/aas/aas-linux-ssi.test.ts
  e2e/serverless/aas/aas-verifier.ts
  e2e/serverless/helpers/telemetry-checker.ts
  e2e/serverless/helpers/traffic.ts
  packages/base/src/commands/aas/common.ts
  packages/base/src/commands/aas/instrument.ts
  packages/base/src/helpers/request.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/plugin-aas/README.md
  packages/plugin-aas/package.json
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/__tests__/ssi-env.test.ts
  packages/plugin-aas/src/__tests__/ssi.test.ts
  packages/plugin-aas/src/__tests__/uninstrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/uninstrument.ts
  packages/plugin-aas/src/common.ts
  packages/plugin-aas/src/kudu.ts
  packages/plugin-aas/src/ssi-env.ts
  packages/plugin-aas/src/ssi-stage.ts
  packages/plugin-aas/src/ssi.ts
  packages/plugin-synthetics/src/tunnel/tunnel.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

preserve array order in serverless config diffs
  packages/base/src/helpers/serverless/__tests__/common.test.ts
  packages/base/src/helpers/serverless/common.ts
  packages/plugin-cloud-run/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-cloud-run/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/__snapshots__/uninstrument.test.ts.snap
Due: format, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/src/cli.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Add ecs-fargate instrument
  .github/CODEOWNERS
  .github/advanced-issue-labeler.yml
  .github/workflows/ci.yml
  LICENSE-3rdparty.csv
  container/Dockerfile
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/ecs-fargate/cli.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/plugin/__tests__/list.test.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-ecs-fargate/LICENSE
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
  packages/plugin-ecs-fargate/tsconfig.json
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

dont block succesful apps, if some apps fail + instrument/deploy each app individually + parallelism
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/aws.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
Due: format, lint-readmes

yarn lint
  packages/base/src/commands/ecs-fargate/cli.ts
Due: format, lint-readmes

use unix socket transport by default + add install info
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

drop tool info vars
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

block log router on windows tasks
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

add datadog-log-router
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

Support windows platforms
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

add configuration flags for ecs-fargate instrument
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/helpers/serverless/constants.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/config/datadog-ci.json
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-packages, lint-readmes

pr feedback
  packages/base/src/commands/ecs-fargate/common.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/ecs-fargate/uninstrument.ts
  packages/datadog-ci/README.md
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/package.json
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
Due: format, lint-packages, lint-readmes

extend platform aware matching to api key filtering
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

uninstrument command
  packages/base/src/commands/ecs-fargate/cli.ts
  packages/base/src/commands/ecs-fargate/common.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/ecs-fargate/uninstrument.ts
  packages/datadog-ci/README.md
  packages/datadog-ci/shims/plugin-commands.mjs
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/__tests__/uninstrument.test.ts
  packages/plugin-ecs-fargate/src/apps.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/commands/uninstrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

ssi
  packages/base/src/commands/ecs-fargate/common.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/instrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/ssi.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/ssi.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

ai feedback
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/__tests__/ssi.test.ts
  packages/plugin-container-app/src/__tests__/uninstrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/uninstrument.ts
  packages/plugin-container-app/src/ssi.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/ssi.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/ssi.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

update package version
  packages/plugin-ecs-fargate/package.json
Due: lint-packages

pr feedback
  packages/base/src/commands/ecs-fargate/common.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/commands/ecs-fargate/uninstrument.ts
  packages/datadog-ci/README.md
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/__snapshots__/uninstrument.test.ts.snap
Due: format, lint-readmes

shared tracer-input resolution, shared env merge
  packages/base/src/commands/container-app/instrument.ts
  packages/base/src/commands/ecs-fargate/instrument.ts
  packages/base/src/helpers/serverless/__tests__/ssi/env-merge.test.ts
  packages/base/src/helpers/serverless/__tests__/ssi/injection-spec.test.ts
  packages/base/src/helpers/serverless/__tests__/ssi/recognition.test.ts
  packages/base/src/helpers/serverless/ssi/config.ts
  packages/base/src/helpers/serverless/ssi/constants.ts
  packages/base/src/helpers/serverless/ssi/env-merge.ts
  packages/base/src/helpers/serverless/ssi/env.ts
  packages/base/src/helpers/serverless/ssi/injection-spec.ts
  packages/base/src/helpers/serverless/ssi/recognition.ts
  packages/plugin-cloud-run/src/__tests__/ssi.test.ts
  packages/plugin-cloud-run/src/ssi.ts
  packages/plugin-container-app/README.md
  packages/plugin-container-app/src/__tests__/ssi.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/ssi.ts
  packages/plugin-ecs-fargate/README.md
  packages/plugin-ecs-fargate/src/__tests__/fixtures.ts
  packages/plugin-ecs-fargate/src/__tests__/instrument.test.ts
  packages/plugin-ecs-fargate/src/__tests__/ssi.test.ts
  packages/plugin-ecs-fargate/src/__tests__/task-definition.test.ts
  packages/plugin-ecs-fargate/src/commands/instrument.ts
  packages/plugin-ecs-fargate/src/constants.ts
  packages/plugin-ecs-fargate/src/ssi.ts
  packages/plugin-ecs-fargate/src/task-definition.ts
Due: format, lint-readmes

Tag junit e2e uploads per matrix job to isolate CI Visibility checks
  e2e/junit.test.ts
Due: format, lint-readmes

Skip the literal-glob-string junit e2e test on Windows
  e2e/junit.test.ts
Due: format, lint-readmes

feat(dsyms): include macOS platform in uploads
  packages/base/src/commands/dsyms/__tests__/interfaces.test.ts
  packages/base/src/commands/dsyms/__tests__/macho.test.ts
  packages/base/src/commands/dsyms/interfaces.ts
  packages/base/src/commands/dsyms/macho.ts
  packages/base/src/commands/dsyms/upload.ts
Due: format, lint-readmes

feat(elf-symbols): request CFI cache generation
  packages/base/src/commands/elf-symbols/__tests__/upload.test.ts
  packages/base/src/commands/elf-symbols/interfaces.ts
  packages/base/src/commands/elf-symbols/upload.ts
Due: format, lint-readmes

[SYNTH-29256] Document PLUGIN_INSTALL_VERSION_OVERRIDE for plugin installs
  packages/datadog-ci/README.md
  packages/plugin-synthetics/README.md
Due: none

Add git metadata to dsyms cmd
  packages/base/src/commands/dsyms/README.md
  packages/base/src/commands/dsyms/__tests__/upload.test.ts
  packages/base/src/commands/dsyms/interfaces.ts
  packages/base/src/commands/dsyms/upload.ts
Due: format, lint-readmes

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
