Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

[coverage] Update README.md
  packages/plugin-coverage/README.md
Due: none

Make `git show` format line more legible
  packages/base/src/helpers/git/get-git-data.ts
Due: format, lint-readmes

Add `init-package.sh` script
  bin/init-package.sh
Due: none

Adapt `migrate.sh` script
  bin/migrate.sh
Due: none

Fix lint-packages script
  bin/lint-packages.ts
Due: format, lint-readmes

Add docs about listing packages
  CONTRIBUTING.md
Due: none

Check published packages in CI
  .github/workflows/ci.yml
Due: none

Init `junit` plugin
  packages/plugin-junit/LICENSE
  packages/plugin-junit/README.md
  packages/plugin-junit/package.json
  yarn.lock
Due: lint-packages

Colorize scripts
  bin/init-package.sh
  bin/migrate.sh
Due: none

Reintroduce `--provenance`
  .github/workflows/publish-release.yml
Due: none

Publish junit `0.0.3` with `--provenance`
  .github/workflows/test-release.yml
  packages/plugin-junit/package.json
Due: lint-packages

Delete temporary workflow
  .github/workflows/test-release.yml
Due: none

Run migrate script
  .github/CODEOWNERS
  .github/workflows/ci.yml
  README.md
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/junit/cli.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/shims/injected-plugin-submodules.js
  packages/datadog-ci/src/commands/junit/cli.ts
  packages/datadog-ci/tsconfig.json
  packages/plugin-junit/LICENSE
  packages/plugin-junit/README.md
  packages/plugin-junit/package.json
  packages/plugin-junit/src/__tests__/fixtures/autodiscovery/junit-report.xml
  packages/plugin-junit/src/__tests__/fixtures/autodiscovery/nested/TEST-suite.xml
  packages/plugin-junit/src/__tests__/fixtures/autodiscovery/regular-file.xml
  packages/plugin-junit/src/__tests__/fixtures/autodiscovery/test-results.xml
  packages/plugin-junit/src/__tests__/fixtures/empty.xml
  packages/plugin-junit/src/__tests__/fixtures/go-report.xml
  packages/plugin-junit/src/__tests__/fixtures/invalid.xml
  packages/plugin-junit/src/__tests__/fixtures/java-report.xml
  packages/plugin-junit/src/__tests__/fixtures/junit.xml/valid-report-2.xml
  packages/plugin-junit/src/__tests__/fixtures/junit.xml/valid-report.xml
  packages/plugin-junit/src/__tests__/fixtures/other/other-non-junit-file.txt
  packages/plugin-junit/src/__tests__/fixtures/subfolder/invalid-no-tests.xml
  packages/plugin-junit/src/__tests__/fixtures/subfolder/js-report.xml
  packages/plugin-junit/src/__tests__/fixtures/subfolder/non-junit-file.txt
  packages/plugin-junit/src/__tests__/upload.test.ts
  packages/plugin-junit/src/__tests__/utils.test.ts
  packages/plugin-junit/src/api.ts
  packages/plugin-junit/src/interfaces.ts
  packages/plugin-junit/src/renderer.ts
  packages/plugin-junit/src/upload.ts
  packages/plugin-junit/src/utils.ts
  packages/plugin-junit/tsconfig.json
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

Split `JunitUploadCommand`
  packages/base/src/commands/junit/upload.ts
  packages/datadog-ci/src/commands/cli.ts
  packages/datadog-ci/src/commands/coverage/api.ts
  packages/datadog-ci/src/commands/coverage/upload.ts
  packages/plugin-junit/src/__tests__/upload.test.ts
  packages/plugin-junit/src/upload.ts
Due: format, lint-readmes

Run `yarn lint:packages --fix`
  .github/workflows/ci.yml
  packages/plugin-junit/package.json
  yarn.lock
Due: lint-packages

Fix tests
  packages/base/src/commands/plugin/__tests__/list.test.ts
  packages/plugin-junit/src/__tests__/upload.test.ts
  packages/plugin-junit/src/commands/upload.ts
Due: format, lint-readmes

Add DD_API_KEY_SSM_ARN env var so Datadog CI supports SSM API Key
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/instrument.ts
  packages/plugin-lambda/src/prompt.ts
Due: format, lint-readmes

Fix formatting
  packages/plugin-lambda/src/prompt.ts
Due: format, lint-readmes

Run `yarn lint:packages --fix` again
  .github/workflows/ci.yml
Due: none

Change version at the end of init script
  bin/init-package.sh
  bin/migrate.sh
Due: none

test update
  packages/plugin-lambda/src/__tests__/functions/instrument.part2.test.ts
Due: format, lint-readmes

Fail CI on PRs with empty initialized packages
  bin/lint-packages.ts
Due: format, lint-readmes

remove node check
  packages/plugin-lambda/src/functions/instrument.ts
Due: format, lint-readmes

add comment
  packages/plugin-lambda/src/functions/instrument.ts
Due: format, lint-readmes

remove unused variable
  packages/plugin-lambda/src/functions/instrument.ts
Due: format, lint-readmes

Run `yarn lint:packages --fix`
  packages/datadog-ci/package.json
  yarn.lock
Due: lint-packages

Rename `init-package.sh` to `create-package.sh`
  bin/create-package.sh
Due: none

Add `package:create` and `package:migrate` aliases
  package.json
Due: lint-packages

[SYNTH-21709] Migrate `junit upload` command to built-in plugin (#2056)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  README.md
  packages/base/package.json
  packages/base/src/cli.ts
  packages/base/src/commands/junit/cli.ts
  packages/base/src/commands/junit/upload.ts
  packages/base/src/commands/plugin/__tests__/list.test.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/shims/injected-plugin-submodules.js
  packages/datadog-ci/src/commands/cli.ts
  packages/datadog-ci/src/commands/junit/cli.ts
  packages/datadog-ci/tsconfig.json
  packages/plugin-junit/LICENSE
  packages/plugin-junit/README.md
  packages/plugin-junit/package.json
  packages/plugin-junit/src/__tests__/fixtures/autodiscovery/junit-report.xml
  packages/plugin-junit/src/__tests__/fixtures/autodiscovery/nested/TEST-suite.xml
  packages/plugin-junit/src/__tests__/fixtures/autodiscovery/regular-file.xml
  packages/plugin-junit/src/__tests__/fixtures/autodiscovery/test-results.xml
  packages/plugin-junit/src/__tests__/fixtures/empty.xml
  packages/plugin-junit/src/__tests__/fixtures/go-report.xml
  packages/plugin-junit/src/__tests__/fixtures/invalid.xml
  packages/plugin-junit/src/__tests__/fixtures/java-report.xml
  packages/plugin-junit/src/__tests__/fixtures/junit.xml/valid-report-2.xml
  packages/plugin-junit/src/__tests__/fixtures/junit.xml/valid-report.xml
  packages/plugin-junit/src/__tests__/fixtures/other/other-non-junit-file.txt
  packages/plugin-junit/src/__tests__/fixtures/subfolder/invalid-no-tests.xml
  packages/plugin-junit/src/__tests__/fixtures/subfolder/js-report.xml
  packages/plugin-junit/src/__tests__/fixtures/subfolder/non-junit-file.txt
  packages/plugin-junit/src/__tests__/upload.test.ts
  packages/plugin-junit/src/__tests__/utils.test.ts
  packages/plugin-junit/src/api.ts
  packages/plugin-junit/src/commands/upload.ts
  packages/plugin-junit/src/interfaces.ts
  packages/plugin-junit/src/renderer.ts
  packages/plugin-junit/src/utils.ts
  packages/plugin-junit/tsconfig.json
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

Reduce the role of `create-package.sh`
  bin/create-package.sh
Due: none

Make new script to check NPM packages
  .github/workflows/ci.yml
  bin/check-npm-packages.sh
  package.json
Due: lint-packages

Undo ci.yml changes
  .github/workflows/ci.yml
Due: none

Change publish-release.yml instead
  .github/workflows/publish-release.yml
  bin/check-npm-packages.sh
Due: none

Stricter regex for tag
  .github/workflows/publish-release.yml
Due: none

Create foo package
  packages/plugin-foo/LICENSE
  packages/plugin-foo/README.md
  packages/plugin-foo/package.json
  yarn.lock
Due: lint-packages

Still run `yarn install` in create package script
  bin/create-package.sh
Due: none

Rename scripts
  bin/create-plugin.sh
  package.json
Due: lint-packages

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
