Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

apply suggestions
  README.md
Due: none

docs: Update README paths to base package (#2312)
  README.md
Due: none

overwrite release 1.0
  scripts/node-download.mjs
Due: none

Try latest version of pkg
  .yarn/patches/@yao-pkg-pkg-fetch-npm-3.5.24-3b96980136.patch
  .yarn/patches/@yao-pkg-pkg-npm-6.6.0-d4777368b9.patch
  package.json
  yarn.lock
Due: lint-packages

[dep] Bump `@aws-sdk/*`, `fast-xml-parser` to fix vuln
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-stepfunctions/package.json
  yarn.lock
Due: lint-packages

upload artifacts
  .github/workflows/ci.yml
Due: none

Wrapper around pkg as library
  .gitignore
  .vscode/settings.json
  package.json
  scripts/pkg-wrapper.mjs
Due: lint-packages

without `.exe` extension
  .github/workflows/ci.yml
Due: none

always upload artifacts
  .github/workflows/ci.yml
Due: none

use `v22.19.0`
  scripts/pkg-wrapper.mjs
Due: none

output with .exe
  .github/workflows/ci.yml
  scripts/pkg-wrapper.mjs
Due: none

[dep] Bump `@aws-sdk/*`, `fast-xml-parser` to fix vuln (#2315)
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-stepfunctions/package.json
  yarn.lock
Due: lint-packages

use `v22.22.2` with aligned version
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  scripts/pkg-wrapper.mjs
Due: none

try `useLocalNode`
  scripts/pkg-wrapper.mjs
Due: none

only use local node for linux-x64 to fix segfault
  scripts/pkg-wrapper.mjs
Due: none

[chore] Upgrade `@yao-pkg/pkg` and remove patches
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  .gitignore
  .yarn/patches/@yao-pkg-pkg-fetch-npm-3.5.24-3b96980136.patch
  .yarn/patches/@yao-pkg-pkg-npm-6.6.0-d4777368b9.patch
  package.json
  scripts/pkg-wrapper.mjs
  yarn.lock
Due: lint-packages

[chore] Use Node v22.22.2 Security Update for SEA binary
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  scripts/pkg-wrapper.mjs
Due: none

[chore] Fix QEMU segfault on Linux x64 SEA binary
  scripts/pkg-wrapper.mjs
Due: none

Downgrade to `v22.19.0` for `node22-macos-x64` only
  .github/workflows/ci.yml
  scripts/pkg-wrapper.mjs
Due: none

Remove wrapper and use official Node.js binaries
  .gitignore
  package.json
  scripts/pkg-wrapper.mjs
Due: lint-packages

Remove binary size comparison
  .github/workflows/ci.yml
  bin/compare-binary-size.js
Due: none

Remove `Intl.Collator` shim
  scripts/tsdown-shared.mjs
Due: none

Revert unnecessary changes
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  package.json
Due: lint-packages

Move up-to-date readme to `packages/datadog-ci`
  README.md
  packages/datadog-ci/README.md
Due: none

Restore symlink
  README.md
Due: none

[dev] Add `AGENTS.md` and change default JSON formatter
  .vscode/settings.json
  AGENTS.md
  CLAUDE.md
Due: lint-packages

[chore] Build standalone binary with stock Node.js binaries (#2317)
  .github/workflows/ci.yml
  .yarn/patches/@yao-pkg-pkg-fetch-npm-3.5.24-3b96980136.patch
  .yarn/patches/@yao-pkg-pkg-npm-6.6.0-d4777368b9.patch
  bin/compare-binary-size.js
  package.json
  scripts/tsdown-shared.mjs
  yarn.lock
Due: lint-packages

v5.17.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

Add junit long attribute regression test
  packages/plugin-junit/src/__tests__/upload.test.ts
Due: format, lint-readmes

Add junit long attribute regression test (#2323)
  packages/plugin-junit/src/__tests__/upload.test.ts
Due: format, lint-readmes

chore: add zed config
  .zed/settings.json
Due: lint-packages

[chore] Restore symlinked README (#2320)
  README.md
  packages/datadog-ci/README.md
Due: none

Rename to `dist-standalone:standard` and fix references
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  package.json
Due: lint-packages

[chore] Add Alpine x64 and arm64 standalone binaries
  .github/workflows/ci.yml
  .github/workflows/publish-release.yml
  package.json
  packages/base/src/helpers/is-standalone-binary.ts
  packages/datadog-ci/README.md
Due: format, lint-packages, lint-readmes

fix package.json
  package.json
Due: lint-packages

[dev] Add `AGENTS.md` and change default JSON formatter (#2321)
  .vscode/settings.json
  AGENTS.md
  CLAUDE.md
Due: lint-packages

update number of binaries
  RELEASING.md
Due: none

chore: scaffold base-serverless package
  .github/CODEOWNERS
  bin/lint-packages.ts
  jest.config.mjs
  package.json
  packages/base-serverless/package.json
  packages/base-serverless/src/helpers/serverless/__tests__/__snapshots__/flare.test.ts.snap
  packages/base-serverless/src/helpers/serverless/__tests__/common.test.ts
  packages/base-serverless/src/helpers/serverless/__tests__/flare.test.ts
  packages/base-serverless/src/helpers/serverless/common.ts
  packages/base-serverless/src/helpers/serverless/flare.ts
  packages/base-serverless/src/helpers/serverless/source-code-integration.ts
  packages/base-serverless/tsconfig.json
  packages/base/package.json
  packages/plugin-aas/package.json
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-aas/src/commands/uninstrument.ts
  packages/plugin-aas/src/common.ts
  packages/plugin-cloud-run/package.json
  packages/plugin-cloud-run/src/__tests__/flare.test.ts
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/commands/flare.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-container-app/package.json
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/uninstrument.ts
  packages/plugin-container-app/src/common.ts
  packages/plugin-lambda/package.json
  packages/plugin-lambda/src/__tests__/flare.test.ts
  packages/plugin-lambda/src/__tests__/instrument.test.ts
  packages/plugin-lambda/src/commands/flare.ts
  packages/plugin-lambda/src/commands/instrument.ts
  tsconfig.json
  yarn.lock
Due: format, lint-packages, lint-readmes

fix e2e path filters for base-serverless move
  .github/workflows/ci.yml
Due: none
