Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

[SVLS] implement SSI for container apps
  packages/base/src/commands/container-app/common.ts
  packages/base/src/commands/container-app/instrument.ts
  packages/base/src/helpers/serverless/ssi.ts
  packages/plugin-cloud-run/src/__tests__/instrument.test.ts
  packages/plugin-cloud-run/src/__tests__/uninstrument.test.ts
  packages/plugin-cloud-run/src/commands/instrument.ts
  packages/plugin-cloud-run/src/commands/uninstrument.ts
  packages/plugin-container-app/src/__tests__/__snapshots__/uninstrument.test.ts.snap
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/__tests__/uninstrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/uninstrument.ts
Due: format, lint-readmes

[SVLS] update readme
  packages/plugin-container-app/README.md
Due: none

[SYNTH-23450] Add JSON report output for `synthetics run-tests` (#2259)
  packages/base/src/commands/synthetics/run-tests.ts
  packages/plugin-synthetics/README.md
  packages/plugin-synthetics/src/__tests__/config-fixtures/config-with-all-keys.json
  packages/plugin-synthetics/src/__tests__/fixtures.ts
  packages/plugin-synthetics/src/__tests__/reporters/file.test.ts
  packages/plugin-synthetics/src/__tests__/reporters/json.test.ts
  packages/plugin-synthetics/src/__tests__/reporters/junit.test.ts
  packages/plugin-synthetics/src/__tests__/run-tests-lib.test.ts
  packages/plugin-synthetics/src/commands/__tests__/run-tests.test.ts
  packages/plugin-synthetics/src/commands/run-tests.ts
  packages/plugin-synthetics/src/examples/global-config-complete-example.json
  packages/plugin-synthetics/src/index.ts
  packages/plugin-synthetics/src/interfaces.ts
  packages/plugin-synthetics/src/reporters/default.ts
  packages/plugin-synthetics/src/reporters/file.ts
  packages/plugin-synthetics/src/reporters/json.ts
  packages/plugin-synthetics/src/reporters/junit.ts
  packages/plugin-synthetics/src/run-tests-lib.ts
Due: format, lint-packages, lint-readmes

Add local ESLint rule enforcing relative imports within packages/base
  eslint-local-plugin.mjs
  eslint.config.mjs
Due: none

Rename `thirdPartyRoute()` to `thirdParty()`
  CLAUDE.md
  CONTRIBUTING.md
  packages/base/package.json
  packages/base/src/helpers/__tests__/request.test.ts
  packages/base/src/helpers/__tests__/testing-tools.ts
  packages/base/src/helpers/request.ts
  packages/base/src/helpers/request/third-party-route.ts
  packages/base/src/helpers/request/third-party.ts
  packages/plugin-synthetics/src/api.ts
  packages/plugin-synthetics/src/commands/__tests__/run-tests.test.ts
Due: format, lint-packages, lint-readmes

fix(ci): use system.orchestrationId to disambiguate Worker logs on multi-runners
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

chore: bundle-lambda-function-deps
  datadog-ci.meta.json
Due: lint-packages

fix: match report header for PASS/FAIL instead of loose regex
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: use discover_datadog_logpoint to get the deployed SHA
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix(ci): use `system.orchestrationId` to disambiguate Worker logs on multi-runners (#2276)
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

chore: add smithy optional peer deps to plugin-lambda
  packages/plugin-lambda/package.json
  yarn.lock
Due: lint-packages

feat(autotest): add AgentReport type and parseAgentReport parser
  packages/base/src/commands/autotest/__tests__/parse-report.test.ts
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat(autotest): add getCiJobUrl helper and formatComment formatter
  packages/base/src/commands/autotest/__tests__/format-comment.test.ts
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

Replace postPrComment with postResults for inline review comments
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat(autotest): update system prompt to request structured JSON output
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat(autotest): update telemetry to use parsed AgentReport
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat(autotest): update report capture and write validation_report.md
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix(autotest): FAIL with empty findings now shows FAIL header, add edge case tests
  packages/base/src/commands/autotest/__tests__/format-comment.test.ts
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix(autotest): log warning when validation_report.md write fails
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix(autotest): fix report capture and posting bugs found in review
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

chore: add smithy optional peer deps to plugin-lambda (#2280)
  packages/plugin-lambda/package.json
  yarn.lock
Due: lint-packages

fix(sourcemaps): use upath.relative instead of String.replace for basePath removal
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes

chore: add --sidecar-image flag to aas and container-app instrument
  packages/base/src/commands/aas/common.ts
  packages/base/src/commands/aas/instrument.ts
  packages/base/src/commands/container-app/common.ts
  packages/base/src/commands/container-app/instrument.ts
  packages/plugin-aas/README.md
  packages/plugin-aas/src/__tests__/common.ts
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-container-app/README.md
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
Due: format, lint-readmes

Fix GitHub step-level tag discovery on hosted runner v2.334.0+
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Remove static paths now subsumed by `cached/**/_diag` glob
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Apply yarn format fixes
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Broaden glob patterns to drop the `cached` assumption
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

formatting
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

v5.13.2
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

v5.14.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

update description
  packages/base/src/commands/aas/instrument.ts
  packages/base/src/commands/container-app/instrument.ts
  packages/plugin-aas/README.md
  packages/plugin-container-app/README.md
Due: format, lint-readmes

[FRSLES-848] add --sidecar-image flag to aas and container-app instrument (#2290)
  packages/base/src/commands/aas/common.ts
  packages/base/src/commands/aas/instrument.ts
  packages/base/src/commands/container-app/common.ts
  packages/base/src/commands/container-app/instrument.ts
  packages/plugin-aas/README.md
  packages/plugin-aas/src/__tests__/common.ts
  packages/plugin-aas/src/__tests__/instrument.test.ts
  packages/plugin-aas/src/commands/instrument.ts
  packages/plugin-container-app/README.md
  packages/plugin-container-app/src/__tests__/instrument.test.ts
  packages/plugin-container-app/src/commands/instrument.ts
Due: format, lint-readmes

chore: de-flake aas tests
  e2e/aas-windows.test.ts
Due: format, lint-readmes

chore: de-flake aas tests (#2294)
  e2e/aas-windows.test.ts
Due: format, lint-readmes

feat: add upload of datadog:version-constraint component property for sca sbom upload
  packages/plugin-sbom/src/__tests__/fixtures/sbom-with-version-constraint.json
  packages/plugin-sbom/src/__tests__/payload.test.ts
  packages/plugin-sbom/src/__tests__/validation.test.ts
  packages/plugin-sbom/src/constants.ts
  packages/plugin-sbom/src/payload.ts
  packages/plugin-sbom/src/types.ts
Due: format, lint-packages, lint-readmes
