Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

chore: remove .github/dependabot.yml [incident-51602]
  .github/dependabot.yml
Due: none

feat: add --pr flag for local testing against GitHub PRs
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: parallelize prod data collection with subagent
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

[dev] Fix unit test failing when no API/App keys set locally (#2182)
  packages/base/src/commands/elf-symbols/__tests__/elf.test.ts
  packages/base/src/commands/elf-symbols/__tests__/upload.test.ts
  packages/base/src/commands/unity-symbols/__tests__/upload.test.ts
  packages/base/src/helpers/__tests__/plugin.test.ts
Due: format, lint-readmes

fix: let prod-data-collector subagent inherit all tools including MCP
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

Add rum-backend as owner to debug symbols commands
  .github/CODEOWNERS
Due: none

v5.10.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

fix: force prod-data-collector to use Live Debugger logpoints only
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: restrict prod-data-collector to only Live Debugger MCP tools
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: add GitHub PR comment tools via custom MCP server
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: enable PR comments in CI mode, not just --pr flag
  packages/base/src/commands/autotest/diff-context.ts
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: make PR comment posting a required Phase 3 step
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

refactor: use GitHub REST API instead of gh CLI for PR comments
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

refactor: use GitHub API for fetchPrDiff, remove gh CLI dependency
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

simplify: clean up review.ts from /simplify review
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

refactor: replace custom Spinner with ora
  packages/base/package.json
  packages/base/src/commands/autotest/review.ts
Due: format, lint-packages, lint-readmes

feat: load project CLAUDE.md for repo-specific context
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

chore: disable automated dependency updater config [incident-51602]
  .github/dependabot.yml
Due: none

chore: disable automated dependency updater config [incident-51602]
  .github/dependabot.yml.disabled
Due: none

feat: upsert PR comment instead of creating duplicates
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: redesign PR comment format for scannability
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: report telemetry to Datadog after each autotest run
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

chore: increase prod data capture duration from 60s to 5min
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat(sourcemaps): support `--commit-sha` to bypass git (#2164)
  packages/base/src/commands/sourcemaps/README.md
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/helpers/git/__tests__/format-git-sourcemaps-data.test.ts
  packages/base/src/helpers/git/format-git-sourcemaps-data.ts
Due: format, lint-readmes

fix: force Opus 4.6 on prod-data-collector subagent
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

Add `rum-backend` as owner to debug symbols commands (#2189)
  .github/CODEOWNERS
Due: none

fix: log full messages without truncation
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: show subagent activity in spinner and log
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: add --dry-run flag to skip PR comment posting
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

chore: update yarn.lock for ora dependency
  yarn.lock
Due: none

clarify allow to be missing DD_CUSTOM_STAGE_ID
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

fix: deepen fetch and fallback to two-dot diff for shallow clones
  packages/base/src/commands/autotest/diff-context.ts
Due: format, lint-readmes

refactor: always fetch diff via GitHub API, remove git diff dependency
  packages/base/src/commands/autotest/cli.ts
  packages/base/src/commands/autotest/diff-context.ts
  packages/base/src/commands/autotest/diff.ts
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: add GitLab MR diff support
  packages/base/src/commands/autotest/diff-context.ts
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: add execution proof to PR comment and method tag to telemetry
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

re-enable dependabot with 14-day cooldown
  .github/dependabot.yml
Due: none

fix: use correct DiffContext field name for provider detection message
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes
