Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

Remove dangling comma
  .github/workflows/ci.yml
Due: none

Fix e2e project to have plugins as dependencies
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Update standalone binary e2e test for synthetics
  standalone-e2e/standalone-binary.test.ts
Due: format, lint-readmes

Fix npm e2e test
  .github/workflows/ci.yml
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

[APMSVLS-160] (#2002) add java25
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/commons.ts
Due: format, lint-readmes

[docs] Update MIGRATING.md for v4 -> v5 (#2015)
  MIGRATING.md
Due: none

v5.0.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

Fix npm auto-install e2e project
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Fix yarn auto-install e2e project
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Simplify npm auto-install e2e
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Fix yarn e2e
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Use env var instead of resolution
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Fix trailing comma in NPM
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Move aas plugin override to auto-install step
  .github/workflows/ci.yml
Due: none

Fix both
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Fix during npx
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Fix during npx further
  .github/workflows/ci.yml
  bin/lint-packages.ts
Due: format, lint-readmes

Add `--legacy-peer-deps`
  .github/workflows/ci.yml
Due: none

Align all env vars
  .github/workflows/ci.yml
Due: none

Few nits
  .github/workflows/ci.yml
Due: none

Coverage upload: add tags for codeowners and coverage config path and SHA
  packages/base/src/commands/git-metadata/git.ts
  packages/datadog-ci/src/commands/coverage/api.ts
  packages/datadog-ci/src/commands/coverage/interfaces.ts
  packages/datadog-ci/src/commands/coverage/upload.ts
Due: format, lint-readmes

Update tests
  packages/datadog-ci/src/commands/coverage/__tests__/api.test.ts
Due: format, lint-readmes

Coverage upload: add tags for codeowners and coverage config path and sha (#2022)
  packages/base/src/commands/git-metadata/git.ts
  packages/datadog-ci/src/commands/coverage/__tests__/api.test.ts
  packages/datadog-ci/src/commands/coverage/api.ts
  packages/datadog-ci/src/commands/coverage/interfaces.ts
  packages/datadog-ci/src/commands/coverage/upload.ts
Due: format, lint-readmes

v5.1.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

[SDCI-1994] Use RUNNER_TEMP to retrieve job name in measure command
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Fix test
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Add support for Go Coverprofile code coverage reports
  packages/datadog-ci/src/commands/coverage/__tests__/fixtures/coverage-invalid.out
  packages/datadog-ci/src/commands/coverage/__tests__/fixtures/coverage.out
  packages/datadog-ci/src/commands/coverage/__tests__/upload.test.ts
  packages/datadog-ci/src/commands/coverage/__tests__/utils.test.ts
  packages/datadog-ci/src/commands/coverage/utils.ts
Due: format, lint-readmes

Fix typo everywhere
  packages/datadog-ci/src/commands/elf-symbols/renderer.ts
  packages/datadog-ci/src/commands/flutter-symbols/renderer.ts
  packages/datadog-ci/src/commands/pe-symbols/renderer.ts
  packages/datadog-ci/src/commands/react-native/renderer.ts
  packages/datadog-ci/src/commands/sourcemaps/renderer.ts
  packages/datadog-ci/src/commands/unity-symbols/renderer.ts
Due: format, lint-readmes

Align `--disable-git` description in readme
  packages/datadog-ci/src/commands/sourcemaps/README.md
Due: none

Add sentence in readme
  packages/datadog-ci/src/commands/sourcemaps/README.md
Due: none

Align with rest of the file
  packages/datadog-ci/src/commands/sourcemaps/README.md
Due: none

Replace wrong sentence
  packages/datadog-ci/src/commands/sourcemaps/README.md
Due: none

Remove unused link
  packages/datadog-ci/src/commands/sourcemaps/README.md
Due: none

Add unit test for `executePluginCommand`
  package.json
  packages/base/src/helpers/__tests__/plugin.test.ts
Due: format, lint-packages, lint-readmes

copy e2e for windows
  .github/workflows/ci.yml
Due: none

add `DEBUG=plugins`
  .github/workflows/ci.yml
Due: none

Do not mock in unit test
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/__tests__/testing-tools.ts
Due: format, lint-readmes

Try with `require()`
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Undo `--experimental-vm-modules`
  package.json
  packages/base/src/helpers/plugin.ts
Due: format, lint-packages, lint-readmes

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
