Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

Also migrate `plugin-terraform`
  packages/plugin-terraform/package.json
Due: lint-packages

Print plugin version when plugin is used
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Print datadog-ci version in all commands
  e2e/version.test.ts
  packages/base/src/version.ts
  packages/datadog-ci/src/cli.ts
Due: format, lint-readmes

document `PLUGIN_INSTALL_VERSION_OVERRIDE` env var
  .github/workflows/ci.yml
  packages/base/src/commands/plugin/install.ts
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

add `launch:dist` script to launch from dist
  package.json
Due: lint-packages

extract function
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

squash CTA on same line
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

refactor to also show CTA in `plugin check`
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

Do not include `descriptor` in `plugin check` output
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
Due: format, lint-readmes

[chore] Print datadog-ci and plugin versions (#2213)
  .github/workflows/ci.yml
  e2e/version.test.ts
  package.json
  packages/base/src/commands/plugin/install.ts
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/plugin.ts
  packages/base/src/version.ts
  packages/datadog-ci/src/cli.ts
Due: format, lint-packages, lint-readmes

[security] Set `User-Agent` for requests done by datadog-ci
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/__tests__/request.test.ts
  packages/base/src/helpers/plugin.ts
  packages/base/src/helpers/request.ts
  packages/base/src/helpers/user-agent.ts
Due: format, lint-readmes

Migrate prompts to modern Inquirer and drop checkbox-plus
  LICENSE-3rdparty.csv
  packages/base/package.json
  packages/base/src/helpers/__tests__/prompt.test.ts
  packages/base/src/helpers/inquirer.ts
  packages/base/src/helpers/prompt.ts
  packages/plugin-cloud-run/package.json
  packages/plugin-cloud-run/src/prompt.ts
  packages/plugin-lambda/package.json
  packages/plugin-lambda/src/__tests__/prompt.test.ts
  packages/plugin-lambda/src/functions/commons.ts
  packages/plugin-lambda/src/prompt.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

chore: add claude config
  .claude/settings.json
  .claude/skills/create-plugin/SKILL.md
  .claude/skills/write-tests/SKILL.md
  .gitignore
  CLAUDE.md
Due: lint-packages

update codeowners
  .github/CODEOWNERS
Due: none

fix verification
  .claude/settings.json
  CLAUDE.md
Due: lint-packages

Ignore dynamic tooling dependencies in Knip
  package.json
Due: lint-packages

Move synthetics proxy helpers out of base
  packages/base/src/helpers/__tests__/utils.test.ts
  packages/base/src/helpers/utils.ts
  packages/plugin-synthetics/package.json
  packages/plugin-synthetics/src/__tests__/batch.test.ts
  packages/plugin-synthetics/src/__tests__/fixtures.ts
  packages/plugin-synthetics/src/__tests__/proxy.test.ts
  packages/plugin-synthetics/src/__tests__/test.test.ts
  packages/plugin-synthetics/src/__tests__/tunnel/tunnel.test.ts
  packages/plugin-synthetics/src/api.ts
  packages/plugin-synthetics/src/interfaces.ts
  packages/plugin-synthetics/src/proxy.ts
  packages/plugin-synthetics/src/run-tests-lib.ts
  packages/plugin-synthetics/src/tunnel/tunnel.ts
  packages/plugin-synthetics/src/tunnel/websocket.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Fix synthetics import ordering
  packages/plugin-synthetics/src/__tests__/proxy.test.ts
  packages/plugin-synthetics/src/__tests__/test.test.ts
  packages/plugin-synthetics/src/__tests__/tunnel/tunnel.test.ts
  packages/plugin-synthetics/src/interfaces.ts
  packages/plugin-synthetics/src/run-tests-lib.ts
  packages/plugin-synthetics/src/tunnel/tunnel.ts
Due: format, lint-readmes

chore: add claude config (#2253)
  .claude/settings.json
  .claude/skills/create-plugin/SKILL.md
  .claude/skills/write-tests/SKILL.md
  .github/CODEOWNERS
  .gitignore
  CLAUDE.md
Due: lint-packages

[chore] Align all plugins to export `dist/bundle.d.ts`
  bin/create-plugin.sh
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

[chore] Align all plugins to export `bundle.d.ts` (#2258)
  bin/create-plugin.sh
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
Due: lint-packages

Add searchable Lambda checkbox prompt with Inquirer core
  package.json
  packages/base/package.json
  packages/base/src/helpers/inquirer.ts
  packages/plugin-lambda/src/__tests__/prompt.test.ts
  packages/plugin-lambda/src/prompt.ts
  packages/plugin-lambda/src/searchable-checkbox-prompt.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Fix CI lint and license metadata for inquirer core
  LICENSE-3rdparty.csv
  packages/base/src/helpers/inquirer.ts
  packages/plugin-lambda/src/prompt.ts
Due: format, lint-readmes

feat: add AUTOTEST_PATH_FILTER for --pr mode + maxTurns:50 to prevent timeout
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

Address comments
  packages/base/src/helpers/user-agent.ts
Due: format, lint-readmes

[chore] Upgrade `datadog-metrics` with patch to use `undici`
  .yarn/patches/datadog-metrics-npm-0.13.0-pre.1-d40793195b.patch
  LICENSE-3rdparty.csv
  packages/__mocks__/datadog-metrics.js
  packages/base/package.json
  packages/base/src/helpers/metrics.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

chore(build): Add `DEVTOOLS=true` to enable Vite DevTools
  LICENSE-3rdparty.csv
  package.json
  scripts/tsdown-cli-npm.mjs
  scripts/tsdown-cli-sea.mjs
  scripts/tsdown-plugin.mjs
  scripts/tsdown-shared.mjs
  yarn.lock
Due: lint-packages

[security] Set `User-Agent` for requests done by datadog-ci (#2251)
  packages/base/src/helpers/__tests__/plugin.test.ts
  packages/base/src/helpers/__tests__/request.test.ts
  packages/base/src/helpers/plugin.ts
  packages/base/src/helpers/request.ts
  packages/base/src/helpers/user-agent.ts
Due: format, lint-readmes

chore(plugin-lambda): externalize AWS SDK from extra bundles
  datadog-ci.meta.json
  packages/plugin-lambda/package.json
  scripts/tsdown-plugin.mjs
Due: lint-packages

Adapt `synpack`
  .syncpackrc.json
  package.json
  packages/plugin-lambda/package.json
  yarn.lock
Due: lint-packages

docs: document plugin bundle architecture and datadog-ci.meta.json
  CONTRIBUTING.md
Due: none

fix: abort query after 50min so process exits before CI job timeout
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

feat: add pr tag to telemetry metrics
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: require post_pr_comment tool (not gh/curl) to enable comment deduplication
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: escape backticks in system prompt template literal
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

chore(plugin-lambda): externalize AWS SDK from extra bundles (#2262)
  .syncpackrc.json
  CONTRIBUTING.md
  datadog-ci.meta.json
  package.json
  packages/plugin-lambda/package.json
  scripts/tsdown-plugin.mjs
  yarn.lock
Due: lint-packages

[docs] Improve datadog-ci install instructions in README
  README.md
Due: none

perf: reduce maxTurns to 25 and abort timeout to 25min
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

[docs] Improve datadog-ci install instructions in README (#2263)
  README.md
Due: none

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
