Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

simplify: run validation against current code only, drop BASE comparison
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: enforce --dry-run in system prompt, improve output testing guidance
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix step index and refactor
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/tag/__tests__/tag.test.ts
  packages/base/src/commands/tag/tag.ts
  packages/base/src/helpers/__tests__/ci-env/github.json
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci-levels.ts
  packages/base/src/helpers/ci.ts
  packages/plugin-deployment/src/__tests__/mark.test.ts
Due: format, lint-packages, lint-readmes

feat: adversarial testing + targeted prod data collection
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: instrument ALL changed functions, not just one
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

error if cant find step index
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

undo fixture change
  packages/base/src/helpers/__tests__/ci-env/github.json
Due: lint-packages

feat: create GitHub check run with in_progress/pass/fail status
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: use PR head SHA from event payload for check run
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: import getGitHubEventPayload in review.ts
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

simplify: use workflow job status as check, remove check run API code
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: broaden FAIL detection regex to match agent output
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: detect failure from agent result text more broadly
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

debug: log resultText to diagnose exit code
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: capture main agent result, not subagent result
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

fix: accumulate all result text for failure detection
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

re-enable dependabot with 2-day cooldown
  .github/dependabot.yml
Due: none

format
  packages/base/src/commands/measure/measure.ts
  packages/base/src/helpers/__tests__/ci.test.ts
  packages/base/src/helpers/ci.ts
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/uninstrument.ts
Due: format, lint-readmes

fix: force process.exit after review to avoid hanging on open connections
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

reduce logpoint wait from 5 minutes to 2 minutes
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

prompt: use go test -tags dynamic, never bazel
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

refactor: skip discover step, go straight to create_logpoint
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

Revert "refactor: skip discover step, go straight to create_logpoint"
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

refactor: update prod-data-collector prompt to skip discover, use git SHA
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

remove discover_datadog_logpoint from allowed tools
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

switch model from opus to sonnet for both main agent and subagent
  packages/base/src/commands/autotest/review.ts
Due: format, lint-readmes

undo changes
  packages/plugin-container-app/src/commands/instrument.ts
  packages/plugin-container-app/src/commands/uninstrument.ts
Due: format, lint-readmes

remove redundant checks
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

remove action check from step index search
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Revert "remove redundant checks"
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

Revert "remove action check from step index search"
  packages/base/src/helpers/ci.ts
Due: format, lint-readmes

[SVLS-8731] upgrade Azure webapp runtimes from Node 20 to Node 22 LTS
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
Due: format, lint-readmes

chore: add cleanup function
  e2e/cleanup-function/.gitignore
  e2e/cleanup-function/host.json
  e2e/cleanup-function/package.json
  e2e/cleanup-function/src/functions/cleanupResources.ts
  e2e/cleanup-function/tsconfig.json
Due: format, lint-packages, lint-readmes

wrap in backticks
  packages/base/src/commands/measure/README.md
  packages/base/src/commands/tag/README.md
Due: none

[SVLS-8731] add retries and increase timeouts for Azure e2e tests
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
  e2e/container-app.test.ts
Due: format, lint-readmes

[SVLS-8731] add more Azure transient error patterns to retryable list
  e2e/helpers/exec.ts
Due: format, lint-readmes

[SVLS-8731] add aas integration tests (#2175)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  e2e/aas-linux.test.ts
  e2e/aas-windows.test.ts
  e2e/container-app.test.ts
  e2e/fixtures/aas/README.md
  e2e/helpers/aas-verifier.ts
  e2e/helpers/exec.ts
Due: format, lint-readmes

chore: only run azure e2e tests on specific files
  .github/workflows/ci.yml
Due: none

chore: only run azure e2e tests on specific files (#2193)
  .github/workflows/ci.yml
Due: none

Pin exact axios version
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-synthetics/package.json
  packages/plugin-terraform/package.json
  yarn.lock
Due: lint-packages

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
