Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

format:
  name: format
  entry: yarn format
  language: system

lint-packages:
  name: lint packages
  entry: yarn lint:packages --fix
  language: system
  pass_filenames: false

lint-readmes:
  name: lint readme usage
  entry: yarn lint:readme-usage --fix
  language: system
  pass_filenames: false

Run `mv packages/datadog-ci/src/commands/flutter-symbols packages/base/src/commands`
  packages/base/package.json
  packages/base/src/commands/flutter-symbols/README.md
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/android/fake-mapping.txt
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/config/datadog-ci.json
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/dart-symbols/app.android-arm.symbols
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/dart-symbols/app.android-arm64.symbols
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/dart-symbols/app.android-x64.symbols
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/dart-symbols/app.ios-arm64.symbols
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/buildPubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/invalidPubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/missingVersionPubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/prereleasePubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/fixtures/pubspecs/validPubspec.yaml
  packages/base/src/commands/flutter-symbols/__tests__/upload.test.ts
  packages/base/src/commands/flutter-symbols/cli.ts
  packages/base/src/commands/flutter-symbols/helpers.ts
  packages/base/src/commands/flutter-symbols/interfaces.ts
  packages/base/src/commands/flutter-symbols/renderer.ts
  packages/base/src/commands/flutter-symbols/upload.ts
Due: format, lint-packages, lint-readmes

Update `cli.ts` files
  packages/base/src/cli.ts
  packages/base/src/commands/flutter-symbols/cli.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/src/commands/cli.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Run `yarn format`
  packages/base/src/commands/flutter-symbols/helpers.ts
  packages/base/src/commands/flutter-symbols/renderer.ts
  packages/base/src/commands/flutter-symbols/upload.ts
Due: format, lint-readmes

Move leftover test
  packages/base/src/helpers/git/__tests__/format-git-sourcemaps-data.test.ts
Due: format, lint-readmes

Adjust `lint-packages.ts`
  bin/lint-packages.ts
Due: format, lint-readmes

Update `cli.ts` files
  packages/base/src/cli.ts
  packages/base/src/commands/pe-symbols/cli.ts
  packages/datadog-ci/src/commands/cli.ts
Due: format, lint-readmes

Run `mv packages/datadog-ci/src/commands/pe-symbols packages/base/src/commands`
  packages/base/src/commands/pe-symbols/README.md
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_example.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_invalid_no_module.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_invalid_non_ascii.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_public_only.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/config/datadog-ci.json
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_with_pdb_32.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_with_pdb_64.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_without_pdb_32.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_without_pdb_64.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/invalid.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/small_invalid.dll
  packages/base/src/commands/pe-symbols/__tests__/pe.test.ts
  packages/base/src/commands/pe-symbols/breakpad.ts
  packages/base/src/commands/pe-symbols/cli.ts
  packages/base/src/commands/pe-symbols/helpers.ts
  packages/base/src/commands/pe-symbols/interfaces.ts
  packages/base/src/commands/pe-symbols/pe-constants.ts
  packages/base/src/commands/pe-symbols/pe.ts
  packages/base/src/commands/pe-symbols/renderer.ts
  packages/base/src/commands/pe-symbols/upload.ts
Due: format, lint-packages, lint-readmes

Run `yarn format`
  packages/base/src/commands/pe-symbols/renderer.ts
  packages/base/src/commands/pe-symbols/upload.ts
Due: format, lint-readmes

[chores] Move `pe-symbols` to base package (#2103)
  bin/lint-packages.ts
  packages/base/src/cli.ts
  packages/base/src/commands/pe-symbols/README.md
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_example.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_invalid_no_module.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_invalid_non_ascii.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_public_only.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/config/datadog-ci.json
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_with_pdb_32.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_with_pdb_64.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_without_pdb_32.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_without_pdb_64.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/invalid.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/small_invalid.dll
  packages/base/src/commands/pe-symbols/__tests__/pe.test.ts
  packages/base/src/commands/pe-symbols/breakpad.ts
  packages/base/src/commands/pe-symbols/cli.ts
  packages/base/src/commands/pe-symbols/helpers.ts
  packages/base/src/commands/pe-symbols/interfaces.ts
  packages/base/src/commands/pe-symbols/pe-constants.ts
  packages/base/src/commands/pe-symbols/pe.ts
  packages/base/src/commands/pe-symbols/renderer.ts
  packages/base/src/commands/pe-symbols/upload.ts
  packages/datadog-ci/src/commands/cli.ts
  packages/datadog-ci/src/commands/pe-symbols/cli.ts
Due: format, lint-packages, lint-readmes

Update `cli.ts` files
  packages/base/src/cli.ts
  packages/base/src/commands/react-native/cli.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/src/commands/cli.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Run `yarn format`
  packages/base/src/commands/react-native/__tests__/codepush.test.ts
  packages/base/src/commands/react-native/__tests__/inject-debug-id.test.ts
  packages/base/src/commands/react-native/__tests__/upload.test.ts
  packages/base/src/commands/react-native/__tests__/xcode.test.ts
  packages/base/src/commands/react-native/codepush.ts
  packages/base/src/commands/react-native/injectDebugId.ts
  packages/base/src/commands/react-native/renderer.ts
  packages/base/src/commands/react-native/upload.ts
  packages/base/src/commands/react-native/xcode.ts
Due: format, lint-readmes

Run `mv packages/datadog-ci/src/commands/measure packages/base/src/commands`
  packages/base/src/commands/measure/README.md
  packages/base/src/commands/measure/__tests__/fixtures/empty.json
  packages/base/src/commands/measure/__tests__/fixtures/invalid.json
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/measure/cli.ts
  packages/base/src/commands/measure/measure.ts
Due: format, lint-packages, lint-readmes

Run `mv packages/datadog-ci/src/commands/span packages/base/src/commands`
  packages/base/src/commands/span/README.md
  packages/base/src/commands/span/__tests__/span.test.ts
  packages/base/src/commands/span/cli.ts
  packages/base/src/commands/span/span.ts
Due: format, lint-readmes

Run `mv packages/datadog-ci/src/commands/trace packages/base/src/commands`
  packages/base/src/commands/trace/README.md
  packages/base/src/commands/trace/__tests__/trace.test.ts
  packages/base/src/commands/trace/api.ts
  packages/base/src/commands/trace/cli.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/interfaces.ts
  packages/base/src/commands/trace/test-utils.ts
  packages/base/src/commands/trace/trace.ts
Due: format, lint-readmes

Update `cli.ts` files
  packages/base/src/cli.ts
  packages/base/src/commands/measure/cli.ts
  packages/base/src/commands/span/cli.ts
  packages/base/src/commands/trace/cli.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/src/commands/cli.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Run `yarn format`
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/span/span.ts
  packages/base/src/commands/trace/__tests__/trace.test.ts
  packages/base/src/commands/trace/helper.ts
Due: format, lint-readmes

Fix `lint-packages.ts`
  bin/lint-packages.ts
Due: format, lint-readmes

[chores] Move `measure`, `span` and `trace` to base package (#2105)
  bin/lint-packages.ts
  packages/base/src/cli.ts
  packages/base/src/commands/measure/README.md
  packages/base/src/commands/measure/__tests__/fixtures/empty.json
  packages/base/src/commands/measure/__tests__/fixtures/invalid.json
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/measure/cli.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/span/README.md
  packages/base/src/commands/span/__tests__/span.test.ts
  packages/base/src/commands/span/cli.ts
  packages/base/src/commands/span/span.ts
  packages/base/src/commands/trace/README.md
  packages/base/src/commands/trace/__tests__/trace.test.ts
  packages/base/src/commands/trace/api.ts
  packages/base/src/commands/trace/cli.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/interfaces.ts
  packages/base/src/commands/trace/test-utils.ts
  packages/base/src/commands/trace/trace.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/src/commands/cli.ts
  packages/datadog-ci/src/commands/measure/cli.ts
  packages/datadog-ci/src/commands/span/cli.ts
  packages/datadog-ci/src/commands/trace/cli.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Finally get rid of `cli.ts` in datadog-ci package
  bin/lint-packages.ts
  packages/base/src/cli.ts
  packages/base/src/commands/version/cli.ts
  packages/base/src/commands/version/version.ts
  packages/datadog-ci/src/commands/cli.ts
Due: format, lint-readmes

Remove mentions of "plugin migration" in the repo
  bin/create-plugin.sh
  bin/lint-packages.ts
  bin/migrate.sh
  package.json
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/datadog-ci/src/cli.ts
Due: format, lint-packages, lint-readmes

Update contributing.md
  CONTRIBUTING.md
Due: none

[chores] Finalize plugin migration and clean up (#2106)
  CONTRIBUTING.md
  bin/create-plugin.sh
  bin/lint-packages.ts
  bin/migrate.sh
  package.json
  packages/base/src/cli.ts
  packages/base/src/commands/version/cli.ts
  packages/base/src/commands/version/version.ts
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/datadog-ci/src/cli.ts
  packages/datadog-ci/src/commands/cli.ts
Due: format, lint-packages, lint-readmes

[dep] Bump `ajv` to `8.18.0`
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  yarn.lock
Due: lint-packages

[dep] Bump `tar` to `7.5.8`
  yarn.lock
Due: none

Bump fast-xml-parser direct deps
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-junit/package.json
  yarn.lock
Due: lint-packages

Run `yarn up @aws-sdk/credential-provider-ini`
  packages/plugin-lambda/package.json
  yarn.lock
Due: lint-packages

Run `yarn set resolution @aws-sdk/xml-builder@npm:^3.972.2 npm:3.972.5`
  yarn.lock
Due: none

Run `yarn up glob`
  packages/base/package.json
  yarn.lock
Due: lint-packages

Run `yarn set resolution glob@npm:^13.0.0 npm:13.0.5`
  yarn.lock
Due: none

Add read-ci-env subcommand
  bin/lint-packages.ts
  packages/base/src/cli.ts
  packages/base/src/commands/ci-env/__tests__/read-ci-env.test.ts
  packages/base/src/commands/ci-env/cli.ts
  packages/base/src/commands/ci-env/read-ci-env.ts
Due: format, lint-readmes

Add fips command support
  packages/base/src/commands/ci-env/read-ci-env.ts
Due: format, lint-readmes

Bump fast-xml-parser again to fix build
  packages/base/package.json
  packages/plugin-coverage/package.json
  packages/plugin-junit/package.json
  yarn.lock
Due: lint-packages

[dep] Bump `ajv` to `8.18.0` (#2119)
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  yarn.lock
Due: lint-packages

[dep] Bump `tar` to `7.5.8` (#2120)
  yarn.lock
Due: none

[dep] Bump `glob`, `minimatch@10.2.1` (#2121)
  packages/base/package.json
  yarn.lock
Due: lint-packages

Path conditions:
  format: any of: \.(ts|mts|cts)$
  lint-packages: any of: \.json$
  lint-readmes: any of: \.(ts|mts|cts)$
