Repository DataDog/datadog-ci: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint-packages, lint-readmes

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: format
        entry: yarn format
        language: system
        types: [ts]
      - id: lint-packages
        name: lint packages
        entry: yarn lint:packages --fix
        language: system
        types: [json]
        pass_filenames: false
      - id: lint-readmes
        name: lint readme usage
        entry: yarn lint:readme-usage --fix
        language: system
        types: [ts]
        pass_filenames: false

Run `mv packages/datadog-ci/src/commands/pe-symbols packages/base/src/commands`
  packages/base/src/commands/pe-symbols/README.md
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_example.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_invalid_no_module.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_invalid_non_ascii.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/breakpad_public_only.sym
  packages/base/src/commands/pe-symbols/__tests__/fixtures/config/datadog-ci.json
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_with_pdb_32.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_with_pdb_64.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_without_pdb_32.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/exports_without_pdb_64.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/invalid.dll
  packages/base/src/commands/pe-symbols/__tests__/fixtures/small_invalid.dll
  packages/base/src/commands/pe-symbols/__tests__/pe.test.ts
  packages/base/src/commands/pe-symbols/breakpad.ts
  packages/base/src/commands/pe-symbols/cli.ts
  packages/base/src/commands/pe-symbols/helpers.ts
  packages/base/src/commands/pe-symbols/interfaces.ts
  packages/base/src/commands/pe-symbols/pe-constants.ts
  packages/base/src/commands/pe-symbols/pe.ts
  packages/base/src/commands/pe-symbols/renderer.ts
  packages/base/src/commands/pe-symbols/upload.ts
Due: format, lint-packages, lint-readmes

Update `cli.ts` files
  packages/base/src/cli.ts
  packages/base/src/commands/pe-symbols/cli.ts
  packages/datadog-ci/src/commands/cli.ts
Due: format, lint-readmes

Run `yarn format`
  packages/base/src/commands/pe-symbols/renderer.ts
  packages/base/src/commands/pe-symbols/upload.ts
Due: format, lint-readmes

Adjust `lint-packages.ts`
  bin/lint-packages.ts
Due: format, lint-readmes

Run `yarn format`
  packages/base/src/commands/react-native/__tests__/codepush.test.ts
  packages/base/src/commands/react-native/__tests__/inject-debug-id.test.ts
  packages/base/src/commands/react-native/__tests__/upload.test.ts
  packages/base/src/commands/react-native/__tests__/xcode.test.ts
  packages/base/src/commands/react-native/codepush.ts
  packages/base/src/commands/react-native/injectDebugId.ts
  packages/base/src/commands/react-native/renderer.ts
  packages/base/src/commands/react-native/upload.ts
  packages/base/src/commands/react-native/xcode.ts
Due: format, lint-readmes

Update `cli.ts` files
  packages/base/src/cli.ts
  packages/base/src/commands/react-native/cli.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/src/commands/cli.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Run `mv packages/datadog-ci/src/commands/measure packages/base/src/commands`
  packages/base/src/commands/measure/README.md
  packages/base/src/commands/measure/__tests__/fixtures/empty.json
  packages/base/src/commands/measure/__tests__/fixtures/invalid.json
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/measure/cli.ts
  packages/base/src/commands/measure/measure.ts
Due: format, lint-packages, lint-readmes

Run `mv packages/datadog-ci/src/commands/span packages/base/src/commands`
  packages/base/src/commands/span/README.md
  packages/base/src/commands/span/__tests__/span.test.ts
  packages/base/src/commands/span/cli.ts
  packages/base/src/commands/span/span.ts
Due: format, lint-readmes

Run `mv packages/datadog-ci/src/commands/trace packages/base/src/commands`
  packages/base/src/commands/trace/README.md
  packages/base/src/commands/trace/__tests__/trace.test.ts
  packages/base/src/commands/trace/api.ts
  packages/base/src/commands/trace/cli.ts
  packages/base/src/commands/trace/helper.ts
  packages/base/src/commands/trace/interfaces.ts
  packages/base/src/commands/trace/test-utils.ts
  packages/base/src/commands/trace/trace.ts
Due: format, lint-readmes

Update `cli.ts` files
  packages/base/src/cli.ts
  packages/base/src/commands/measure/cli.ts
  packages/base/src/commands/span/cli.ts
  packages/base/src/commands/trace/cli.ts
  packages/datadog-ci/package.json
  packages/datadog-ci/src/commands/cli.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

Run `yarn format`
  packages/base/src/commands/measure/__tests__/measure.test.ts
  packages/base/src/commands/measure/measure.ts
  packages/base/src/commands/span/span.ts
  packages/base/src/commands/trace/__tests__/trace.test.ts
  packages/base/src/commands/trace/helper.ts
Due: format, lint-readmes

Fix `lint-packages.ts`
  bin/lint-packages.ts
Due: format, lint-readmes

Finally get rid of `cli.ts` in datadog-ci package
  bin/lint-packages.ts
  packages/base/src/cli.ts
  packages/base/src/commands/version/cli.ts
  packages/base/src/commands/version/version.ts
  packages/datadog-ci/src/commands/cli.ts
Due: format, lint-readmes

Remove mentions of "plugin migration" in the repo
  bin/create-plugin.sh
  bin/lint-packages.ts
  bin/migrate.sh
  package.json
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/datadog-ci/src/cli.ts
Due: format, lint-packages, lint-readmes

Update contributing.md
  CONTRIBUTING.md
Due: none

Add fallback detection, small refactor
  packages/plugin-coverage/src/__tests__/fixtures/cover.profile
  packages/plugin-coverage/src/__tests__/utils.test.ts
  packages/plugin-coverage/src/utils.ts
Due: format, lint-readmes

update tests
  packages/plugin-coverage/src/__tests__/upload.test.ts
Due: format, lint-readmes

Restrict content-sniffing fallback to explicitly specified files
  packages/plugin-coverage/src/commands/upload.ts
  packages/plugin-coverage/src/utils.ts
Due: format, lint-readmes

Update tests for content-sniffing restricted to explicit file paths
  packages/plugin-coverage/src/__tests__/upload.test.ts
Due: format, lint-readmes

Add Kotlin Kover coverage report auto-detection
  packages/plugin-coverage/src/__tests__/fixtures/kover/report.xml
  packages/plugin-coverage/src/__tests__/utils.test.ts
  packages/plugin-coverage/src/utils.ts
Due: format, lint-readmes

Improve name detection
  packages/plugin-coverage/src/utils.ts
Due: format, lint-readmes

Fix upload coverage tests
  packages/plugin-coverage/src/__tests__/upload.test.ts
Due: format, lint-readmes

dep: Upgrade `axios` to `1.13.5`
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-synthetics/package.json
  yarn.lock
Due: lint-packages

Run `yarn lint:packages --fix`
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  yarn.lock
Due: lint-packages

dep: Upgrade `axios` to `1.13.5` (#2115)
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-synthetics/package.json
  yarn.lock
Due: lint-packages

[SVLS-8314] add `lambda cloudwatch` command (#2097)
  packages/base/src/commands/lambda/cli.ts
  packages/base/src/commands/lambda/cloudwatch.ts
  packages/datadog-ci/shims/injected-plugin-submodules.js
  packages/datadog-ci/src/__tests__/cli.test.ts
  packages/plugin-lambda/package.json
  packages/plugin-lambda/src/__tests__/cloudwatch.test.ts
  packages/plugin-lambda/src/commands/cloudwatch.ts
  packages/plugin-lambda/src/commands/instrument.ts
  packages/plugin-lambda/src/commands/uninstrument.ts
  packages/plugin-lambda/src/constants.ts
  packages/plugin-lambda/src/functions/cloudwatch.ts
  packages/plugin-lambda/src/renderers/cloudwatch-renderer.ts
  packages/plugin-lambda/src/renderers/common-renderer.ts
  packages/plugin-lambda/src/renderers/instrument-uninstrument-renderer.ts
  yarn.lock
Due: format, lint-packages, lint-readmes

[SVLS-8314] add cloudwatch commands to readme
  bin/lint-readme-usage.ts
  packages/plugin-lambda/README.md
Due: format, lint-readmes

[SVLS-8314] clean up readme
  packages/plugin-lambda/README.md
Due: none

[SVLS-8314] regen readme
  packages/plugin-lambda/README.md
Due: none

[SVLS-8314] add caveat
  packages/plugin-lambda/README.md
Due: none

[SVLS-8314] add cloudwatch commands to readme (#2099)
  bin/lint-readme-usage.ts
  packages/plugin-lambda/README.md
Due: format, lint-readmes

v5.8.0
  packages/base/package.json
  packages/datadog-ci/package.json
  packages/plugin-aas/package.json
  packages/plugin-cloud-run/package.json
  packages/plugin-container-app/package.json
  packages/plugin-coverage/package.json
  packages/plugin-deployment/package.json
  packages/plugin-dora/package.json
  packages/plugin-gate/package.json
  packages/plugin-junit/package.json
  packages/plugin-lambda/package.json
  packages/plugin-sarif/package.json
  packages/plugin-sbom/package.json
  packages/plugin-stepfunctions/package.json
  packages/plugin-synthetics/package.json
Due: lint-packages

Run `mv packages/datadog-ci/src/commands/sourcemaps packages/base/src/commands`
  packages/base/src/commands/sourcemaps/README.md
  packages/base/src/commands/sourcemaps/__tests__/fixtures/basic/common.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/basic/common.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/empty-file/sourcefile-empty.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/empty-file/sourcefile-empty.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/empty-file/sourcemap-empty.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/empty-file/sourcemap-empty.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/sourcemap-with-no-files/empty.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/sourcemap-with-no-files/empty.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/stdout-output/all-skipped/file.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/stdout-output/all-skipped/file2.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/stdout-output/mixed/with-min-file.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/stdout-output/mixed/with-min-file.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/stdout-output/mixed/with-min-file2.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/stdout-output/mixed/with-min-file2.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/stdout-output/mixed/without-min-file.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/with-absolute-sourcemap-url/chunk.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/with-absolute-sourcemap-url/chunk.min.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/with-encoded-sourcemap-url/[some-bundler]_runtime.js.map
  packages/base/src/commands/sourcemaps/__tests__/fixtures/with-encoded-sourcemap-url/runtime.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/with-sourcemap-url/bundle.min.js
  packages/base/src/commands/sourcemaps/__tests__/fixtures/with-sourcemap-url/some-random-hash.js.map
  packages/base/src/commands/sourcemaps/__tests__/mjs/common.mjs
  packages/base/src/commands/sourcemaps/__tests__/mjs/common.mjs.map
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/__tests__/utils.test.ts
  packages/base/src/commands/sourcemaps/cli.ts
  packages/base/src/commands/sourcemaps/interfaces.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
  packages/base/src/commands/sourcemaps/utils.ts
  packages/base/src/commands/sourcemaps/validation.ts
Due: format, lint-readmes

Update `cli.ts` files
  packages/base/src/cli.ts
  packages/base/src/commands/sourcemaps/cli.ts
  packages/datadog-ci/src/commands/cli.ts
Due: format, lint-readmes

Run `yarn format`
  packages/base/src/commands/sourcemaps/__tests__/upload.test.ts
  packages/base/src/commands/sourcemaps/renderer.ts
  packages/base/src/commands/sourcemaps/upload.ts
Due: format, lint-readmes
